{% if googleAnalyticsId %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
<script nonce='{{ cspNonce }}'>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ googleAnalyticsId }}', {
    site_speed_sample_rate : 100
  });
</script>
{% endif %}