<h1 class='govuk-heading-m govuk-visually-hidden'>Personal details<span class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set offenderManagerHtml %}
            <ul class='govuk-list'>
                <li>Name: {{ caseSummary.offenderManager.name }}</li>
                <li>Team: {{ caseSummary.offenderManager.probationTeam.label }}</li>
                <li>Code: {{ caseSummary.offenderManager.probationTeam.code }}</li>
                {% if caseSummary.offenderManager.phoneNumber %}<li>Telephone: {{ caseSummary.offenderManager.phoneNumber }}</li>{% endif %}
                {% if caseSummary.offenderManager.email %}<li>Email: <a href='mailto:{{ caseSummary.offenderManager.email }}' target='_blank' rel='noopener' data-qa='offenderManagerEmail'>{{ caseSummary.offenderManager.email }}</a></li>{% endif %}
            </ul>
        {% endset %}
        {% set addressHtml %}
            {% if caseSummary.currentAddress.line1 %}<div>{{ caseSummary.currentAddress.line1 }}</div>{% endif %}
            {% if caseSummary.currentAddress.line2 %}<div>{{ caseSummary.currentAddress.line2 }}</div>{% endif %}
            {% if caseSummary.currentAddress.town %}<div>{{ caseSummary.currentAddress.town }}</div>{% endif %}
            {% if caseSummary.currentAddress.postcode %}<div>{{ caseSummary.currentAddress.postcode }}</div>{% endif %}
        {% endset %}
        {{ appSummaryCard({
            titleText: 'Personal details',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: govukSummaryList({
                rows: [
                    {
                        key: { html: 'Current address' },
                        value: { html: addressHtml }
                    },
                    {
                        key: { text: 'Probation practitioner' },
                        value: { html: offenderManagerHtml }
                    }
                ]
            })
        }) }}
    </div>
</div>
