<h1 class='govuk-heading-m govuk-visually-hidden'>Recommendations<span
            class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Recommendations</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date started</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">Date document created</th>
                <th scope="col" class="govuk-table__header">Recommendation</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for recommendation in caseSummary.recommendations %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    {{ formatDateTimeFromIsoString({isoDate: recommendation.createdDate})}}
                </td>
                <td class="govuk-table__cell">
                    {{ formatDateTimeFromIsoString({isoDate: recommendation.lastModifiedDate})}}
                </td>
                <td class="govuk-table__cell">
                    {{ formatDateTimeFromIsoString({isoDate: recommendation.documentCreatedDate}) if recommendation.documentCreatedDate else '-'}}
                </td>
                <td class="govuk-table__cell">
                    <a href='/rec-prototype/{{ caseSummary.personalDetailsOverview.crn }}/behaviour' class='govuk-link'>{{ recommendation.action }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
