<h1 class='govuk-heading-m govuk-visually-hidden'>Contact history<span class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="flex-desktop flex--space-between">
    {% include './contactFilters.njk' %}
    <div class="flex__item-two-thirds-desktop govuk-!-padding-left-4">
        {% set innerLoopIndex = 0 %}
        <div>
        <h2 class='govuk-body govuk-!-display-inline-block govuk-!-margin-bottom-4 govuk-!-font-weight-bold'{% if caseSummary.hasActiveFilters %} data-js='focus-on-page-load'{% endif %}>
            {{ countLabel({ count: caseSummary.contactCount, noun: 'contact'}) }}
        </h2>
        </div>
        <div class="filter-toggle"></div>
        {% for group in caseSummary.contactSummary.items %}
            <h3 class='govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-2' data-qa='date-{{ loop.index0 }}' data-analytics-event-scroll='{{ group.groupValue }}'>
                {{ formatDateTimeFromIsoString({ isoDate: group.groupValue, dateOnly: true}) }}
            </h3>
            {% for contact in group.items %}
                {% include './contactHistory/contact.njk' %}
                {% set innerLoopIndex = innerLoopIndex + 1 %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script nonce='{{ cspNonce }}'>
  new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: "(min-width: 48.063em)",
    startHidden: false,
    toggleButton: {
      container: $(".filter-toggle"),
      showText: "Show filter",
      hideText: "Hide filter",
      classes: "govuk-button--secondary",
    },
    closeButton: {
      container: $(".moj-filter__header-action"),
      text: "Close",
    },
    filter: {
      container: $(".moj-filter"),
    },
  });
</script>