<h1 class='govuk-heading-m govuk-visually-hidden'>Licence conditions<span
            class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% for offence in caseSummary.offences %}
            <div class='govuk-!-margin-bottom-8'>
                <h2 class='govuk-heading-m'>Licence {{ loop.index }}</h2>
                {% set offenceHtml %}
                    {% for offenceItem in offence.offences %}
                       <p class='govuk-body'>{{ offenceItem.description }}</p>
                    {% endfor %}
                {% endset %}
                {{ govukSummaryList({
                    classes: 'govuk-summary-list--no-border',
                    attributes: {
                        'data-qa': 'summary-' + loop.index
                    },
                    rows: [
                        {
                            key: { html: 'Offence' },
                            value: { html: offenceHtml }
                        },
                        {
                            key: { text: 'Sentence description' },
                            value: { text: offence.sentenceDescription if offence.sentenceDescription else 'Not available' }
                        },
                        {
                            key: { text: 'Sentence length' },
                            value: { text: (offence.sentenceOriginalLength + ' ' + offence.sentenceOriginalLengthUnits) if offence.sentenceOriginalLength else 'Not available' }
                        },
                        {
                            key: { text: 'Sentence start date' },
                            value: { text: formatDateTimeFromIsoString({isoDate: offence.sentenceStartDate}) if offence.sentenceStartDate else 'Not available' }
                        },
                        {
                            key: { text: 'Release from custody date' },
                            value: { text: formatDateTimeFromIsoString({isoDate: caseSummary.releaseSummary.lastRelease.date}) if caseSummary.releaseSummary.lastRelease.date else 'Not available' }
                        } if loop.index == 1 else undefined,
                        {
                            key: { text: 'Last recall date' },
                            value: { text: formatDateTimeFromIsoString({isoDate: caseSummary.releaseSummary.lastRecall.date}) if caseSummary.releaseSummary.lastRecall.date else 'Not available'}
                        } if loop.index == 1 else undefined,
                        {
                            key: { text: 'Licence expiry date' },
                            value: { text: formatDateTimeFromIsoString({isoDate: offence.licenceExpiryDate}) if offence.licenceExpiryDate else 'Not available' }
                        } if loop.index == 1 else undefined,
                        {
                            key: { text: 'Post-sentence supervision end date' },
                            value: { text: formatDateTimeFromIsoString({isoDate: offence.postSentenceSupervisionEndDate}) if offence.postSentenceSupervisionEndDate else 'Not available' }
                        } if loop.index == 1 else undefined
                    ]
                }) }}
                {% if offence.licenceConditions.length %}
                    <table class="govuk-table" id='table-licence-conditions-{{ loop.index0 }}'>
                        <caption class="govuk-table__caption govuk-visually-hidden">Licence conditions for
                            offence {{ loop.index }}</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" aria-sort="descending">Type</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Description</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Notes</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Active</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Start date</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Termination date</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        {% for licenceCondition in offence.licenceConditions %}
                            <tr class="govuk-table__row" data-qa='row-{{ loop.index0 }}'>
                                <td class="govuk-table__cell">{{ licenceCondition.licenceConditionTypeMainCat.code }}
                                    - {{ licenceCondition.licenceConditionTypeMainCat.description }}</td>
                                <td class="govuk-table__cell">{{ licenceCondition.licenceConditionTypeSubCat.code }}
                                    - {{ licenceCondition.licenceConditionTypeSubCat.description }}</td>
                                <td class="govuk-table__cell">{{ licenceCondition.licenceConditionNotes }}</td>
                                <td class="govuk-table__cell">{{ 'Yes' if licenceCondition.active else 'No' }}</td>
                                <td class="govuk-table__cell" data-sort-value='{{ licenceCondition.startDate }}'>
                                    <span class='no-wrap-tablet'>{{ formatDateTimeFromIsoString({isoDate: licenceCondition.startDate}) }}</span>
                                </td>
                                <td class="govuk-table__cell" data-sort-value='{{ licenceCondition.terminationDate }}'>
                                    <span class='no-wrap-tablet'>{{ formatDateTimeFromIsoString({isoDate: licenceCondition.terminationDate}) }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script nonce='{{ cspNonce }}'>
                      new MOJFrontend.SortableTable({
                        table: $('#table-licence-conditions-{{ loop.index0 }}')[0],
                      })
                    </script>
                {% else %}
                    <p class='govuk-body'>There are no licence conditions attached to this event in NDelius.</p>
                {% endif %}
            </div>
        {% endfor %}

    </div>
</div>
