<h1 class='govuk-heading-m govuk-visually-hidden'>Licence conditions (Create & vary a licence)<span
            class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% for licenceCondition in caseSummary.licenceConditions %}
            <h2 class='govuk-heading-m'>Licence condition {{ loop.index }}</h2>
            <table class='govuk-table'>
                <tbody class="govuk-table__body">
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>licenceStartDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.licenceStartDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>topupSupervisionStartDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.topupSupervisionStartDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                         <th class='govuk-table__header'>topupSupervisionExpiryDate</th>
                         <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.topupSupervisionExpiryDate, dateOnly: true }) }}</td>
                     </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>actualReleaseDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.actualReleaseDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>licenceExpiryDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.licenceExpiryDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>conditionalReleaseDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.conditionalReleaseDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>sentenceStartDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.sentenceStartDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>sentenceEndDate</th>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: licenceCondition.sentenceEndDate, dateOnly: true }) }}</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>additionalPssConditions</th>
                        <td class="govuk-table__cell">
                            {% for item in licenceCondition.additionalPssConditions %}
                                <div>{{ item.text }}</div>
                                {% if item.expandedText %}<div>expandedText: {{ item.expandedText }}</div>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>bespokeConditions</th>
                        <td class="govuk-table__cell">
                            {% for item in licenceCondition.bespokeConditions %}
                                <div>{{ item.text }}</div>
                                {% if item.expandedText %}<div>expandedText: {{ item.expandedText }}</div>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>standardLicenceConditions</th>
                        <td class="govuk-table__cell">
                            {% for item in licenceCondition.standardLicenceConditions %}
                                <div>{{ item.text }}</div>
                                {% if item.expandedText %}<div>expandedText: {{ item.expandedText }}</div>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>additionalLicenceConditions</th>
                        <td class="govuk-table__cell">
                            {% for item in licenceCondition.additionalLicenceConditions %}
                                <div>{{ item.text }}</div>
                                {% if item.expandedText %}<div>expandedText: {{ item.expandedText }}</div>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                     <tr class="govuk-table__row">
                        <th class='govuk-table__header'>standardPssConditions</th>
                        <td class="govuk-table__cell">
                            {% for item in licenceCondition.standardPssConditions %}
                                <div>{{ item.text }}</div>
                                {% if item.expandedText %}<div>expandedText: {{ item.expandedText }}</div>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
