<h1 class='govuk-heading-m govuk-visually-hidden'>Risk<span
            class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="flex-desktop flex--row-reverse">
    <div class="flex__item-one-third-desktop">
            {{ roshWidget(caseSummary.riskOfSeriousHarm) }}
            {{ mappaWidget(caseSummary.mappa) }}
    </div>
    <div class="flex__item-two-thirds-desktop govuk-!-padding-right-4">
        {{ oasysCard({
            cardHeading: 'Details of the risk',
            oasysHeading: caseSummary.natureOfRisk.oasysHeading,
            content: caseSummary.natureOfRisk.description
        }) }}
        {{ oasysCard({
            cardHeading: 'Who is at risk',
            oasysHeading: caseSummary.whoIsAtRisk.oasysHeading,
            content: caseSummary.whoIsAtRisk.description
        }) }}
        {{ oasysCard({
            cardHeading: 'Circumstances that will increase the risk',
            oasysHeading: caseSummary.circumstancesIncreaseRisk.oasysHeading,
            content: caseSummary.circumstancesIncreaseRisk.description
        }) }}
    </div>
</div>