<h1 class='govuk-heading-m'>Licence history</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% for contact in caseSummary.contactSummary %}
            {% set titleHtml %}
                <div data-qa='heading'>{{ contact.descriptionType }}</div>
            {% endset %}
            {% set sectionHtml %}
                <pre class='govuk-body' data-qa='notes'>{{ contact.notes }}</pre>
            {% endset %}
            <div data-qa='contact-{{ loop.index0 }}'>
                <div class='govuk-body govuk-!-margin-bottom-3'
                     data-qa='date'>{{ formatDateFromIsoString(contact.contactStartDate) }}</div>
                {{ appSummaryCard({
                    titleHtml: titleHtml,
                    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
                    html: sectionHtml,
                    actionsHtml: mojBadge({
                        text: contact.outcome,
                        attributes: {
                            'data-qa': 'outcome'
                        }
                    }) if contact.outcome else undefined
                }) }}
            </div>
        {% endfor %}
    </div>
</div>