<h1 class='govuk-heading-m govuk-visually-hidden'>Personal details<span class='govuk-visually-hidden'> for {{ caseSummary.personalDetailsOverview.name }}</span></h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set offenderManagerHtml %}
            <ul class='govuk-list'>
                <li>Name: {{ caseSummary.offenderManager.name }}</li>
                <li>Team: {{ caseSummary.offenderManager.probationTeam.label }}</li>
                <li>Code: {{ caseSummary.offenderManager.probationTeam.code }}</li>
                {% if caseSummary.offenderManager.phoneNumber %}<li>Telephone: {{ caseSummary.offenderManager.phoneNumber }}</li>{% endif %}
                {% if caseSummary.offenderManager.email %}<li>Email: <a href='mailto:{{ caseSummary.offenderManager.email }}' target='_blank' rel='noopener' data-qa='offenderManagerEmail'>{{ caseSummary.offenderManager.email }}</a></li>{% endif %}
            </ul>
        {% endset %}
        {% set addressHtml %}
            {% if caseSummary.addresses.length %}
                {% for address in caseSummary.addresses %}
                    <div{% if loop.index > 1 %} class='govuk-!-margin-top-2'{% endif %} data-qa='address-{{ loop.index }}'>
                        {% if caseSummary.addresses.length > 1 %}<h3 class='govuk-visually-hidden'>Address {{ loop.index }}</h3>{% endif %}
                        {% if address.line1 %}<div>{{ address.line1 }}</div>{% endif %}
                        {% if address.line2 %}<div>{{ address.line2 }}</div>{% endif %}
                        {% if address.town %}<div>{{ address.town }}</div>{% endif %}
                        {% if address.postcode %}<div>{{ address.postcode }}</div>{% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p class='govuk-body-m'>None</p>
            {% endif %}
        {% endset %}
        {{ appSummaryCard({
            titleText: 'Personal details',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: govukSummaryList({
                rows: [
                    {
                        key: { html: 'Main ' + ('addresses' if caseSummary.addresses.length > 1 else 'address') },
                        value: { html: addressHtml }
                    },
                    {
                        key: { text: 'Probation practitioner' },
                        value: { html: offenderManagerHtml }
                    }
                ]
            })
        }) }}
    </div>
</div>
