<h1 class='govuk-heading-m govuk-visually-hidden'>Personal details</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set offenderManagerHtml %}
            <div>{{ caseSummary.offenderManager.name }} - {{ caseSummary.offenderManager.probationTeam.code }}, {{ caseSummary.offenderManager.probationTeam.label }}</div>
            {% if caseSummary.offenderManager.phoneNumber %}<div>Telephone: {{ caseSummary.offenderManager.phoneNumber }}</div>{% endif %}
            {% if caseSummary.offenderManager.email %}<div>Email: <a href='mailto:{{ caseSummary.offenderManager.email }}' target='_blank' rel='noopener' data-qa='offenderManagerEmail'>{{ caseSummary.offenderManager.email }}</a></div>{% endif %}
        {% endset %}
        {{ appSummaryCard({
            titleText: 'Personal details',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: govukSummaryList({
                rows: [
                    {
                        key: { html: 'Current address' },
                        value: { text: formatSingleLineAddress(caseSummary.currentAddress) }
                    },
                    {
                        key: { text: 'Offender manager' },
                        value: { html: offenderManagerHtml }
                    }
                ]
            })
        }) }}
    </div>
    <div class="govuk-grid-column-one-third-from-desktop" data-qa='riskFlags'>
        {{ riskFlagWidget(caseSummary.risk.flags) }}
    </div>
</div>
