<h1 class='govuk-heading-m'>Licence history</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set innerLoopIndex = 0 %}
        {% for group in caseSummary.contactSummary.items %}
            <div class='govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2' data-qa='date-{{ loop.index0 }}'>
                {{ formatDateTimeFromIsoString({ isoDate: group.groupValue, dateOnly: true}) }}
            </div>
            {% for contact in group.items %}
                {% set titleHtml %}
                    <div>
                        <div data-qa='heading'>{{ contact.descriptionType }}</div>
                        <div class='govuk-body govuk-!-margin-bottom-0' data-qa='time'>
                            At {{ formatDateTimeFromIsoString({ isoDate: contact.contactStartDate, timeOnly: true }) }}</div>
                    </div>
                {% endset %}
                {% set sectionHtml %}
                    <div class="govuk-!-margin-bottom-4">
                        {{ mojBadge({
                            text: contact.outcome,
                            attributes: {
                                'data-qa': 'outcome'
                            },
                            classes: 'govuk-!-margin-right-2'
                        }) if contact.outcome else undefined }}
                        {{ mojBadge({
                            text: contact.enforcementAction,
                            attributes: {
                                'data-qa': 'enforcementAction'
                            }
                        }) if contact.enforcementAction else undefined }}
                    </div>
                    <pre class='govuk-body' data-qa='notes'>{{ contact.notes }}</pre>
                {% endset %}
                <div data-qa='contact-{{ innerLoopIndex }}'>
                    {{ appSummaryCard({
                        titleHtml: titleHtml,
                        classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
                        html: sectionHtml
                    }) }}
                </div>
                {% set innerLoopIndex = innerLoopIndex + 1 %}
            {% endfor %}
        {% endfor %}
    </div>
</div>