{% if caseSummary.activeRecommendation.recallConsideredList %}
    {% set bannerHtml %}
        <div class='flex-desktop flex--space-between flex--align-flex-end'>
            <div class='flex__item-two-thirds-desktop'>
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Consider a recall</h2>
                <pre class='govuk-body govuk-!-margin-bottom-2' data-qa='recallConsideredDetail'>{{ caseSummary.activeRecommendation.recallConsideredList[0].recallConsideredDetail }}</pre>
                <div class='govuk-body-s text-secondary govuk-!-margin-bottom-0' data-qa='recallConsideredUserDate'>{{ caseSummary.activeRecommendation.recallConsideredList[0].userName }}, {{ formatDateTimeFromIsoString({isoDate: caseSummary.activeRecommendation.recallConsideredList[0].createdDate}) }}</div>
            </div>
            <div class='flex__item-one-third-desktop govuk-!-text-align-right govuk-!-margin-top-6'>
                {% if caseSummary.activeRecommendation.status == 'RECALL_CONSIDERED' %}
                    <form method='post'
                          action='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/status'>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        <input type='hidden' name='crn' value='{{ caseSummary.personalDetailsOverview.crn }}' />
                        <input type="hidden" name="status" value="DRAFT" />
                        <button class='govuk-button govuk-!-margin-bottom-0' data-analytics-event='click_cta' data-analytics-event-category='make_recommendation_click'>Make a recommendation</button>
                    </form>
                {% elseif caseSummary.activeRecommendation.status == 'DRAFT' %}
                    <a class='govuk-button govuk-!-margin-bottom-0'
                       href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/task-list'
                       data-analytics-event='click_cta' data-analytics-event-category='update_recommendation_click'>Update
                        recommendation</a>
                {% endif %}
            </div>
        </div>
    {% endset %}

    {{ govukNotificationBanner({
        html: bannerHtml,
        classes: 'govuk-notification-banner--full-width'
    }) }}
{% endif %}