{% if flags.flagConsiderRecall == true and user.hasSpoRole == true and caseSummary.activeRecommendation.recallConsideredList %}
    {% set bannerHtml %}
        <div class='flex-desktop flex--space-between flex--align-flex-end'>
            <div class='flex__item-two-thirds-desktop'>
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Consider a recall</h2>
                <pre class='govuk-body govuk-!-margin-bottom-2' data-qa='recallConsideredDetail'>{{ caseSummary.activeRecommendation.recallConsideredList[0].recallConsideredDetail }}</pre>
                <div class='govuk-body-s text-secondary govuk-!-margin-bottom-0' data-qa='recallConsideredUserDate'>{{ caseSummary.activeRecommendation.recallConsideredList[0].userName }}, {{ formatDateTimeFromIsoString({isoDate: caseSummary.activeRecommendation.recallConsideredList[0].createdDate}) }}</div>
            </div>
            <div class='flex__item-one-third-desktop govuk-!-text-align-right govuk-!-margin-top-6'>
                {% if caseSummary.activeRecommendation.managerRecallDecision.isSentToDelius == true %}
                    <a class='govuk-link'
                       href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/manager-view-decision'
                       data-analytics-event='click_cta' data-analytics-event-category='view_manager_decision_click'>View your decision</a>
                {% else %}
                    <a class='govuk-button govuk-!-margin-bottom-0'
                       href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/manager-record-decision'
                       data-analytics-event='click_cta' data-analytics-event-category='record_manager_decision_click'>Record your decision</a>
                {% endif %}
            </div>
        </div>
    {% endset %}

    {{ govukNotificationBanner({
        html: bannerHtml,
        classes: 'govuk-notification-banner--full-width'
    }) }}
{% endif %}