{% if flags.dateFilters or flags.contactTypesFilter %}
    <div class="govuk-grid-column-one-third-from-desktop">
        {%- set filterOptionsHtml %}
            {% if flags.flagSearchFilter %}
                {% for searchFilters in caseSummary.filters.searchFilters.selected %}
                    <input type='hidden' name='searchFilters' value='{{ searchFilters.text }}' />
                {% endfor %}
                {{ govukInput({
                    label: {
                        text: "Term",
                        classes: "govuk-label--s"
                    },
                    hint: {
                        text: 'Search contacts, for example, MAPPA'
                    },
                    id: "searchFilters",
                    name: "searchFilters",
                    type: 'search',
                    value: errors.searchFilters.values if errors.searchFilters else undefined,
                    errorMessage: errorMessage(errors.searchFilters)
                }) }}
            {% endif %}
            {% if flags.dateFilters %}
                {{ govukDateInput({
                    id: "dateFrom",
                    namePrefix: "dateFrom",
                    fieldset: {
                        legend: {
                            html: "Date range<span class='govuk-visually-hidden'> From</span>",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: dateTimeItems("dateFrom", caseSummary.filters.dateRange.dateFrom),
                    errorMessage: errorMessage(errors.dateFrom)
                }) }}
                {{ govukDateInput({
                    id: "dateTo",
                    namePrefix: "dateTo",
                    fieldset: {
                        legend: {
                            html: "<span class='govuk-visually-hidden'>Date range </span>To",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: dateTimeItems("dateTo", caseSummary.filters.dateRange.dateTo),
                    errorMessage: errorMessage(errors.dateTo)
                }) }}
            {% endif %}
            {% if flags.contactTypesFilter %}
                {{ govukCheckboxes({
                    idPrefix: "contactTypes",
                    name: "contactTypes",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                        legend: {
                            text: "Contact type",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: checkboxItems({ items: caseSummary.filters.contactTypes.allContactTypes, currentValues: caseSummary.filters.contactTypes.selectedIds })
                }) }}
            {% endif %}
        {% endset -%}
        <div class='govuk-!-margin-bottom-4'>
            <form>
                {{ mojFilter({
                    heading: {
                        text: 'Filter'
                    },
                    selectedFilters: {
                        heading: {
                            text: 'Selected filters'
                        },
                        clearLink: {
                            text: 'Clear filters',
                            href: urlInfo.path
                        },
                        categories: removeUndefinedListItems([
                            {
                                heading: {
                                    text: 'Search contacts'
                                },
                                items: selectedFilterItems({ items: caseSummary.filters.searchFilters.selected, urlInfo: urlInfo })
                            } if caseSummary.filters.searchFilters.selected.length else undefined,
                            {
                                heading: {
                                    text: 'Date range'
                                },
                                items: selectedFilterItems({ items: caseSummary.filters.dateRange.selected, urlInfo: urlInfo })
                            } if caseSummary.filters.dateRange.selected.length else undefined,
                            {
                                heading: {
                                    text: 'Contact type'
                                },
                                items: selectedFilterItems({ items: caseSummary.filters.contactTypes.selected, urlInfo: urlInfo })
                            } if caseSummary.filters.contactTypes.selected.length else undefined
                        ])
                    } if caseSummary.hasActiveFilters else undefined,
                    optionsHtml: filterOptionsHtml
                }) }}
            </form>
        </div>
    </div>
{% endif %}
