{% from "components/select-component/macro.njk" import selectComponent %}

{% if contacts.length %}
    <ul class='govuk-list'>
        {% for contact in contacts %}
            <li>
            <div class='flex flex--space-between border-bottom govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>
                <div>
                    {{ contact.text }}
                </div>
                {{ selectComponent({
                    itemId: contact.id,
                    itemText: contact.text,
                    added: contact.added,
                    componentType: 'contacts',
                    crn: crn,
                    csrfToken: csrfToken
                }) }}
            </div>
            </li>{% endfor %}
    </ul>
{% else %}
    <p class='govuk-body'>None added yet. Choose contacts from the list.</p>
{% endif %}
<div>
    <a href='/recommendation/{{ crn }}/cause' class='govuk-button govuk-button--primary govuk-!-margin-bottom-0'>Continue</a>
</div>