{% from "components/select-component/macro.njk" import selectComponent %}

{% if addedContacts.length %}
    <ul class='govuk-list'>
        {% for contact in addedContacts %}
            <li>
            <div class='flex flex--space-between'>
                <div>
                    {{ contact.descriptionType }}
                    <div class='text-secondary govuk-!-font-size-14'>
                        {{ formatDateTimeFromIsoString({ isoDate: contact.contactStartDate, dateOnly: true, shortDate: true }) }}
                    </div>
                </div>
                {{ selectComponent({
                    contact: contact,
                    componentType: 'contact',
                    crn: crn,
                    csrfToken: csrfToken
                }) }}
            </div>
            </li>{% endfor %}
    </ul>
    <div>
        <button class='govuk-button govuk-button--primary govuk-!-margin-bottom-0'>Continue</button>
    </div>
{% else %}
    <p class='govuk-body'>Click 'Add' on one or more contacts</p>
{% endif %}