{% from "components/select-component/macro.njk" import selectComponent %}

{% if licenceConditions.length %}
    <ul class='govuk-list'>
        {% for condition in licenceConditions %}
            <li>
            <div class='flex flex--space-between border-bottom govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>
                <div>
                    {{ condition.text }}
                </div>
                {{ selectComponent({
                    itemId: condition.id,
                    itemText: condition.text,
                    added: condition.added,
                    componentType: 'licenceConditions',
                    crn: crn,
                    csrfToken: csrfToken
                }) }}
            </div>
            </li>{% endfor %}
    </ul>
{% else %}
    <p class='govuk-body'>None added yet, choose licence conditions from the list.</p>
{% endif %}
<div>
    <a href='/recommendation/{{ crn }}/behaviour' class='govuk-button govuk-button--primary govuk-!-margin-bottom-0'>Continue</a>
</div>