{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/tag/macro.njk"                import govukTag %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk"               import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/task-list/macro.njk" import mojTaskList -%}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{% from "components/oasys-card/macro.njk"             import oasysCard %}
{% from "components/summary-card/macro.njk"             import appSummaryCard %}
{% from "components/rosh-widget/macro.njk" import roshWidget %}
{% from "components/rosh-widget-arns/macro.njk" import roshWidgetArns %}
{% from "components/predictor-v2-timeline/macro.njk" import predictorV2Timeline %}
{% from "components/risk-flag-widget/macro.njk" import riskFlagWidget %}
{% from "components/mappa-widget/macro.njk" import mappaWidget %}
{% from "components/select-component/macro.njk" import selectComponent %}
{% from "components/form-submit-button/macro.njk"   import formSubmitButton %}
{% from "components/task-status/macro.njk"   import taskStatus %}
{% from "components/status-badge/macro.njk"   import statusBadge %}
{% from "components/info-panel/macro.njk"   import infoPanel %}
{% from "components/address/macro.njk"   import address %}
{% from "components/back-link/macro.njk"   import backLink %}
{% from "components/delius-details-message/macro.njk"   import deliusDetailsMessage %}
{% from "components/delete-recommendation-link/macro.njk"   import deleteRecommendationLink %}
{% from "components/paginate/macro.njk"   import paginate %}
{% from "components/hyphen-for-blank/macro.njk"   import hyphenForBlank %}
{% from "components/error-display/macro.njk"   import errorDisplay %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{% from "govuk/components/warning-text/macro.njk"             import govukWarningText %}
{% from "components/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}
{% from "components/summary-list/macro.njk" import summaryList %}
{% from "components/heading/macro.njk" import heading %}
{% from "components/bodyParagraph/macro.njk" import bodyParagraph %}
{% from "components/linkAsButton/macro.njk" import linkAsButton %}
{% from "components/notification-banner/macro.njk" import notificationBanner %}
{% from "components/accordion/macro.njk" import accordion %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
  <script src="/assets/applicationinsights-web.min.js"></script>
  <script src="/assets/applicationinsights.js"></script>
  <script nonce="{{ cspNonce }}">
    window.applicationInsights.init('{{ applicationInsightsConnectionString }}', '{{ applicationInsightsRoleName }}', '{{ user.username }}');
  </script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/accessible-autocomplete.min.js"></script>
  <script src="/assets/js/vStyleDropdownArrow.js"></script>
  <script type="module" src='/assets/moj/components/filter-toggle-button/filter-toggle-button.bundle.mjs'></script>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
  {% block headEnd %}{% endblock %}
{% endblock %}
{% block pageTitle %}
  {{ pageTitle | default(applicationName) }}
{% endblock %}
{% block header %}
  {{ feComponents.header | safe }}
  {% include "./phaseBanner.njk" %}
{% endblock %}
{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the
      <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script type="module" src="/assets/mojFrontendInit.js"></script>
  <script src="/assets/web-vitals.iife.js" defer></script>
  <script src="/assets/analytics.js" defer></script>
  <script src="/assets/accessibility.js" defer></script>
  <script src="/assets/back-links.js" defer></script>
  <script src="/assets/accessible-autocomplete-fix.js" defer></script>
{% endblock %}