{{ govukNotificationBanner({
    text: 'Licence conditions come from NDelius. Update NDelius if anything is wrong. Refresh this page to see your update.',
    classes: 'govuk-!-margin-bottom-4',
    attributes: {
        'data-analytics-event': 'notification_banner',
        'data-analytics-event-category': 'ndeliusLicenceConditions'
    }
}) }}
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
    <div class="govuk-accordion__section" data-qa='standard'>
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  Standard licence conditions
                </span>
            </h2>
        </div>
        <div id="accordion-with-summary-sections-content-1"
             class="govuk-accordion__section-content"
             aria-labelledby="accordion-with-summary-sections-heading-1">
            {% for condition in caseSummary.standardLicenceConditions %}
                {% set descriptionHtml %}
                    <pre class='govuk-body'>{{ condition.description }}</pre>
                {% endset %}
            <section class="app-summary-card app-summary-card--white govuk-!-margin-bottom-3">
                <div class="app-summary-card__header">
                    <div class="app-summary-card__title">
                    {{ condition.text }}
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
    <div class="govuk-accordion__section govuk-accordion__section--expanded" data-qa='additional'>
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Additional licence conditions
                </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body"
                 id="accordion-with-summary-sections-summary-2">
                {% for conviction in caseSummary.licenceConvictions.activeCustodial %}
                    <div class='govuk-caption-m'>{{ conviction.mainOffence.description }}</div>
                {% endfor %}
            </div>
        </div>
        <div id="accordion-with-summary-sections-content-2"
             class="govuk-accordion__section-content"
             aria-labelledby="accordion-with-summary-sections-heading-2">
            {% set conditionNumber = 1 %}
            {% for conviction in caseSummary.licenceConvictions.activeCustodial %}
                {% if caseSummary.licenceConvictions.hasMultipleActiveCustodial %}<h3 class='govuk-heading-s' data-qa='offence-heading'>{{ conviction.mainOffence.description }}</h3>{% endif %}
                {% if conviction.licenceConditions.length %}
                    {% for licenceCondition in conviction.licenceConditions %}
                        {% set conditionHtml %}
                            <p class='govuk-body' data-qa='condition-description'>{{ licenceCondition.subCategory.description }}</p>
                            {% if licenceCondition.notes %}
                            <h4 class='govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1'>Notes</h4>
                            <p class='govuk-body' data-qa='condition-note'>{{ licenceCondition.notes }}</p>
                            {% endif %}
                        {% endset %}
                        {{ appSummaryCard({
                            titleText: licenceCondition.mainCategory.description,
                            headingLevel: 3,
                            classes: 'govuk-!-margin-bottom-6 app-summary-card--medium-title',
                            html: conditionHtml,
                            attributes: {
                                'data-qa': 'additional-condition-' + conditionNumber
                            }
                        }) }}

                        {% set conditionNumber = conditionNumber + 1 %}
                    {% endfor %}
                {% else %}
                    <p class='govuk-body'>There are no additional licence conditions in NDelius. Check the licence document.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>