<div class="govuk-width-container phase-banner-container" role="region">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        {% if env and env != 'PRODUCTION' %}
                            <span class='govuk-!-padding-right-2'>
                                {{govukTag({
                                    text: env,
                                    classes: "govuk-tag--red",
                                    attributes: {
                                        'data-qa': 'env-tag'
                                    }
                                })}}
                            </span>
                        {% else %}
                        <strong class="govuk-tag govuk-phase-banner__content__tag">
                            beta
                        </strong>
                        {% endif %}
                        {% if env and env != 'PRODUCTION' %}
                        <span class="govuk-phase-banner__text" data-qa="banner-text">
                          This version of the service is for testing purposes only. It is a replica of the live service to help you get familiar with it.
                        </span>
                        {% else %}
                        <span class="govuk-phase-banner__text" data-qa="banner-text">
                          This is a new service – your <a class="govuk-link" href="https://docs.google.com/forms/d/1ZJPD40s-tzr9Uf0HwrrF0YP9bUilCe228Xk-2d2quNE/edit?ts=62d7ca55" target='_blank' rel='noopener' data-qa='feedback-form-link'>feedback<span class='govuk-visually-hidden'> Opens in a new tab</span></a> will help us to improve it.
                        </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
</div>