<div class="govuk-width-container phase-banner-container" role="region">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        <strong class="govuk-tag govuk-phase-banner__content__tag">
                            beta
                        </strong>
                        <span class="govuk-phase-banner__text">
                          This is a new service – your <a class="govuk-link" href="https://docs.google.com/forms/d/1ZJPD40s-tzr9Uf0HwrrF0YP9bUilCe228Xk-2d2quNE/edit?ts=62d7ca55" target='_blank' rel='noopener' data-qa='feedback-form-link'>feedback</a> will help us to improve it.
                        </span>
                    </p>
                </div>
            </div>
        </div>
</div>