{% if not caseSummary.activeRecommendation.recallConsideredList %}
    {% if caseSummary.activeRecommendation.recommendationId %}
        <a class='govuk-button'
           href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/task-list'
           data-analytics-event='click_cta' data-analytics-event-category='update_recommendation_click'>Update
            recommendation</a>
    {% else %}
        <a class='govuk-button'
           href='{{ pageUrlBase }}consider-recall'
           data-analytics-event='click_cta' data-analytics-event-category='consider_recall_click'
           data-qa='consider-recall-button'>Consider a
            recall</a>
    {% endif %}
{% endif %}