{% if flags.flagConsiderRecall == true %}
    {% if user.hasSpoRole == false %}
        {% if not caseSummary.activeRecommendation %}
            <a class='govuk-button'
               href='{{ pageUrlBase }}consider-recall'
               data-analytics-event='click_cta' data-analytics-event-category='consider_recall_click' data-qa='consider-recall-button'>Consider a
                recall</a>
        {% else %}
            {% if caseSummary.activeRecommendation.status == 'RECALL_CONSIDERED' %}
                <form method='post'
                      action='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/status'>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type='hidden' name='crn' value='{{ caseSummary.personalDetailsOverview.crn }}' />
                    <input type="hidden" name="status" value="DRAFT" />
                    <button class='govuk-button govuk-!-margin-bottom-0' data-analytics-event='click_cta' data-analytics-event-category='make_recommendation_click'>Make a recommendation</button>
                </form>
            {% elseif caseSummary.activeRecommendation.status == 'DRAFT' %}
                <a class='govuk-button'
                   href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/task-list'
                   data-analytics-event='click_cta' data-analytics-event-category='update_recommendation_click'>Update
                    recommendation</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
    {% if caseSummary.activeRecommendation.recommendationId %}
        <a class='govuk-button'
           href='/recommendations/{{ caseSummary.activeRecommendation.recommendationId }}/task-list'
           data-analytics-event='click_cta' data-analytics-event-category='update_recommendation_click'>Update
            recommendation</a>
    {% else %}
        <form method='post' action='/recommendations'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" name="crn" value="{{ caseSummary.personalDetailsOverview.crn }}" />
            <button class='govuk-button no-wrap-tablet' data-analytics-event='click_cta'
                    data-analytics-event-category='make_recommendation_click'>Make a recommendation
            </button>
        </form>
    {% endif %}
{% endif %}
{% if flags.flagRecommendationPrototype %}
    <div>
        Prototype: <a
                href='/rec-prototype/{{ caseSummary.personalDetailsOverview.crn }}/no-recall-summary?partClearNoRecall=1'
                class='govuk-button no-wrap-tablet'>Update recommendation</a>
    </div>
{% endif %}