{% from "components/predictor-timeline-section/macro.njk" import predictorTimelineSection %}

<div class="moj-timeline predictor">
    {%for item in timeline %}
    <div class="moj-timeline__item" data-qa='timeline-item-{{ loop.index }}'>
        <div class="moj-timeline__header">
            <p class="moj-timeline__byline">{{ formatDateTimeFromIsoString({ isoDate: item.date, dateOnly: true }) }}</p>
        </div>
        <div class="moj-timeline__description">
            {{ predictorTimelineSection({ item: item, pageUrlBase: pageUrlBase, index: loop.index0 }) }}
        </div>
    </div>
    {% endfor %}
</div>

<script src="/assets/js/predictors.js" defer></script>
