---
generic-service:
  nameOverride: make-recall-decision-ui
  serviceAccountName: make-recall-decision

  replicaCount: 4

  image:
    repository: quay.io/hmpps/make-recall-decision-ui
    tag: app_version    # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local    # override per environment
    tlsSecretName: make-recall-decision-cert
    v1_2_enabled: true
    v0_47_enabled: false
    annotations:
      nginx.ingress.kubernetes.io/limit-rpm: "200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "240"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "240"

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /health

  custommetrics:
    enabled: true
    scrapeInterval: 15s
    metricsPath: /metrics
    metricsPort: 3001

  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    REDIS_TLS_ENABLED: "true"
    TOKEN_VERIFICATION_ENABLED: "true"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"
    SENTRY_DSN: https://5c9e4014e8064f8c846bfbeb1810a32f@o345774.ingest.sentry.io/6360608
    AUDIT_SERVICE_NAME: "make-recall-decision"
    AUDIT_SQS_REGION: "eu-west-2"
    MAINTENANCE_BANNER_HEADER: "Scheduled maintenance"
    MAINTENANCE_BANNER_BODY: "Consider a recall will be unavailable between 8pm and 11pm on Tuesday 10th February 2025. This is so we can update our database."
    # datetimes must be written in ISO format eg/YYYY-MM-DDTHH:MM:SS
    MAINTENANCE_BANNER_START_DATE_TIME: "2026-02-03T20:00:00"
    MAINTENANCE_BANNER_END_DATE_TIME: "2026-02-10T20:00:00"
    MAINTENANCE_PAGE_BODY: Please follow your business continuity procedures to deal with recalls.
    MAINTENANCE_PAGE_START_DATE_TIME: 2026-02-10T20:00:00
    MAINTENANCE_PAGE_END_DATE_TIME: 2026-02-10T23:00:00
    HMPPS_SQS_USE_WEB_TOKEN: "true"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    make-recall-decision-ui:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      API_CLIENT_ID: "API_CLIENT_ID"
      API_CLIENT_SECRET: "API_CLIENT_SECRET"
      SYSTEM_CLIENT_ID: "SYSTEM_CLIENT_ID"
      SYSTEM_CLIENT_SECRET: "SYSTEM_CLIENT_SECRET"
      SESSION_SECRET: "SESSION_SECRET"
    elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"
    sqs-hmpps-audit-secret:
      AUDIT_SQS_QUEUE_URL: "sqs_queue_url"
      AUDIT_SQS_QUEUE_NAME: "sqs_queue_name"

generic-prometheus-alerts:
  targetApplication: make-recall-decision-ui
