<li>
    <h2 class="moj-task-list__section" id='contact-information'>
        Contact Information
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-whoCompletedPartA' href="{{ urlInfo.basePath }}who-completed-part-a">{{ pageHeadings.whoCompletedPartA }}</a>
            </span>
            <span id='task-list-status-whoCompletedPartA'>{{ taskStatus({ hasData: hasData(recommendation.whoCompletedPartA) }) }}</span>
        </li>
        {% if hasData(recommendation.whoCompletedPartA) and not recommendation.whoCompletedPartA.isPersonProbationPractitionerForOffender %}
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-practitionerForPartA' href="{{ urlInfo.basePath }}practitioner-for-part-a">{{ pageHeadings.practitionerForPartA }}</a>
            </span>
            <span id='task-list-status-practitionerForPartA'>{{ taskStatus({ hasData: hasData(recommendation.practitionerForPartA) }) }}</span>
        </li>
        {% endif %}
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-revocationContact' href="{{ urlInfo.basePath }}revocation-order-recipients">{{ pageHeadings.revocationContact }}</a>
            </span>
            <span id='task-list-status-revocationContact'>{{ taskStatus({ hasData: hasData(recommendation.revocationOrderRecipients) }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-ppcsQueryEmails' href="{{ urlInfo.basePath }}ppcs-query-emails">{{ pageHeadings.ppcsQueryEmails }}</a>
            </span>
            <span id='task-list-status-ppcsQueryEmails'>{{ taskStatus({ hasData: hasData(recommendation.ppcsQueryEmails) }) }}</span>
        </li>
    </ul>
</li>
