<li>
    <h2 class="moj-task-list__section" id='countersign'>
        Get the Part A countersigned
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                {% if lineManagerCountersignLink %}
                <a aria-describedby='task-list-status-lineManagerSignature'
                href="{{ changeLinkUrl({ pageUrlSlug: 'request-spo-countersign', urlInfo: urlInfo, fromAnchor: 'countersign' }) }}">{{ pageHeadings.requestLineManagerCounterSignature }}</a>
                {% else %}
                {{ pageHeadings.requestLineManagerCounterSignature }}
                {% endif %}
            </span>
            <span id='task-list-status-lineManagerSignature'>{{ statusBadge({ colour: lineManagerCountersignStyle, label: lineManagerCountersignLabel }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                {% if seniorManagerCountersignLink %}
                <a aria-describedby='task-list-status-seniorManagerSignature'
                href="{{ changeLinkUrl({ pageUrlSlug: 'request-aco-countersign', urlInfo: urlInfo, fromAnchor: 'countersign' }) }}">{{ pageHeadings.requestSeniorManagerCounterSignature }}</a>
                {% else %}
                {{ pageHeadings.requestSeniorManagerCounterSignature }}
                {% endif %}
            </span>
            <span id='task-list-status-seniorManagerSignature'>{{ statusBadge({ colour: seniorManagerCountersignStyle, label: seniorManagerCountersignLabel }) }}</span>
        </li>
    </ul>
</li>
