
<li>
    <h2 class="moj-task-list__section" id='heading-create-letter'>
        Create the letter
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-whyConsideredRecall' href="{{ changeLinkUrl({ pageUrlSlug: 'why-considered-recall', urlInfo: urlInfo, fromAnchor: 'heading-create-letter' }) if hasData(recommendation.whyConsideredRecall) else urlInfo.basePath + 'why-considered-recall' }}">{{ pageHeadings.whyConsideredRecall }}</a>
            </span>
            <span id='task-list-status-whyConsideredRecall'>{{ taskStatus({ hasData: hasData(recommendation.whyConsideredRecall) }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-reasonsForNoRecall' href="{{ changeLinkUrl({ pageUrlSlug: 'reasons-no-recall', urlInfo: urlInfo, fromAnchor: 'heading-create-letter' }) if hasData(recommendation.reasonsForNoRecall) else urlInfo.basePath + 'reasons-no-recall' }}">Why {{ recommendation.personOnProbation.name }} should not be recalled</a>
            </span>
            <span id='task-list-status-reasonsForNoRecall'>{{ taskStatus({ hasData: hasData(recommendation.reasonsForNoRecall) }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-nextAppointment' href="{{ changeLinkUrl({ pageUrlSlug: 'appointment-no-recall', urlInfo: urlInfo, fromAnchor: 'heading-create-letter' }) if hasData(recommendation.nextAppointment) else urlInfo.basePath + 'appointment-no-recall' }}">Appointment date and time</a>
            </span>
            <span id='task-list-status-nextAppointment'>{{ taskStatus({ hasData: hasData(recommendation.nextAppointment) }) }}</span>
        </li>
        {% if taskCompleteness.areAllComplete == true %}
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a href="{{ urlInfo.basePath }}preview-no-recall">Preview of the letter</a>
            </span>
        </li>
        {% endif %}
    </ul>
</li>
