
<li>
    <h2 class="moj-task-list__section" id='heading-circumstances'>
        Create the letter
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="{{ changeLinkUrl({ pageId: 'why-considered-recall', urlInfo: urlInfo, fromAnchor: 'heading-create-letter' }) }}">Why you considered recall</a>
            {{ taskStatus({ hasData: taskCompleteness.statuses.whyConsideredRecall }) }}
        </li>
    </ul>
</li>
