
<li>
    <h2 class="moj-task-list__section" id='heading-custody'>
        Provide information about custody
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" aria-describedby='task-list-status-custodyStatus' href="{{ changeLinkUrl({ pageUrlSlug: 'custody-status', urlInfo: urlInfo, fromAnchor: 'heading-custody' }) }}">{{ pageHeadings.custodyStatus }}</a>
            <span id='task-list-status-custodyStatus'>{{ taskStatus({ hasData: taskCompleteness.statuses.custodyStatus }) }}</span>
        </li>
        {% if recommendation.isInCustody == false %}
            <li class="moj-task-list__item">
                <a class="moj-task-list__task-name" aria-describedby='task-list-status-localPoliceContact' href="{{ urlInfo.basePath }}police-details">{{ pageHeadings.localPoliceContactDetails }}</a>
                <span id='task-list-status-localPoliceContact'>{{ taskStatus({ hasData: taskCompleteness.statuses.localPoliceContact }) }}</span>
            </li>
        {% endif %}
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" aria-describedby='task-list-status-isUnderIntegratedOffenderManagement' href="{{ urlInfo.basePath }}iom">{{ pageHeadings.integratedOffenderManagement }}</a>
            <span id='task-list-status-isUnderIntegratedOffenderManagement'>{{ taskStatus({ hasData: taskCompleteness.statuses.isUnderIntegratedOffenderManagement }) }}</span>
        </li>
        {% if recommendation.isInCustody == false %}
            <li class="moj-task-list__item">
                <a class="moj-task-list__task-name" aria-describedby='task-list-status-hasArrestIssues' href="{{ urlInfo.basePath }}arrest-issues">{{ pageHeadings.arrestIssues }}</a>
                <span id='task-list-status-hasArrestIssues'>{{ taskStatus({ hasData: taskCompleteness.statuses.hasArrestIssues }) }}</span>
            </li>
        {% endif %}
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" aria-describedby='task-list-status-hasContrabandRisk' href="{{ urlInfo.basePath }}contraband">{{ pageHeadings.contraband }}</a>
            <span id='task-list-status-hasContrabandRisk'>{{ taskStatus({ hasData: taskCompleteness.statuses.hasContrabandRisk }) }}</span>
        </li>
    </ul>
</li>