
<li>
    <h2 class="moj-task-list__section" id='heading-custody'>
        Provide information about custody
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-custodyStatus' href="{{ changeLinkUrl({ pageUrlSlug: 'custody-status', urlInfo: urlInfo, fromAnchor: 'heading-custody' }) }}">{{ pageHeadings.custodyStatus }}</a>
            </span>
            <span id='task-list-status-custodyStatus'>{{ taskStatus({ hasData: hasData(recommendation.custodyStatus) }) }}</span>
        </li>
        {% if recommendation.isInCustody == false %}
            <li class="moj-task-list__item">
                <span class="moj-task-list__task-name">
                    <a aria-describedby='task-list-status-localPoliceContact' href="{{ urlInfo.basePath }}police-details">{{ pageHeadings.localPoliceContactDetails }}</a>
                </span>
                <span id='task-list-status-localPoliceContact'>{{ taskStatus({ hasData: hasData(recommendation.localPoliceContact.contactName) }) }}</span>
            </li>
        {% endif %}
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-isUnderIntegratedOffenderManagement' href="{{ urlInfo.basePath }}iom">{{ pageHeadings.integratedOffenderManagement }}</a>
            </span>
            <span id='task-list-status-isUnderIntegratedOffenderManagement'>{{ taskStatus({ hasData: hasData(recommendation.isUnderIntegratedOffenderManagement.selected) }) }}</span>
        </li>
        {% if recommendation.isInCustody == false %}
            <li class="moj-task-list__item">
                <span class="moj-task-list__task-name">
                    <a aria-describedby='task-list-status-hasArrestIssues' href="{{ urlInfo.basePath }}arrest-issues">{{ pageHeadings.arrestIssues }}</a>
                </span>
                <span id='task-list-status-hasArrestIssues'>
                {{ taskStatus({ hasData: recommendation.custodyStatus.selected === 'NO' and hasData(recommendation.hasArrestIssues) }) }}
                </span>
            </li>
        {% endif %}
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-hasContrabandRisk' href="{{ urlInfo.basePath }}contraband">{{ pageHeadings.contraband }}</a>
            </span>
            <span id='task-list-status-hasContrabandRisk'>{{ taskStatus({ hasData: hasData(recommendation.hasContrabandRisk) }) }}</span>
        </li>
    </ul>
</li>