<li>
    <h2 class="moj-task-list__section" id='heading-recommendation'>
        Make your recommendation
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-recallType' href="{{ changeLinkUrl({ pageUrlSlug: whatDoYouRecommendPageUrlSlug, urlInfo: urlInfo, fromAnchor: 'heading-recommendation' }) }}">What you recommend</a>
            </span>
            <span id='task-list-status-recallType'>{{ taskStatus({ hasData: hasData(recommendation.recallType.selected) }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-decisionDateTime' href="{{ changeLinkUrl({ pageUrlSlug: 'spo-agree-to-recall', urlInfo: urlInfo, fromAnchor: 'heading-recommendation' }) }}">When did the SPO agree this recall?</a>
            </span>
            <span id='task-list-status-decisionDateTime'>{{ taskStatus({ hasData: hasData(recommendation.decisionDateTime) }) }}</span>
        </li>
    </ul>
</li>