<li>
    <h2 class="moj-task-list__section" id='heading-risk-profile'>
        Risk profile
    </h2>
    <ul class="moj-task-list__items">
        {% if flags.flagRoshPagePartA == true %}
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name"
               href="{{ changeLinkUrl({ pageUrlSlug: 'rosh', urlInfo: urlInfo, fromAnchor: 'heading-risk-profile' }) }}">{{ pageHeadings.rosh }}</a>
            {{ taskStatus({ hasData: taskCompleteness.statuses.currentRoshForPartA }) }}
        </li>
        {% endif %}
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name"
               href="{{ changeLinkUrl({ pageUrlSlug: 'mappa', urlInfo: urlInfo, fromAnchor: 'heading-risk-profile' }) }}">{{ pageHeadings.mappa }}</a>
            {{ taskStatus({ hasBeenReviewed: taskCompleteness.statuses.mappa }) }}
        </li>
    </ul>
</li>
