<li>
    <h2 class="moj-task-list__section" id='heading-risk-profile'>
        Risk profile
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-currentRoshForPartA'
                href="{{ changeLinkUrl({ pageUrlSlug: 'rosh', urlInfo: urlInfo, fromAnchor: 'heading-risk-profile' }) }}">{{ pageHeadings.rosh }}</a>
            </span>
            <span id='task-list-status-currentRoshForPartA'>{{ taskStatus({ hasData: hasData(recommendation.currentRoshForPartA) }) }}</span>
        </li>
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-mappa'
                href="{{ changeLinkUrl({ pageUrlSlug: 'mappa', urlInfo: urlInfo, fromAnchor: 'heading-risk-profile' }) }}">{{ pageHeadings.mappa }}</a>
            </span>
            <span id='task-list-status-mappa'>{{ taskStatus({ hasBeenReviewed: recommendation.personOnProbation.mappa.hasBeenReviewed == true }) }}</span>
        </li>
    </ul>
</li>
