<li>
    <h2 class="moj-task-list__section" id='heading-vulnerability'>
        Provide information on vulnerabilities or needs
    </h2>
    <ul class="moj-task-list__items">
      <li class="moj-task-list__item">
      <span class="moj-task-list__task-name">
          <a aria-describedby='task-list-status-vulnerabilities'
             href="{{ urlInfo.basePath }}vulnerabilities">{{ taskListLinkTexts.vulnerabilities }}</a>
      </span>
          <span id='task-list-status-vulnerabilities'>{{ taskStatus({ hasData: hasData(recommendation.vulnerabilities.selected) }) }}</span>
      </li>
      {% if selectedVulnerabilitiesRequireDetails %}
          <li class="moj-task-list__item">
      <span class="moj-task-list__task-name">
          <a aria-describedby='task-list-status-vulnerabilities-details'
             href="{{ urlInfo.basePath }}vulnerabilities-details">{{ taskListLinkTexts.vulnerabilitiesDetails }}</a>
      </span>
              <span id='task-list-status-vulnerabilities-details'>{{ taskStatus({ hasData: hasRequiredVulnerabilitiesDetails(recommendation) }) }}</span>
          </li>
      {% endif %}
    </ul>
</li>
