<li>
    <h2 class="moj-task-list__section" id='heading-vulnerability'>
        Confirm any vulnerability and additional needs
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-vulnerabilities' href="{{ urlInfo.basePath }}vulnerabilities">Would recall affect vulnerability or additional
                needs?</a>
            </span>
            <span id='task-list-status-vulnerabilities'>{{ taskStatus({ hasData: hasData(recommendation.vulnerabilities.selected) }) }}</span>
        </li>
    </ul>
</li>
<li>
    <h2 class="moj-task-list__section" id='heading-victim-liaison'>
        Confirm victim liaison information
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <span class="moj-task-list__task-name">
                <a aria-describedby='task-list-status-hasVictimsInContactScheme' href="{{ urlInfo.basePath }}victim-contact-scheme">{{ pageHeadings.victimContactScheme }}</a>
            </span>
            <span id='task-list-status-hasVictimsInContactScheme'>{{ taskStatus({ hasData: taskCompleteness.statuses.hasVictimsInContactScheme }) }}</span>
        </li>
    </ul>
</li>