{% if params.hasData %}
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>
{% else %}
    <strong class="govuk-tag govuk-tag--grey moj-task-list__task-completed">
        to do
    </strong>
{% endif %}