{% if params.hasBeenReviewed == true %}
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Reviewed
</strong>
{% elseif params.hasBeenReviewed == false %}
<strong class="govuk-tag govuk-tag--lower govuk-tag--grey moj-task-list__task-completed">
    To review
</strong>
{% elseif params.hasData == true %}
    <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
        Completed
    </strong>
{% else %}
    <strong class="govuk-tag govuk-tag--lower govuk-tag--grey moj-task-list__task-completed">
        To do
    </strong>
{% endif %}