{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "What alternatives to recall have been tried?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/cases/' + crn + '/overview'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What alternatives to recall have been tried?
                            </h1>
                        </legend>
                        <div id="contact-hint" class="govuk-hint">
                            Give full details, including dates where relevant.
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            {% for item in recommendation.alternativesTriedAllOptions %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="option-{{ item.value }}" name="alternativesTried" type="checkbox" value="{{ item.value }}" data-aria-controls="conditional-{{ item.value }}" {% if item.checked %}checked{% endif %}>
                                <label class="govuk-label govuk-checkboxes__label" for="option-{{ item.value }}">
                                    {{ item.text }}
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ item.value }}">
                                {{ govukTextarea({
                                    name: "alternativesTriedDetail-" + item.value,
                                    id: "alternativesTriedDetail-" + item.value,
                                    label: {
                                        text: item.detailsLabel,
                                        classes: "govuk-label--s"
                                    },
                                    value: item.detail
                                }) }}
                            </div>
                            {% endfor %}
                        </div>

                    </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

