{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "How has the person behaved on licence so far?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/recommendation/' + crn + '/summary'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Compliance</div>
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    {{ govukTextarea({
                        name: "behaviour",
                        id: "behaviour",
                        label: {
                            text: "How has " + personalDetailsOverview.name + " behaved on licence so far?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        hint: {
                            text: "Give details of how compliant " + ("he" if personalDetailsOverview.gender == 'Male' else "she") + " has been."
                        },
                        value: recommendation.behaviour
                    }) }}
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

