{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "What has led to this recall?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/recommendation/' + crn + '/select-contacts'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Compliance</div>
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    {{ govukTextarea({
                        name: "cause",
                        id: "cause",
                        label: {
                            text: "What has led to this recall?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        hint: {
                            text: "Explain why the risk cannot be managed in the community."
                        }
                    }) }}
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

