{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Is the person in custody now?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href:  '/recommendation/' + crn + '/recall-type'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    idPrefix: "custodyOption",
                    name: "custodyOption",
                    fieldset: {
                        legend: {
                            text: "Is " + personalDetailsOverview.name + " in custody now?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: checkboxItems({ items: refData.custodyOptions, currentValues: recommendation.custody.value })
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

