
.flex {
  display: flex;
}

.flex-desktop {
  @include govuk-media-query($from: desktop ) {
    display: flex;
  }
}

.flex-mobile {
  @include govuk-media-query($from: mobile ) {
    display: flex;
  }
}

.flex--col-reverse-mobile {
  @include govuk-media-query($until: tablet ) {
    flex-direction: column-reverse;
  }
}

.flex--space-between {
  justify-content: space-between;
}

.flex--align-baseline {
  align-items: baseline;
}

.flex--align-flex-end {
  align-items: flex-end;
}

.flex--align-center {
  align-items: center;
}

.flex__item-half-width {
  width: 49%;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex__item-two-thirds-desktop {
  @include govuk-media-query($from: desktop ) {
    width: 66.66%;
  }
}

.flex__item-one-third-desktop {
  @include govuk-media-query($from: desktop ) {
    width: 33.33%;
  }
}

.flex__item-one-third-mobile {
  @include govuk-media-query($from: mobile ) {
    width: 33.33%;
  }
}

.flex__item-no-shrink {
  flex-shrink: 0;
}