$govuk-global-styles: true
$path: "/assets/images/"

$moj-page-width: 1170px
$govuk-page-width: $moj-page-width

@import 'govuk/index'
@import 'moj/all'
@import "risk/widgets"
@import "risk/predictor-scores"
@import "risk/predictor-scale"
@import "risk/predictor-timeline"
@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer'
@import 'node_modules/@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header'

@import './components/header-bar'
@import './components/collapsible'
@import './components/notification-banner'
@import './components/autocomplete'
@import './local'
@import 'flex'
@import 'design-system-overrides'
@import "../../server/views/components/summary-card/index.scss"
@import "../../server/views/components/info-panel/index.scss"
@import "../../server/views/components/notification-banner/index.scss"
@import "../../server/views/components/accordion/index.scss"
