.govuk-main-wrapper {
  min-height: 600px
}

.govuk-width-container--full-width {
  max-width: none;
  position: relative;
}

pre.govuk-body {
  white-space: pre-line
}

.text-secondary {
  color: $govuk-secondary-text-colour
}

.text-uppercase {
  text-transform: uppercase;
}

.no-wrap-tablet {
  @include govuk-media-query($from: tablet ) {
    white-space: nowrap;
  }
}

.govuk-table--fixed {
  table-layout: fixed;
}

.no-max-width {
  max-width: none;
}

.govuk-date-input__item:last-child {
  margin-right: 0;
}

.filter-toggle {
  @include govuk-media-query($from: desktop ) {
    display: none;
  }
}

.inline-list-from-tablet {
  > li {
    @include govuk-media-query($from: tablet) {
      display: inline;
    }
  }
}

.hide-mobile {
  @include govuk-media-query($from: mobile, $until: tablet) {
    display: none;
  }
}

.reset-button {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: 0 none;
  cursor: pointer;
}
.link-button {
  @extend %govuk-link;
  color: $govuk-link-colour;
  text-align: left;
}


.moj-task-list__items {
  @include govuk-media-query($from: tablet) {
    padding-left: 0 !important;
  }
}

.moj-task-list__item {
  @include govuk-font($size: 19);
}

.valign-middle {
  vertical-align: middle;
}

.border {
  border: 1px solid $govuk-border-colour;
}

.border-top {
  border-top: 1px solid $govuk-border-colour;
}

.grey-panel {
  padding: govuk-spacing(4);
  background-color: govuk-colour("light-grey");
}

.govuk-tag {
  text-transform: none;
}