<h2 class="govuk-heading-m govuk-!-margin-top-6">Documents</h2>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
{% if documents and documents.length %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-4" id="documents-list">
        {% for doc in documents %}
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    {{ doc.filename }}
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}

<h2 class="govuk-heading-m">Minutes</h2>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
{% if recommendation.bookRecallToPpud.minute %}
    <p class="govuk-body">{{ recommendation.bookRecallToPpud.minute | replace("\n", "<br>") | safe }}</p>
{% endif %}
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
