</br>
<h2 class="govuk-heading-m">Documents</h2>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
{% if documents and documents.length %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        {% for doc in documents %}
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    {{ doc.filename }}
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}

<h2 class="govuk-heading-m">Minutes</h2>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
<p class="govuk-body">Background information:<br>
{% if backgroundInfo %}
    {{ backgroundInfo | replace("\n", "<br>") | safe }}
{% endif %}
</p>
<p class="govuk-body">More information:<br>
{% if moreInfo %}
    {{ moreInfo }}
{% else %}
    No more information was provided in the minute
{% endif %}
</p>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
