<h1 class="govuk-heading-l">{{ pageTitles[page.id] }}</h1>
{% include "../../partials/recommendation/recallTypeMandatoryPanel.njk" %}
{{ govukRadios({
    idPrefix: "recallType",
    name: "recallType",
    fieldset: {
        legend: {
            text: "Select your recommendation",
            classes: "govuk-fieldset__legend--m"
        }
    },
    items: radioCheckboxItems({
        items: availableRecallTypes,
        currentValues: inputDisplayValues.value,
        conditionalContent: conditionalContent
    }),
    errorMessage: errorMessage(errors.recallType)
}) }}