{% extends "../../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% set partACustodyGroup = editCustodyGroupPageData.partACustodyGroup %}
{% set selectedCustodyGroup = editCustodyGroupPageData.selectedCustodyGroup %}
{% set custodyGroups = editCustodyGroupPageData.custodyGroups %}

{% set custodyGroupRadioButtonList = [] %}
{% for custodyGroup in custodyGroups %}
    {% set _ = custodyGroupRadioButtonList.push({ text: custodyGroup, value: custodyGroup }) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l govuk-!-margin-bottom-7'>{{ pageHeadings[page.id] }}</h1>

            <p class="govuk-body">Make sure you select the correct sentence type.</p>

            {# We make the bottom margin smaller, as the default is too much when the text right after is as short as it is here #}
            <h2 class='govuk-heading-m govuk-!-margin-bottom-2'>From Part A</h2>
            <div class="car-text-list">
                <div class="car-text-list__row">
                    <div class="car-text-list__key">Sentence type</div>
                    <div class="car-text-list__value">{{ partACustodyGroup }}</div>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--m">

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {# Override the class as otherwise the last item is too close to the submit button #}
                {{ govukRadios({
                    name: "custodyGroup",
                    fieldset: {
                        legend: {
                            text: "Select a sentence type",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errorMessage(errors.custodyGroup),
                    value: selectedCustodyGroup,
                    items: custodyGroupRadioButtonList,
                    formGroup: {
                        classes: 'govuk-!-margin-bottom-7'
                    }
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}