{% set notificationHtml %}
    <p class="govuk-notification-banner__heading" data-qa='banner-contingency-incomplete-assessment'>
        This contingency plan is from an assessment that’s not complete. Check OAsys if you need the last complete assessment.
    </p>
{% endset %}
{{ govukNotificationBanner({
    html: notificationHtml,
    classes: 'govuk-!-margin-bottom-4',
    attributes: {
        'data-analytics-event': 'notification_banner',
        'data-analytics-event-category': 'contingencyPlanIncompleteAssessment'
    }
}) }}