{% if caseSummary.licenceConvictions.activeCustodial.length == 0 %}
    <p class='govuk-body'>This person has no active convictions.  Double-check that the information in NDelius is correct.</p>
{% elseif caseSummary.licenceConvictions.activeCustodial.length > 1 %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            {% if caseSummary.hasAllConvictionsReleasedOnLicence %}
             This person has 2 or more active convictions in NDelius. Double-check that the information in NDelius is correct.
            {% else %}
                This person is not on licence for at least one of their active convictions. Check the throughcare details in NDelius are correct.
            {% endif %}
        </p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        attributes: {
            'data-qa': 'banner-multiple-active-custodial',
            'data-analytics-event': 'notification_banner',
            'data-analytics-event-category': 'multipleCustodialConvictions' if caseSummary.hasAllConvictionsReleasedOnLicence else 'multipleCustodialConvictionsNotAllReleasedOnLicence',
            'data-analytics-event-label': caseSummary.licenceConvictions.activeCustodial.length
        },
        classes: "govuk-notification-banner--error"
    }) }}
{% elseif (not caseSummary.hasAllConvictionsReleasedOnLicence) and (caseSummary.licenceConvictions.activeCustodial.length === 1) %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            This person is not on licence in NDelius. Check the throughcare details in NDelius are correct.
        </p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        attributes: {
            'data-qa': 'banner-single-active-custodial-not-on-licence',
            'data-analytics-event': 'notification_banner',
            'data-analytics-event-category': 'singleCustodialConvictionNotReleasedOnLicence'
        },
        classes: "govuk-notification-banner--error"
    }) }}
{% endif %}

