{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{{  
    mojAlert({
        variant: "information",
        title: "This information is from the latest complete OASys assessment.",
        showTitleAsHeading: true,
        dismissible: false,
        html: 'Check OASys for new information. There is a more recent assessment that’s not complete.',
        attributes: {
            'data-qa': 'banner-latest-complete-assessment'
        }
    })
}}