{% if caseSummary.risk.riskManagementPlan.lastCompletedAssessmentAtLeastTwentyTwoWeeksOld %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            OASys was last updated in {{ formatDateTimeFromIsoString({isoDate: caseSummary.risk.riskManagementPlan.latestDateCompleted, monthAndYear: true }) }}.
            {% if caseSummary.risk.riskManagementPlan.incompleteAssessment %}
                There's a more recent assessment in OASys that's not complete. Double-check this for any new information.
            {% endif %}
        </p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        attributes: {
            'data-qa': 'banner-oasys-last-updated',
            'data-analytics-event': 'notification_banner',
            'data-analytics-event-category': 'oasysRecentIncomplete' if caseSummary.risk.riskManagementPlan.incompleteAssessment else 'oasysLastUpdated',
            'data-analytics-event-label': caseSummary.risk.riskManagementPlan.latestDateCompleted
        },
        classes: 'govuk-!-margin-bottom-6'
    }) }}
{% endif %}