{% set html %}
    <div data-qa='banner-vulnerabilities-{{ caseSummary.vulnerabilities.error }}'>
        <p class="govuk-notification-banner__heading">
        {% if caseSummary.vulnerabilities.error == 'NOT_FOUND_LATEST_COMPLETE' %}
            {{ notifications.oasysNotFoundLatestComplete }}
        {% else %}
            {{ notifications.oasysVulnerabilityError }}
        {% endif %}
        </p>
        <ul class='govuk-list govuk-heading-m'>
            <li>R8.1 Suicide and/or self-harm</li>
            <li>R8.2 Coping in custody or a hostel</li>
            <li>R8.3 Vulnerability</li>
        </ul>
    </div>
{% endset %}
{{ govukNotificationBanner({
    html: html,
    classes: "govuk-notification-banner--error",
    attributes: {
        'data-analytics-event': 'notification_banner',
        'data-analytics-event-category': 'oasysVulnerabilitiesError'
    }
}) }}
