{% set html %}
    <p class="govuk-notification-banner__heading" data-qa='banner-vulnerabilities'>
        {% if not caseSummary.vulnerabilities.error %}This information is from OASys. {% endif %}<a href='{{ urlInfo.baseUrl }}contact-history'>Check the contact history</a> for vulnerability information from NDelius.
    </p>
{% endset %}
{{ govukNotificationBanner({
    html: html,
    attributes: {
        'data-analytics-event': 'notification_banner',
        'data-analytics-event-category': 'oasysVulnerabilities'
    }
}) }}
