{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    You cannot access this page
  </h1>
  <p>
    You do not have the required access rights to view this page.
  </p>
{% endblock %}
