{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    You cannot access this page
  </h1>
  <p>
    You do not have the correct access rights. Only senior probation officers can access this page.
  </p>
{% endblock %}
