{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    You cannot access this page
  </h1>
  <p>
    This may be because you’ve already recorded a decision.
  </p>
{% endblock %}
