
{% macro getOverallRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget--very-high
{% elif level == 'HIGH' %}
rosh-widget--high
{% elif level == 'MEDIUM' %}
rosh-widget--medium
{% elif level == 'LOW' %}
rosh-widget--low
{% endif %}
{% endmacro %}

{% macro getRiskLevelText(level) %}
{% if level == 'VERY_HIGH' %}
Very high
{% elif level == 'HIGH' %}
High
{% elif level == 'MEDIUM' %}
Medium
{% elif level == 'LOW' %}
Low
{% endif %}
{% endmacro %}

{% macro getRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget__risk--very-high
{% elif level == 'HIGH' %}
rosh-widget__risk--high
{% elif level == 'MEDIUM' %}
rosh-widget__risk--medium
{% elif level == 'LOW' %}
rosh-widget__risk--low
{% endif %}
{% endmacro %}

{% set riskOfSeriousHarm = params.riskOfSeriousHarm %}
{% if not riskOfSeriousHarm.error %}
<div class="rosh-widget {{ getOverallRiskLevelClass(riskOfSeriousHarm.overallRisk) }}">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><strong>{{ getRiskLevelText(riskOfSeriousHarm.overallRisk) | upper }}</strong> RoSH</h2>
    <table class="govuk-table rosh-widget__table">
        <caption class='govuk-!-text-align-left'>
            <p class="govuk-body-m govuk-!-margin-bottom-1">Risk of serious harm</p>
            <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0">Last updated: {{ params.lastUpdatedDate | default("Not known") }}</p>
        </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Risk to</th>
                <th class="govuk-table__header">Community</th>
                <th class="govuk-table__header">Custody</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Children</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCommunity.riskToChildren) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCommunity.riskToChildren) | default("No data") }}</td>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCustody.riskToChildren) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCustody.riskToChildren) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Public</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCommunity.riskToPublic) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCommunity.riskToPublic) | default("No data") }}</td>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCustody.riskToPublic) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCustody.riskToPublic) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Known adult</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCommunity.riskToKnownAdult) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCommunity.riskToKnownAdult) | default("No data") }}</td>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCustody.riskToKnownAdult) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCustody.riskToKnownAdult) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Staff</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCommunity.riskToStaff) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCommunity.riskToStaff) | default("No data") }}</td>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCustody.riskToStaff) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCustody.riskToStaff) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Prisoners</th>
                <td class="govuk-table__cell"><span class='text-secondary'>N/A</span></td>
                <td class="govuk-table__cell {{ getRiskLevelClass(riskOfSeriousHarm.riskInCustody.riskToPrisoners) }}">{{ getRiskLevelText(riskOfSeriousHarm.riskInCustody.riskToPrisoners) | default("No data") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% else %}
    <div class="rosh-widget rosh-widget--unknown">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0 text-uppercase"><strong>Unknown</strong> RoSH</h3>
        <p class="govuk-body-m govuk-!-margin-bottom-1">Risk of serious harm</p>
        <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0">
            {% if riskOfSeriousHarm.error == 'NOT_FOUND_LATEST_COMPLETE' %}
                {{ params.notifications.oasysNotFoundLatestComplete }}
            {% elseif riskOfSeriousHarm.error == 'MISSING_DATA' %}
                {{ params.notifications.oasysMissingRosh }}
            {% else %}
                {{ params.notifications.oasysApiError }}
            {% endif %}
        </p>
    </div>
{% endif %}
