{% macro getOverallRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget--very-high
{% elif level == 'HIGH' %}
rosh-widget--high
{% elif level == 'MEDIUM' %}
rosh-widget--medium
{% elif level == 'LOW' %}
rosh-widget--low
{% endif %}
{% endmacro %}

{% macro getRiskLevelText(level) %}
{% if level == 'VERY_HIGH' %}
Very high
{% elif level == 'HIGH' %}
High
{% elif level == 'MEDIUM' %}
Medium
{% elif level == 'LOW' %}
Low
{% endif %}
{% endmacro %}

{% macro getRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget__risk--very-high
{% elif level == 'HIGH' %}
rosh-widget__risk--high
{% elif level == 'MEDIUM' %}
rosh-widget__risk--medium
{% elif level == 'LOW' %}
rosh-widget__risk--low
{% endif %}
{% endmacro %}

{% if not params.error %}
<div class="rosh-widget {{ getOverallRiskLevelClass(params.overallRisk) }}">
    <h2 class="govuk-heading-m"><strong>{{ getRiskLevelText(params.overallRisk) | upper }}</strong> RoSH</h2>
    <table class="govuk-table rosh-widget__table">
        <caption class='govuk-!-text-align-left'>
            <p class="govuk-body-m">Risk of serious harm</p>
            <p class="govuk-hint govuk-body-m">Last updated: {{ params.lastUpdated | default("Not known") }}</p>
        </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Risk to</th>
                <th class="govuk-table__header">Community</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Children</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(params.riskToChildren) }}">{{ getRiskLevelText(params.riskToChildren) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Public</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(params.riskToPublic) }}">{{ getRiskLevelText(params.riskToPublic) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Known adult</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(params.riskToKnownAdult) }}">{{ getRiskLevelText(params.riskToKnownAdult) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Staff</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(params.riskToStaff) }}">{{ getRiskLevelText(params.riskToStaff) | default("No data") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% else %}
    <div class="rosh-widget rosh-widget--unknown">
        <h3 class="govuk-heading-m"><strong>UNKNOWN LEVEL</strong> RoSH</h3>
        <p class="govuk-body-m">Risk of serious harm</p>
        <p class="govuk-hint govuk-body-m">
            {% if params.error == 'NOT_FOUND' %}
                This information cannot be retrieved from OASys. Double-check OASys as it might be out of date.
            {% else %}
                Something went wrong. Sorry, RoSH data is not available at the moment. Try again later.
            {% endif %}
        </p>
    </div>
{% endif %}
