{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../../../partials/error-summary.njk' %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set ppudInfoTextBox %}
                    {% call govukInsetText({ classes: "guidance-panel" }) %}
                        {{ bodyParagraph('You selected this offence from PPUD:') }}
                        {{ textList({
                            heading: selectedPpudSentence.offence.indexOffence,
                            headingSize: 's',
                            rows: [
                                { key: 'Additional comments', value: selectedPpudSentence.offence.indexOffenceComment or 'None' },
                                { key: 'Date of sentence', value: formatDateTimeFromIsoString({isoDate: selectedPpudSentence.dateOfSentence, dateOnly: true}) },
                                { key: 'Sentence expiry date', value: formatDateTimeFromIsoString({isoDate: selectedPpudSentence.sentenceExpiryDate, dateOnly: true}) }
                            ]
                        }) }}
                    {% endcall %}
                {% endset %}

                {{ govukRadios({
                    idPrefix: "changeOffenceOrAddComment",
                    name: "changeOffenceOrAddComment",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            isPageHeading:true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        html: ppudInfoTextBox
                    },
                    items: radioCheckboxItems({
                        items: allOptions,
                        currentValues: selectedOption
                    }),
                    errorMessage: errorMessage(errors.changeOffenceOrAddComment)
                }) }}

                {{ formSubmitButton({ marginTop: 7 }) }}
            </form>
        </div>
    </div>
{% endblock %}
