{% set html %}
    {% if caseSummary.risk.riskManagementPlan.assessmentStatusComplete === false %}
        {% include '../notificationBanners/contingencyIncompleteAssessment.njk' %}
    {% endif %}
    <div class="govuk-!-margin-bottom-2 text-secondary">
        OASys 11.9 Contingency plan
    </div>
    {% if caseSummary.risk.riskManagementPlan.error %}
        {% set html %}
            <p class="govuk-notification-banner__heading">
                This information cannot be retrieved from OASys. Double-check OASys for the latest contingency plan.
            </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: html,
            attributes: {
                'data-qa': 'contingency-plan-error'
            },
            classes: "govuk-notification-banner--error govuk-!-margin-bottom-0"
        }) }}
    {% else %}
        <div class="govuk-!-padding-bottom-4 govuk-!-margin-bottom-4 govuk-section-break--visible text-secondary">
            Last updated: {{ formatDateTimeFromIsoString({ isoDate: caseSummary.risk.riskManagementPlan.lastUpdatedDate, dateOnly: true }) }}
        </div>
        {% set contentHtml %}
            <pre class='govuk-body'>{{ caseSummary.risk.riskManagementPlan.contingencyPlans }}</pre>
        {% endset %}
        {{ govukDetails({
            summaryHtml: "View more detail<span class='govuk-visually-hidden'> on contingency plan</span>",
            html: contentHtml,
            open: false
        }) }}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'Contingency plan',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    attributes: {
        'data-qa': 'contingency-plan'
    },
    html: html
}) }}