{% set html %}
    {% if caseSummary.risk.riskManagementPlan.assessmentStatusComplete === false %}
        {% set notificationHtml %}
            <p class="govuk-notification-banner__heading" data-qa='banner-contingency-incomplete-assessment'>
                This contingency plan is from an assessment that’s not complete. Check OAsys if you need the last complete assessment.
            </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: notificationHtml,
            classes: 'govuk-!-margin-bottom-4'
        }) }}
    {% endif %}
    <div class="govuk-!-margin-bottom-2 text-secondary">
        OASys 11.9 Contingency plan
    </div>
    {% if caseSummary.risk.riskManagementPlan.error %}
        <p class='govuk-body' data-qa='contingency-plan-error'>This information cannot be retrieved from OASys. Double-check OASys for the latest contingency plan.</p>
    {% else %}
        <div class="govuk-!-padding-bottom-4 govuk-!-margin-bottom-4 govuk-section-break--visible text-secondary">
            Last updated: {{ formatDateTimeFromIsoString({ isoDate: caseSummary.risk.riskManagementPlan.lastUpdatedDate, dateOnly: true }) }}
        </div>
        {% set contentHtml %}
            <pre class='govuk-body'>{{ caseSummary.risk.riskManagementPlan.contingencyPlans }}</pre>
        {% endset %}
        {{ govukDetails({
            summaryHtml: "View more detail<span class='govuk-visually-hidden'> on contingency plan</span>",
            html: contentHtml,
            open: false
        }) }}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'Contingency plan',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    attributes: {
        'data-qa': 'contingency-plan'
    },
    html: html
}) }}