
{% set offenceDescriptionHtml %}
    {% if caseSummary.risk.assessments.offenceDataFromLatestCompleteAssessment === false %}
        <div class='govuk-!-margin-bottom-4'>
            {% include '../notificationBanners/latestCompleteAssessment.njk' %}
        </div>
    {% endif %}
    {% if caseSummary.risk.assessments.offencesMatch === false %}
        <div class='govuk-!-margin-bottom-4'>
            {% include '../notificationBanners/mainOffenceMismatchBanner.njk' %}
        </div>
    {% endif %}
    <div class="govuk-!-margin-bottom-2 text-secondary">
        OASys 2.1 Brief offence(s) details
    </div>
    {% if caseSummary.risk.assessments.error %}
        {% set html %}
            <p class="govuk-notification-banner__heading">
                This information cannot be found in OASys. Double-check OASys for the latest description of the index offence.
            </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: html,
            attributes: {
                'data-qa': 'offence-analysis-error'
            },
            classes: "govuk-notification-banner--error govuk-!-margin-bottom-0",
            titleId: "offence-analysis-error-title"
        }) }}
    {% elseif caseSummary.risk.assessments.offenceDescription %}
        <div class="govuk-!-padding-bottom-4 govuk-!-margin-bottom-4 govuk-section-break--visible text-secondary">
            Last updated: {{ formatDateTimeFromIsoString({ isoDate: caseSummary.risk.assessments.lastUpdatedDate, dateOnly: true }) }}
        </div>
        {{ govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            rows: [
                {
                    key: { html: 'Analysis' },
                    value: { html: '<pre class="govuk-body">' + caseSummary.risk.assessments.offenceDescription + '</pre>' }
                }
            ]
        })}}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'Offence analysis',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    attributes: {
        'data-qa': 'offence-analysis',
        'data-analytics-event-scroll': 'Offence analysis'
    },
    html: offenceDescriptionHtml
}) }}