{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

<section class="moj-summary-section">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-0" data-qa="{{ params.dataQaAttr }}-cardHeading">
    {{ params.cardHeading }}
  </h2>

  <div class="moj-summary-meta">

    <p class="govuk-body govuk-!-margin-bottom-2 moj-question text-secondary" data-qa="{{ params.dataQaAttr }}-oasysHeading">
      {{ params.oasysHeading }}
    </p>

    {% if not params.error %}
        <div class="text-secondary govuk-body-s govuk-!-margin-bottom-0" data-qa="{{ params.dataQaAttr }}-lastUpdatedDate">
            Last updated: {{ formatDateTimeFromIsoString({ isoDate: params.lastUpdated, dateOnly: true }) }}
         </div>
    {% endif %}

  </div>

  {% if params.error %}

    {% if params.error == 'NOT_FOUND_LATEST_COMPLETE' %}
      {% set message = params.notifications.oasysNotFoundLatestComplete %}
      {% set bannerId = 'oasysNotFoundLatestComplete' %}
    {% elseif params.error == 'MISSING_DATA' %}
      {% set message = params.notifications.oasysMissingRosh %}
      {% set bannerId = 'oasysMissingRosh' %}
    {% else %}
      {% set message = params.notifications.oasysApiError %}
    {% endif %}

    {% set html %}
      <p class="govuk-notification-banner__heading" data-qa="{{ params.dataQaAttr }}-not-found-error">
        {{ message }}
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      classes: ("govuk-notification-banner--error" if params.error !== 'MISSING_DATA' else ""),
      attributes: {
        'data-analytics-event': 'notification_banner',
        'data-analytics-event-category': bannerId
      } if bannerId else undefined
    }) }}

  {% else %}

    {% if params.content %}
      {% if params.content.text %}
        <p class="govuk-body" data-qa="{{ params.dataQaAttr }}-details">
          {{ params.content.text }}
        </p>
      {% else %}
        {{ params.content.html | safe }}
      {% endif %}
    {% else %}
      <p class="govuk-body">
        Not available
      </p>
    {% endif %}

  {% endif %}

</section>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
