{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "components/summary-card/macro.njk"             import appSummaryCard %}

{% set contentHtml %}
  <pre class='govuk-body'>{{ params.content }}</pre>
{% endset %}

{% set sectionHtml %}
  <div class="govuk-!-padding-bottom-6 govuk-!-margin-bottom-6 govuk-section-break--visible text-secondary">
    {{ params.oasysHeading.number }} {{ params.oasysHeading.description }}
  </div>
  {% if params.content %}
  {{ govukDetails({
    summaryHtml: "View more detail<span class='govuk-visually-hidden'> on " + params.cardHeading + "</span>",
    html: contentHtml,
    open: params.open
  }) }}
  {% else %}
  <p class='govuk-body'>Not available</p>
  {% endif %}
{% endset %}

{{ appSummaryCard({
  titleHtml: params.cardHeading,
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: sectionHtml
}) }}
