.panel-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.evidence-panel {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  margin-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid $govuk-border-colour;
}