{% extends "../../../../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% set offenceSelectList = [] %}
{% for offence in offencesList %}
    {% set _ = offenceSelectList.push({ text: offence.description, value: offence.offenderChargeId }) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../../../../partials/error-summary.njk' %}

            {{ heading(pageHeadings[page.id]) }}
            {{ bodyParagraph('Update the information to record in PPUD') }}

            {{ heading('Currently in PPUD', 2, 'm', 'govuk-!-padding-top-2 govuk-!-margin-bottom-1') }}
            {{ bodyParagraph(existingOffenceDescription, 'govuk-!-margin-bottom-6') }}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ accessibleAutocomplete({
                    id: 'offenceDescription',
                    label: {
                        text: 'Select the offence',
                        class: 'govuk-label--m '
                    },
                    class: 'govuk-!-margin-bottom-4 govuk-input--width-30',
                    errorMessage: errorMessage(errors.offenceDescription),
                    list: allOffences,
                    placeholder: 'Search for an offence',
                    nonce: cspNonce,
                    value: offenceDescription
                }) }}

                {{ govukTextarea({
                    name: "offenceDescriptionComment",
                    id: "offenceDescriptionComment",
                    formGroup: {
                        classes: 'govuk-!-margin-bottom-7'
                    },
                    label: {
                        text: 'Add comments, including any additional offences (optional)',
                        class: 'govuk-label--m'
                    },
                    value: offenceDescriptionComment
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}
