{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "../../../../../partials/layout.njk" %}

{% set title = 'Edit date of sentence' %}
{% set pageTitle = makePageTitle({ pageHeading: title, hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../../../../partials/error-summary.njk' %}

            {{ heading(title) }}
            {{ bodyParagraph('Update the information to record in PPUD') }}

            {{ heading('Currently in PPUD', 2, 'm', 'govuk-!-padding-top-2 govuk-!-margin-bottom-1') }}
            {{ bodyParagraph(formatDateTimeFromIsoString({ isoDate: pageData.existingDateOfSentence, dateOnly: true }), 'govuk-!-margin-bottom-6') }}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% set dateInputError = { text: errors.dateOfSentence } if errors.dateOfSentence else null %}
                {{ govukDateInput({
                    id: "date-of-sentence",
                    formGroup: {
                        classes: 'govuk-!-margin-bottom-7'
                    },
                    fieldset: {
                        legend: {
                            text: 'Date of sentence',
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2023"
                    },
                    items: [
                        {
                            id:'dateOfSentence-day',
                            name: 'day',
                            value: pageData.day,
                            classes: 'govuk-input--width-2' + (' govuk-input--error' if isDatePartInvalid('day', errors.dateOfSentence))
                        },
                        {
                            id:'dateOfSentence-month',
                            name: 'month',
                            value: pageData.month,
                            classes: 'govuk-input--width-2' + (' govuk-input--error' if isDatePartInvalid('month', errors.dateOfSentence))
                        },
                        {
                            id:'dateOfSentence-year',
                            name: 'year',
                            value: pageData.year,
                            classes: 'govuk-input--width-4' + (' govuk-input--error' if isDatePartInvalid('year', errors.dateOfSentence))
                        }
                    ]
                    ,
                    errorMessage: { text: errors.dateOfSentence.text } if errors.dateOfSentence else null
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}
