{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="type" value="{{ type }}" />

                {% set html %}
                    <h1 class="govuk-heading-l">
                        Add a minute for {{ recommendation.personOnProbation.name }}
                    </h1>

                    <p class="govuk-body">
                        Check that the background information is accurate.
                    </p>

                    <p class="govuk-body">
                        Under more information, record any issues with the supporting documents
                        and add information that should be included in the minute on PPUD.
                    </p>
                {% endset %}

                {{ govukTextarea({
                    name: "minute",
                    id: "minute",
                    rows: "16",
                    value: minute,
                    label: {
                        html: html
                    },
                    errorMessage: errorMessage(errors.minute)
                }) }}

                {{ formSubmitButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
