{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if recommendation.previousRecalls.previousRecallDates.length %}
                <input type="hidden" name="previousRecallDates" value="{% for date in recommendation.previousRecalls.previousRecallDates %}{{ date }}|{% endfor %}" />
                {% endif %}
                <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
                {{ govukDateInput({
                    id: "previousRecallDate",
                    namePrefix: "previousRecallDate",
                    fieldset: {
                        legend: {
                            html: "Previous recall date",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: dateTimeItems("previousRecallDate", inputDisplayValues.value),
                    errorMessage: errorMessage(errors.previousRecallDate)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

