{% extends "../../partials/layout.njk" %}
{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}
{% block content %}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Recall started
              </h1>
              <div class="govuk-panel__body" data-qa="fullName">
              {{ personOnProbation }}
              </div>
              <div class="govuk-panel__body" data-qa="crn">
                NOMIS number: {{ nomsNumber }}
              </div>
            </div>
            <h1 class="govuk-heading-m">What happens next</h1>

            <p class="govuk-body">
                Tell the probation practitioner to say you have started the recall. Give them the:
            </p>
             <ul class='govuk-list govuk-list--bullet'>
                <li>name - {{ personOnProbation }}</li>
                <li>CRN - {{ crn }}</li>
                <li>reasons for recall</li>
            </ul>
            <p class="govuk-body">
                The practitioner will fill in the Part A.
            </p>

            <p class="govuk-body">
                <a href="/cases/{{crn}}/overview" class="govuk-link">Return to overview</a>
            </p>
        </div>

    </div>
{% endblock %}
