{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% if isDataError %}
{% set heading = "Recall booking not completed" %}
{% set message = "Something went wrong booking the recall to PPUD. You’ll need to go to PPUD to check what information’s there, and add anything that’s missing." %}
{% set buttonText = "Open PPUD to complete the booking" %}
{% elseif isUploadDocsError %}
{% set heading = "Document not uploaded to PPUD" %}
{% set message = "The " ~ (uploadFailedDocName or "document") ~ " did not upload to PPUD. You’ll need to go to PPUD to add the document manually and add any other missing documents." %}
{% set buttonText = "Open PPUD to complete the booking" %}
{% else %}
{% set heading = "Minute not uploaded to PPUD" %}
{% set message = "The minute did not upload to PPUD. You’ll need to go to PPUD to add it manually." %}
{% set buttonText = "Open PPUD to add the minute" %}
{% endif %}

{% block content %} <div class="govuk-grid-row"> <div class="govuk-grid-column-two-thirds-from-desktop"> <h1 class="govuk-heading-l">
{{ heading }} </h1>

```
        <p class="govuk-body">
            {{ message }}
        </p>

        <a class="govuk-link" href="/recommendations/{{ recommendation.id }}/booking-summary">
            View a summary of information to check in PPUD
        </a>

        <div class="govuk-!-margin-top-6">
            {{ govukButton({
                text: buttonText,
                classes: "govuk-button--primary govuk-!-margin-top-2 govuk-!-margin-bottom-3",
                attributes: {
                    target: "_blank",
                    rel: "noopener noreferrer"
                },
                href: ppudUrl
            }) }}
        </div>
    </div>
</div>
```

{% endblock %}
