{% extends "../../partials/layout.njk" %}

{% macro formatAddress(address) %}
    {% if not address.noFixedAbode %}
        <p class="govuk-body">
            {% if address.line1 %}
                {{ address.line1 }},
            {% endif %}
            {% if address.line2 %}
                {{ address.line2 }},
            {% endif %}
            {% if address.town %}
                {{ address.town }},
            {% endif %}
            {% if address.postcode %}
                {{ address.postcode }}
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}

{% macro blankSafe(value, mandatory, message) %}
    {% if value %}
        {{ value }}
    {% else %}
        {% if mandatory %}
            <svg class="govuk-icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8 C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"></path>
            </svg>
            {{ message }}
        {% else %}
            - <span class="govuk-visually-hidden">no value</span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% set fullName = [recommendation.bookRecallToPpud.firstNames, " ", recommendation.bookRecallToPpud.lastName] | join %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>Your recall booking - {{ fullName }}</h1>

            <a class='govuk-button govuk-button--primary govuk-!-margin-bottom-0'
               href='/recommendations/{{ recommendation.id }}/book-to-ppud'>Continue</a>

            <h2 class='govuk-heading-m govuk-!-margin-top-8'>
                Sentence
                <div class="govuk-hint">
                    Selected for recall.
                </div>
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Custody type
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="custodyType">
                        {{ hyphenForBlank(recommendation.bookRecallToPpud.custodyType) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Offence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="offenceDescription">
                        {{ hyphenForBlank(recommendation.bookRecallToPpud.indexOffence) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Offence date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="offenceDate">
                        {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: offence.offenceDate }) ) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Release date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="releaseDate">
                        {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: offence.releaseDate }) ) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentencing court
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="courtDescription">
                        {{ hyphenForBlank(offence.courtDescription) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of sentence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="sentenceDate">
                        {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: offence.sentenceDate }) ) }}
                    </dd>
                </div>

                {% if offence.terms.length < 2 %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sentence length
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa="sentenceLength">
                            {% for term in offence.terms %}
                                <div>{{ hyphenForBlank(formatTerm(term)) }}</div>
                            {% endfor %}
                            {% if not offence.terms.length %}
                                - <span class="govuk-visually-hidden">no value</span>
                            {% endif %}
                        </dd>
                    </div>
                {% else %}
                    {% for term in offence.terms %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" data-qa="{{ loop.index }}-termType">
                                {% if term.code === "IMP" %}
                                    Custodial term
                                {% endif %}
                                {% if term.code === "LIC" %}
                                    Extended term
                                {% endif %}
                            </dt>
                            <dd class="govuk-summary-list__value" data-qa="{{ loop.index }}-term">
                                <div>{{ hyphenForBlank(formatTerm(term)) }}</div>
                            </dd>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Licence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="licenceExpiryDate">
                        {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: offence.licenceExpiryDate }) ) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa="sentenceEndDate">
                        {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: offence.sentenceEndDate }) ) }}
                    </dd>
                </div>
            </dl>

            <h2 class='govuk-heading-m govuk-!-margin-top-8'>
                Personal details
                <div class="govuk-hint">
                    Taken from NOMIS.
                </div>
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    </dt>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Image
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if recommendation.prisonOffender.image %}
                            <img src="{{ recommendation.prisonOffender.image }}" />
                        {% else %}
                            - <span class="govuk-visually-hidden">no value</span>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOMIS number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.personOnProbation.nomsNumber) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name(s)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.firstNames) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.lastName) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.gender, true, 'You must enter a gender') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Ethnicity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.ethnicity, true, 'You must enter a ethnicity') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(
                            formatDateTimeFromIsoString({ isoDate: recommendation.bookRecallToPpud.dateOfBirth, dateOnly: true })) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRO
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.cro) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Prison booking number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.prisonNumber) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Releasing prison
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.releasingPrison, true, 'You must enter releasing prison') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legislation released under
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.legislationReleasedUnder, true, 'You must enter legislation') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Custody status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if recommendation.prisonOffender.status == "ACTIVE IN" %}
                            In custody
                        {% elseif recommendation.prisonOffender.status == "INACTIVE OUT" %}
                            Unlawfully at large (UAL)
                        {% elseif recommendation.prisonOffender.status == "INACTIVE TRN" %}
                            In transit - Unlawfully at large (UAL)
                        {% else %}
                            - <span class="govuk-visually-hidden">no value</span>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last known address
                        <p class="govuk-hint">From the Part A</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for address in recommendation.personOnProbation.addresses %}
                            {{ formatAddress(address) }}
                        {% endfor %}
                        {% if not recommendation.personOnProbation.addresses %}
                            - <span class="govuk-visually-hidden">no value</span>
                        {% endif %}
                        <p class="govuk-body govuk-!-font-weight-bold">
                            Additional address
                        </p>
                        <span class="govuk-body">
                            {{ blankSafe(recommendation.isMainAddressWherePersonCanBeFound.details) }}
                        </span>
                    </dd>

                </div>
            </dl>

            <h2 class='govuk-heading-m govuk-!-margin-top-8'>
                Probation details
                <div class="govuk-hint">
                    Taken from the Part A.
                </div>
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    </dt>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Recall received date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ formatDateTimeFromIsoString({ isoDate: recallReceived, dateOnly: true }) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Recall received time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ formatDateTimeFromIsoString({ isoDate: recallReceived, timeOnly: true }) }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Recall decision date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ formatDateTimeFromIsoString({ isoDate: poRecallConsultSpo.created, dateOnly: true }) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Recall decision time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ formatDateTimeFromIsoString({ isoDate: poRecallConsultSpo.created, timeOnly: true }) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Probation area
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.probationArea, true, 'You must enter probation area') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Probation practitioner
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(practitioner.name) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Probation practitioner email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(practitioner.email) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Probation practitioner phone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(practitioner.telephone) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local police contact
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.policeForce, true, 'You must enter local police force') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Senior manager (ACO)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ acoSigned.createdByUserFullName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Senior manager (ACO) email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ acoSigned.emailAddress }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        MAPPA level
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ blankSafe(recommendation.bookRecallToPpud.mappaLevel, true, 'You must enter MAPPA level') }}
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Current risk of serious harm
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ currentHighestRosh }}
                    </dd>
                </div>
            </dl>

        </div>

    </div>
{% endblock %}
