{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class='govuk-panel__title'>Your recall booking - {{ recommendation.bookRecallToPpud.firstNames }} {{ recommendation.bookRecallToPpud.lastName }}</h1>
              <div class="govuk-panel__body" data-qa="fullName">
              {{ recommendation.personOnProbation.name }}
              </div>
              <div class="govuk-panel__body govuk-!-font-weight-bold" data-qa="nomsId">
                NOMIS number: {{ recommendation.personOnProbation.nomsNumber }}
              </div>
            </div>

            <h2 class="govuk-heading-m">What happens next</h1>

            <p class="govuk-body">You have added this recall to PPUD.  The offence you've selected will go into the comments box in the offence screen.</p>
        </div>
    </div>
{% endblock %}
