{% extends "../../partials/layout.njk" %}
{% from "components/summary-list/macro.njk" import summaryList %}
{% set editText = 'Edit' %}
{% set editIdPrefix = 'edit-' %}

{% macro formatAddress(address) %}
    {% if not address.noFixedAbode %}
        <p class="govuk-body">
            {% if address.line1 %}
                {{ address.line1 }}<br />
            {% endif %}
            {% if address.line2 %}
                {{ address.line2 }}<br />
            {% endif %}
            {% if address.town %}
                {{ address.town }}<br />
            {% endif %}
            {% if address.postcode %}
                {{ address.postcode }}<br />
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}
{% macro blankSafe(value, mandatory, message) %}
    {% if value %}
        {{ value }}
    {% else %}
        {% if mandatory %}
            <svg class="govuk-icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8 C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"></path>
            </svg>
            {{ message }}
        {% else %}
            - <span class="govuk-visually-hidden">no value</span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro editedBadge(display) %}
    {% if display %}
        <strong class="govuk-tag">
            Edited
        </strong>
    {% endif %}
{% endmacro %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errorMessage %}
                {% set html %}
                    <h1 class="govuk-heading-m" data-qa='multiple-results'>NOMIS error</h1>
                    <span> {{ errorMessage }}</span>
                {% endset %}

                {{ mojBanner({
                    type: 'warning',
                    html: html,
                    iconFallbackText: 'none'
                }) }}
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    {% include '../../partials/error-summary.njk' %}
                        <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

                        <p class="govuk-body">
                        These details will go into a PPUD record. You should check everything is correct and edit anything that's missing or wrong.
                        </p>

                        <h2 class="govuk-heading-m">Supporting documents</h2>
                        <p class="govuk-body">
                        Upload the Part A, licence and reports to add them to PPUD.
                        </p>


                        {{ govukButton({
                            text: "Upload documents",
                            classes: "govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-3",
                            href: "/recommendations/" + recommendation.id + "/supporting-documents"
                        }) }}
                </div>
            </div>
            
            <hr class="govuk-section-break govuk-section-break--visible" />
        </div>
    </div>

    {% set personalDetailsHtml %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                {{
                    summaryList({
                        id: "check-booking-personal-details-list",
                        rows: [
                            { key: 'NOMIS number', value: blankSafe(recommendation.personOnProbation.nomsNumber) },
                            { key: "First name\(s\)", value: editedBadge(edited.firstNames) + blankSafe(recommendation.bookRecallToPpud.firstNames), actions: [{ id: editIdPrefix+'firstnames', text: editText, href: 'edit-name', visuallyHidden: 'first names' }] },
                            { key: 'Last name', value: editedBadge(edited.lastName) + blankSafe(recommendation.bookRecallToPpud.lastName), actions: [{ id: editIdPrefix+'lastname', text: editText, href: 'edit-name', visuallyHidden: 'last name' }] },
                            { key: 'Gender', value: '<span id="gender"></span>' + blankSafe(recommendation.bookRecallToPpud.gender, true, 'You must enter a gender'), actions: [{ id: editIdPrefix+'gender', text: editText, href: 'edit-gender', visuallyHidden: 'gender' }], error: errors.gender },
                            { key: 'Ethnicity', value: '<span id="ethnicity"></span>' + blankSafe(recommendation.bookRecallToPpud.ethnicity, true, 'Enter an ethnicity'), actions: [{ id: editIdPrefix+'ethnicity', text: editText, href: 'edit-ethnicity', visuallyHidden: 'ethnicity' }], error: errors.ethnicity },
                            { key: 'Date of birth', value: editedBadge(edited.dateOfBirth) + blankSafe(formatDateTimeFromIsoString({ isoDate: recommendation.bookRecallToPpud.dateOfBirth, dateOnly: true })), actions: [{ id: editIdPrefix+'dateofbirth', text: editText, href: 'edit-date-of-birth', visuallyHidden: 'date of birth' }] },
                            { key: 'CRO', value:  editedBadge(edited.cro) + blankSafe(recommendation.bookRecallToPpud.cro), actions: [{ id: editIdPrefix+'cro', text: editText, href: 'edit-cro' , visuallyHidden: 'CRO' }] }
                        ]
                    })
                }}
            </div>

            <div class="govuk-grid-column-one-third-from-desktop">
                <div class="govuk-!-margin-left-2">
                    <div class="govuk-summary-list__value">
                        <h2 class="govuk-heading-s">Image</h2>
                        {% if recommendation.prisonOffender.image %}
                            <img src="{{ recommendation.prisonOffender.image }}" alt="image of {{ recommendation.bookRecallToPpud.firstNames + recommendation.bookRecallToPpud.lastName }}" />
                        {% else %}
                            - <span class="govuk-visually-hidden">no value</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set custodyDetailsHtml %}
        {% set custodyStatusBlock %}
            {% if recommendation.prisonOffender.status == "ACTIVE IN" %}
                In custody
            {% elseif recommendation.prisonOffender.status == "INACTIVE OUT" %}
                Unlawfully at large (UAL)
            {% elseif recommendation.prisonOffender.status == "INACTIVE TRN" %}
                In transit - Unlawfully at large (UAL)
            {% else %}
                - <span class="govuk-visually-hidden">no value</span>
            {% endif %}
        {% endset %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{
                    summaryList({
                        id: "check-booking-custody-details-list",
                        rows: [
                            { key: "Custody status", value: custodyStatusBlock },
                            { key: 'Determinate or indeterminate', value: '<span id="custodyGroup"></span>' + blankSafe(recommendation.bookRecallToPpud.custodyGroup, true, 'You must enter determinate or indeterminate'), actions: [{ id: editIdPrefix+'custodygroup', text: editText, href: 'edit-custody-group', visuallyHidden: 'custody group' }], error: errors.custodyGroup },
                            { key: 'Current establishment', value: '<span id="currentEstablishment"></span>' + blankSafe(recommendation.bookRecallToPpud.currentEstablishment, true, 'Enter an establishment'), actions: [{ id: editIdPrefix+'currentestablishment', text: editText, href: 'edit-current-establishment', visuallyHidden: 'current establishment' }], error: errors.currentEstablishment }
                        ]
                    })
                }}
            </div>
        </div>
    {% endset %}

    {% set prisonAndlicenceInformationHtml %}

        {% set prisonAndLicenceInformationRows = [
            { key: 'PNC', value: blankSafe(recommendation.personOnProbation.pncNumber) },
            { key: 'Prison booking number', value: editedBadge(edited.prisonNumber) + blankSafe(recommendation.bookRecallToPpud.prisonNumber), actions: [{ id: editIdPrefix+'prisonbookingnumber', text: editText, href: 'edit-prison-booking-number' , visuallyHidden: 'prison booking number' }], error: errors.prisonNumber },
            { key: 'Release date', value: blankSafe(formatDateTimeFromIsoString({ isoDate: recommendation.prisonOffender.releaseDate, dateOnly: true })) },
            { key: 'Releasing prison', value: '<span id="releasingPrison"></span>' + blankSafe(recommendation.bookRecallToPpud.releasingPrison, true, 'Enter a releasing prison'), actions: [{ id: editIdPrefix+'releasingprison', text: editText, href: 'edit-releasing-prison' , visuallyHidden: 'releasing prison' }], error: errors.releasingPrison }
        ]%}

        {% if recommendation.bookRecallToPpud.custodyGroup == "Determinate" %}
            {% set prisonAndLicenceInformationRows = (prisonAndLicenceInformationRows.push(
                { key: 'Legislation released under', value: '<span id="legislationReleasedUnder"></span>' + blankSafe(recommendation.bookRecallToPpud.legislationReleasedUnder, true, 'Enter legislation released under'), actions: [{ id: editIdPrefix+'legislationreleasedunder', text: editText, href: 'edit-legislation-released-under', visuallyHidden: 'legislation released under' }], error: errors.legislationReleasedUnder }
            ), prisonAndLicenceInformationRows) %}
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ 
                    summaryList({
                        id: "check-booking-prison-and-licence-details-list",
                        rows: prisonAndLicenceInformationRows
                    })
                }}
            </div>
        </div>
    {% endset %}

    {% set addressHtml %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-font-weight-bold">Last known address</p>
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% if not hasLastKnownAddress and not recommendation.isMainAddressWherePersonCanBeFound.details %}
                    <div class="govuk-summary-list__value_middle"><br />- <span class="govuk-visually-hidden">no value</span>
                    </div>
                {% else %}
                    {% if not hasLastKnownAddress %}
                        - <span class="govuk-visually-hidden">no value</span>
                    {% endif %}
                    {% for address in recommendation.personOnProbation.addresses %}
                        {{ formatAddress(address) }}
                    {% endfor %}

                    {% if recommendation.isMainAddressWherePersonCanBeFound.details %}
                        <p class="govuk-body govuk-!-font-weight-bold">
                            Additional address
                        </p>
                        <span class="govuk-body">
                            <pre class="govuk-body">
                            {{ recommendation.isMainAddressWherePersonCanBeFound.details }}
                            </pre>
                        </span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endset %}

    {% set recallInformationHtml %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{
                    summaryList({
                        id: "check-booking-recall-information-list",
                        rows: [
                            { key: 'Recall received date', value: formatDateTimeFromIsoString({ isoDate: recommendation.bookRecallToPpud.receivedDateTime, dateOnly: true }), actions: [{ id: editIdPrefix+'recallreceiveddate', text: editText, href: 'edit-recall-received-date-and-time', visuallyHidden: 'recall received date' }] },
                            { key: 'Recall received time', value: formatDateTimeFromIsoString({ isoDate: recommendation.bookRecallToPpud.receivedDateTime, timeOnly: true }), actions: [{ id: editIdPrefix+'recallreceivedtime', text: editText, href: 'edit-recall-received-date-and-time', visuallyHidden: 'recall received time' }] },
                            { key: 'Recall decision date', value: formatDateTimeFromIsoString({ isoDate: recommendation.decisionDateTime, dateOnly: true }) },
                            { key: 'Recall decision time', value: formatDateTimeFromIsoString({ isoDate: recommendation.decisionDateTime, timeOnly: true }) }
                        ]
                    })
                }}
            </div>
        </div>
    {% endset %}

    {% set probationDetailsHtml %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ 
                    summaryList({ 
                        id: "check-booking-probation-details-list",
                        rows: [
                            { key: 'Probation area', value: '<span id="probationArea"></span>' + blankSafe(recommendation.bookRecallToPpud.probationArea, true, 'Enter a probation area'), actions: [{ id: editIdPrefix+'probationarea', text: editText, href: 'edit-probation-area', visuallyHidden: 'probation area' }], error: errors.probationArea },
                            { key: 'Probation practitioner', value: blankSafe(practitioner.name) },
                            { key: 'Probation practitioner email', value: blankSafe(practitioner.email) },
                            { key: 'Probation practitioner phone number', value: blankSafe(practitioner.telephone) },
                            { key: 'Local police force', value: '<span id="policeForce"></span>' + blankSafe(recommendation.bookRecallToPpud.policeForce, true, 'Enter a local police force'), actions: [{ id: editIdPrefix+'policecontact', text: editText, href: 'edit-police-contact', visuallyHidden: 'local police contact' }], error: errors.policeForce },
                            { key: 'Senior manager (ACO)', value: acoSigned.createdByUserFullName },
                            { key: 'Senior manager (ACO) email', value: acoSigned.emailAddress }
                        ]
                    })
                }}
            </div>
        </div>
    {% endset %}

    {% set riskLevelsHtml %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{
                    summaryList({
                        id: "check-booking-risk-levels-list",
                        rows: [
                            { key: 'MAPPA level', value: '<span id="mappaLevel"></span>' + blankSafe(recommendation.bookRecallToPpud.mappaLevel,true, 'Enter a MAPPA level'), actions: [{ id: editIdPrefix+'mappalevel', text: editText, href: 'edit-mappa-level', visuallyHidden: 'MAPPA level' }], error: errors.mappaLevel },
                            { key: 'Current risk of serious harm', value: currentHighestRosh }
                        ],
                        borderTop: true
                    })
                }}
            </div>
        </div>
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form novalidate method="post" class="govuk-!-margin-top-3">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="ppudRecordPresent" value="{{ recommendation.ppudRecordPresent }}" />
                {{ accordion({
                    id: "check-booking-details",
                    items: [
                        {
                            heading: {
                                html: "Personal details"
                            },
                            summary: {
                                text: "From NOMIS"
                            },
                            content: {
                                html: personalDetailsHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Custody details"
                            },
                            summary: {
                                text: "From NOMIS"
                            },
                            content: {
                                html: custodyDetailsHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Prison and licence information"
                            },
                            summary: {
                                text: "From NOMIS"
                            },
                            content: {
                                html: prisonAndlicenceInformationHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Address"
                            },
                            summary: {
                                text: "From Part A"
                            },
                            content: {
                                html: addressHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Recall information"
                            },
                            summary: {
                                text: "From Part A"
                            },
                            content: {
                                html: recallInformationHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Probation details"
                            },
                            summary: {
                                text: "From Part A"
                            },
                            content: {
                                html: probationDetailsHtml
                            },
                            expanded: true
                        },
                        {
                            heading: {
                                html: "Risk levels"
                            },
                            summary: {
                                text: "From Part A"
                            },
                            content: {
                                html: riskLevelsHtml
                            },
                            expanded: true
                        }
                    ]
                })
                }}

                {{ formSubmitButton({ label: 'Continue' }) }}
            </form>
        </div>
    </div>
{% endblock %}