{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% set html %}
                <div class='govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-24'>{{ recommendation.crn }}</div>
                <div class='govuk-!-font-size-24'>{{ recommendation.personOnProbation.name }}</div>
            {% endset %}
            {{ govukPanel({
                titleText: pageHeadings[page.id],
                html: html
            }) }}
            <h2 class='govuk-heading-m govuk-!-margin-top-6'>What happens next</h2>
            <p class='govuk-body'>
                <a class='govuk-link' href='/recommendations/{{ recommendation.id }}/documents/no-recall-letter?crn={{ recommendation.crn }}' download data-analytics-event='click_cta' data-analytics-event-category='download_no_recall_letter_click'>
                    Download the decision not to recall letter (DOCX).</a>
            </p>
            <p class='govuk-body'>Upload the decision not to recall letter to NDelius. You must get your manager to sign this letter if it is not the first one {{ recommendation.personOnProbation.name }} has had.</p>
            <p class='govuk-body govuk-!-margin-top-6'><a class='govuk-link' href='/cases/{{ recommendation.crn }}/overview'>Return to overview of {{ recommendation.personOnProbation.name }}</a></p>
        </div>
    </div>
{% endblock %}

