{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% if sameSigner %}
            {% set html %}
                <h1 class="govuk-heading-m" data-qa='already-countersigned'>You have already countersigned this recall</h1>
                <div class="govuk-body">Ask a senior manager to countersign the Part A</div>
                <ol class='govuk-list govuk-list--number'>
                    <li>
                        Copy this link:
                        <div class='govuk-share-widget'>
                            <div class='mid-grey-panel'>
                                <pre class='govuk-body govuk-!-margin-0 govuk-!-padding-1' data-js='copy-to-clipboard-text' data-qa='case-link'>{{ link }}</pre>
                            </div>
                        </div>
                        <button class='govuk-button govuk-button--secondary govuk-!-margin-top-2' data-js='copy-to-clipboard-btn'>Copy</button>
                    </li>
                    <li>Paste it into an email or Teams message.</li>
                    <li>Send it to the senior manager.</li>
                </ol>
            {% endset %}
            {{ govukNotificationBanner({
                html: html,
                classes: "govuk-notification-banner--error",
                attributes: {
                    'data-analytics-event': 'notification_banner',
                    'data-analytics-event-category': 'oasysVulnerabilitiesError'
                }
            }) }}
            {% endif %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="mode" value="{{ mode }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading" data-qa='telephone-entry-page-heading'>
                                {{ pageHeadings[page.id] }}
                            </h1>
                        </legend>
                        <div class="govuk-body">This telephone number will appear on the Part A.</div>
                        <div class="govuk-form-group">
                          <label class="govuk-heading-m govuk-label govuk-label--m" for="telephone">
                            Telephone number (optional)
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="telephone" name="telephone" type="text" value="{{ inputDisplayValues.value }}">
                        </div>
                    </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/copyToClipboard.js" defer></script>
{% endblock %}