{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{{  logMessage(pageTitle) }}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                {{ pageHeadings[page.id] }}
              </h1>
              <div class="govuk-panel__body" data-qa="fullName">
              {{ recommendation.personOnProbation.name }}
              </div>
              <div class="govuk-panel__body" data-qa="crn">
                CRN {{ recommendation.crn }}
              </div>
            </div>

            <h1 class="govuk-heading-m">What happens next</h1>

            {% if not isAcoSigned %}
            <p data-qa="exposition" class='govuk-body'>Ask your senior manager to countersign this Part A:</p>
            <ol class='govuk-list govuk-list--number'>
                <li>
                    Copy this link:
                    <div class='govuk-share-widget'>
                        <div class='mid-grey-panel'>
                            <pre class='govuk-body govuk-!-margin-0 govuk-!-padding-1' data-js='copy-to-clipboard-text' data-qa='case-link'>{{ link }}</pre>
                        </div>
                        <button class='govuk-button govuk-button--secondary govuk-!-margin-top-2' data-js='copy-to-clipboard-btn'>Copy</button>
                    </div>
                </li>
                <li> Paste it into an email or Teams message. </li>
                <li> Send it to your senior manager. </li>
            </ol>

            {% else %}
                <p data-qa="exposition" class='govuk-body'>Tell the probation officer that you've countersigned the Part A.  They can then
                create the Part A.</p>
            {% endif %}
            <p class="govuk-body">
                <a href="{{urlInfo.pageBase}}task-list" class="govuk-link">Return to Part A</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/copyToClipboard.js" defer></script>
{% endblock %}