{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


                {% set yesPoliceDetailHtml %}
                    {{ govukTextarea({
                        name: "custodyStatusDetailsYesPolice",
                        id: "custodyStatusDetailsYesPolice",
                        label: {
                            text: "Custody address",
                            classes: "govuk-label--s"
                        },
                        value: inputDisplayValues.details,
                        errorMessage: errorMessage(errors.custodyStatusDetailsYesPolice)
                    }) }}
                {% endset %}
                {{ govukRadios({
                    idPrefix: "custodyStatus",
                    name: "custodyStatus",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: radioCheckboxItems({
                        items: formOptions.custodyStatus,
                        currentValues: inputDisplayValues.value,
                        conditionalContent: {
                            YES_POLICE: yesPoliceDetailHtml
                        }
                    }),
                    errorMessage: errorMessage(errors.custodyStatus)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

