{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>

            <div class="car-text-list">
                <h2 class='govuk-heading-m'>From NOMIS</h2>
                <div class="car-text-list__row">
                    <div class="car-text-list__key">First name</div>
                    <div class="car-text-list__value" data-qa="nomisFirstName">{{ recommendation.prisonOffender.firstName }}</div>
                </div>
                <div class="car-text-list__row">
                    <div class="car-text-list__key">Middle name</div>
                    <div class="car-text-list__value" data-qa="nomisMiddleName">{{ recommendation.prisonOffender.middleName }}</div>
                </div>
                <div class="car-text-list__row">
                    <div class="car-text-list__key">Last name</div>
                    <div class="car-text-list__value" data-qa="nomisLastName">{{ recommendation.prisonOffender.lastName }}</div>
                </div>
            </div>

            {% if recommendation.ppudOffender %}
                <div class="car-text-list">
                    <h2 class='govuk-heading-m'>From PPUD</h2>
                    <div class="car-text-list__row">
                        <div class="car-text-list__key">First names</div>
                        <div class="car-text-list__value">{{ recommendation.ppudOffender.firstNames }}</div>
                    </div>
                    <div class="car-text-list__row">
                        <div class="car-text-list__key">Last name</div>
                        <div class="car-text-list__value">{{ recommendation.ppudOffender.familyName }}</div>
                    </div>
                </div>
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukInput({
                    label: {
                        text: "First name(s)",
                        classes: "govuk-label--m"
                    },
                    id: "firstNames",
                    name: "firstNames",
                    type: 'text',
                    classes: "govuk-input--width-20",
                    value: values.firstNames,
                    errorMessage: errorMessage(errors.firstNames)
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name",
                        classes: "govuk-label--m"
                    },
                    id: "lastName",
                    name: "lastName",
                    type: 'text',
                    classes: "govuk-input--width-20",
                    value: values.lastName,
                    errorMessage: errorMessage(errors.lastName)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}