{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            {% if recommendation.prisonOffender.ethnicity %}
                <div class="govuk-text-list">
                    <h2 class='govuk-heading-m'>From NOMIS</h2>
                    <div class="govuk-text-list__row">
                        <div class="govuk-text-list__key">Ethnicity</div>
                        <div class="govuk-text-list__value" data-qa="nomisEthnicity">{{ recommendation.prisonOffender.ethnicity }}</div>
                    </div>
                </div>
            {% endif %}

            {% if recommendation.ppudOffender %}
                <div class="govuk-text-list">
                    <h2 class='govuk-heading-m'>From PPUD</h2>
                    <div class="govuk-text-list__row">
                        <div class="govuk-text-list__key">Ethnicity</div>
                        <div class="govuk-text-list__value" data-qa="ppudEthnicity">{{ recommendation.ppudOffender.ethnicity }}</div>
                    </div>
                </div>
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "ethnicity",
                  name: "ethnicity",
                  label: {
                    text: "List of ethnicities"
                  },
                  errorMessage: errorMessage(errors.ethnicity),
                  value: recommendation.bookRecallToPpud.ethnicity,
                  items: ethnicities
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}