{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <dl class="govuk-text-list">
                <h3 class='govuk-heading-m'>From NOMIS</h3>
                <div class="govuk-text-list__row">
                    <dt class="govuk-text-list__key">Prison</dt>
                    <dd class="govuk-text-list__value" data-qa="nomisReleasingPrison">{{ recommendation.prisonOffender.locationDescription }}</dd>
                </div>
            </dl>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "releasingPrison",
                  name: "releasingPrison",
                  label: {
                    text: "List of prisons",
                    classes: "govuk-label--m"
                  },
                  errorMessage: errorMessage(errors.releasingPrison),
                  value: recommendation.bookRecallToPpud.releasingPrison,
                  items: releasingPrisons
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}