{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>

            {{ bodyParagraph('Check the previous convictions (MG16) document or NOMIS to find the CRO.') }}

            {% if values.partACro %}
                {{ textList({
                    heading: 'From Part A',
                    headingSize: 'm',
                    rows: [
                        { key: 'CRO', value: values.partACro }
                    ]
                }) }}
            {% endif %}

            {% if values.hasPpudRecord %}
                {% if values.ppudCro %}
                    {{ textList({
                        heading: 'From PPUD',
                        headingSize: 'm',
                        rows: [
                            { key: 'CRO', value: values.ppudCro }
                        ]
                    }) }}
                {% else %}
                    {{ heading('From PPUD', 2, 'm') }}
                    {{ bodyParagraph('There is a PPUD record but this field is blank.') }}
                {% endif %}
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukInput({
                    label: {
                        text: "CRO",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: 'For example, 123456/05X'
                    },
                    id: "cro",
                    name: "cro",
                    type: 'text',
                    classes: "govuk-input--width-20",
                    value: values.cro,
                    errorMessage: errorMessage(errors.cro)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}
