{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>

            {% if recommendation.prisonOffender.gender %}
                <div class="car-text-list">
                    <h2 class='govuk-heading-m'>From NOMIS</h2>
                    <div class="car-text-list__row">
                        <div class="car-text-list__key">Gender</div>
                        <div class="car-text-list__value" data-qa="nomisGender">{{ recommendation.prisonOffender.gender }}</div>
                    </div>
                </div>
            {% endif %}

            {% if recommendation.ppudOffender %}
                <div class="car-text-list">
                    <h2 class='govuk-heading-m'>From PPUD</h2>
                    <div class="car-text-list__row">
                        <div class="car-text-list__key">Gender</div>
                        <div class="car-text-list__value" data-qa="ppudGender">{{ recommendation.ppudOffender.gender }}</div>
                    </div>
                </div>
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    idPrefix: "gender",
                    name: "gender",
                    items: radioCheckboxItems({
                        items: genders,
                        currentValues: recommendation.bookRecallToPpud.gender
                    }),
                    errorMessage: errorMessage(errors.gender)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}