{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {{ heading(pageHeadings[page.id]) }}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{
                    govukRadios({
                        idPrefix: "custodyType",
                        name: "custodyType",
                        items: radioCheckboxItems({
                            items: custodyTypes,
                            currentValues: recommendation.bookRecallToPpud.custodyType
                        }),
                        errorMessage: errorMessage(errors.custodyType)
                    })
                }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}