{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>


            <dl class="govuk-text-list">
                <h3 class='govuk-heading-s'>From NOMIS</h3>
                <div class="govuk-text-list__row">
                    <dt class="govuk-text-list__key">Ethnicity</dt>
                    <dd class="govuk-text-list__value">{{ recommendation.prisonOffender.ethnicity }}</dd>
                </div>
            </dl>

            {% if recommendation.ppudOffender %}
                <dl class="govuk-text-list">
                    <h3 class='govuk-heading-s'>From PPUD</h3>
                    <div class="govuk-text-list__row">
                        <dt class="govuk-text-list__key">Ethnicity</dt>
                        <dd class="govuk-text-list__value">{{ recommendation.ppudOffender.ethnicity }}</dd>
                    </div>
                </dl>
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "ethnicity",
                  name: "ethnicity",
                  label: {
                    text: "List of ethnicities"
                  },
                  errorMessage: errorMessage(errors.ethnicity),
                  value: recommendation.bookRecallToPpud.ethnicity,
                  items: ethnicities
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}