{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "custodyType",
                  name: "custodyType",
                  label: {
                    text: "Custody types",
                    classes: "govuk-label--m"
                  },
                  value: recommendation.bookRecallToPpud.custodyType,
                  items: custodyTypes
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}