{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>

            <div class="govuk-text-list">
                <h2 class='govuk-heading-m'>From Part A</h2>
                <div class="govuk-text-list__row">
                    <div class="govuk-text-list__key">MAPPA Level</div>
                    <div class="govuk-text-list__value" data-qa="mappaLevel"> Level {{ recommendation.personOnProbation.mappa.level }}</div>
                </div>
            </div>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    idPrefix: "mappaLevel",
                    name: "mappaLevel",
                    items: radioCheckboxItems({
                        items: mappaLevels,
                        currentValues: recommendation.bookRecallToPpud.mappaLevel
                    }),
                    errorMessage: errorMessage(errors.mappaLevel)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}