{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <dl class="govuk-text-list">
                <h3 class='govuk-heading-m'>From NOMIS</h3>
                <div class="govuk-text-list__row">
                    <dt class="govuk-text-list__key">Gender</dt>
                    <dd class="govuk-text-list__value">{{ recommendation.prisonOffender.gender }}</dd>
                </div>
            </dl>

            {% if recommendation.ppudOffender %}
                <dl class="govuk-text-list">
                    <h3 class='govuk-heading-m'>From PPUD</h3>
                    <div class="govuk-text-list__row">
                        <dt class="govuk-text-list__key">Gender</dt>
                        <dd class="govuk-text-list__value">{{ recommendation.ppudOffender.gender }}</dd>
                    </div>
                </dl>
            {% endif %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    idPrefix: "gender",
                    name: "gender",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: radioCheckboxItems({
                        items: genders,
                        currentValues: recommendation.bookRecallToPpud.gender
                    }),
                    errorMessage: errorMessage(errors.gender)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}