{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}
{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
                {% if recommendation.localPoliceContact.emailAddress.length > 0 %}
                    <div class='govuk-body'>Email address on the Part A</div>
                    <span class='mid-grey-panel'>
                        <a class='govuk-body-not-underlined' data-qa="localPoliceContact">{{ recommendation.localPoliceContact.emailAddress }}</a>
                    </span>
                </br>
                </br>
                {% endif %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "policeForce",
                  name: "policeForce",
                  label: {
                    text: "List of police forces",
                    classes: "govuk-body"
                  },
                  errorMessage: errorMessage(errors.policeForce),
                  value: recommendation.bookRecallToPpud.policeForce,
                  items: policeForces
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}