{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


                {{ govukRadios({
                    idPrefix: "indeterminateSentenceType",
                    name: "indeterminateSentenceType",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: radioCheckboxItems({ items: indeterminateSentenceTypeOptions,
                        currentValues: inputDisplayValues.value }),
                    errorMessage: errorMessage(errors.indeterminateSentenceType)
                }) }}
                {{ formSubmitButton({ label: "Continue", marginTop: "7" }) }}
            </form>
        </div>
    </div>
{% endblock %}

