{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-form-group{% if errors.indeterminateOrExtendedSentenceDetails %} govuk-form-group--error{% endif %}">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint{% if errors.indeterminateOrExtendedSentenceDetails %} indeterminateOrExtendedSentenceDetails-error{% endif %}">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{ pageHeadings[page.id] }}
                        </h1>
                    </legend>
                  <p id="indeterminateOrExtendedSentenceDetails-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ errors.indeterminateOrExtendedSentenceDetails.text }}
                  </p>
                    <div id="contact-hint" class="govuk-hint">
                        At least one of the following criteria must be met by law. Select all that apply and give details.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        {% for item in formOptions.indeterminateOrExtendedSentenceDetails %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="option-{{ loop.index }}" name="indeterminateOrExtendedSentenceDetails" type="checkbox" value="{{ item.value }}" data-aria-controls="conditional-{{ item.value }}" {% if findListItemByValue({ items: inputDisplayValues, value: item.value }) %}checked{% endif %}>
                                <label class="govuk-label govuk-checkboxes__label" for="option-{{ loop.index }}">
                                    {{ item.text }}
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ item.value }}">
                                {{ govukTextarea({
                                    name: "indeterminateOrExtendedSentenceDetailsDetail-" + item.value,
                                    id: "indeterminateOrExtendedSentenceDetailsDetail-" + item.value,
                                    label: {
                                        html: item.detailsLabel + " <span class='govuk-visually-hidden'>on " + item.text + '</span>'
                                    },
                                    value: findListItemByValue({ items: inputDisplayValues, value: item.value }).details,
                                    errorMessage: errorMessage(errors["indeterminateOrExtendedSentenceDetailsDetail-" + item.value])
                                }) }}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

