{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitle, hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
    {{ govukBackLink({
        text: "Back",
        href: '/recommendations/' + recommendation.id + '/task-list'
    }) }}</nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />
                <div class="govuk-caption-l">Victim liaison</div>
                {{ govukRadios({
                    idPrefix: "isUnderIntegratedOffenderManagement",
                    name: "isUnderIntegratedOffenderManagement",
                    fieldset: {
                        legend: {
                            text: pageHeading,
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: radioCheckboxItems({ items: formOptions.isUnderIntegratedOffenderManagement,
                        currentValues: inputDisplayValues.value }),
                    errorMessage: errorMessage(errors.isUnderIntegratedOffenderManagement)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

