{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: nextPageLinkUrl({ nextPageId: 'response-to-probation', urlInfo: urlInfo })
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />
                <input type="hidden" name="activeCustodialConvictionCount"
                       value="{{ caseSummary.convictions.activeCustodial.length }}" />
                {% if caseSummary.convictions.hasMultipleActiveCustodial or caseSummary.convictions.activeCustodial.length == 0 %}
                    <div class="govuk-caption-l">Circumstances</div>
                    <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>
                    {% include '../../partials/notificationBanners/convictionsLicencesBanner.njk' %}
                    {% if caseSummary.convictions.activeCustodial.length == 0 %}
                        <p class='govuk-body'>There are no licence conditions. This person is not currently on licence.
                            Double-check that the information in NDelius is correct.</p>
                    {% endif %}
                {% elseif caseSummary.convictions.activeCustodial.length %}
                    <div class="govuk-form-group{% if errors.licenceConditionsBreached %} govuk-form-group--error{% endif %}">
                        <fieldset
                                class="govuk-fieldset"{% if errors.licenceConditionsBreached %} aria-describedby="licenceConditionsBreached-error"{% endif %}>
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <div class="govuk-caption-l">Circumstances</div>
                                <h1 class="govuk-fieldset__heading">{{ pageHeadings[page.id] }}</h1>
                            </legend>
                            {% if errors.licenceConditionsBreached %}
                                <p id="licenceConditionsBreached-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> {{ errors.licenceConditionsBreached.text }}
                                </p>
                            {% endif %}
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <h2 class='govuk-heading-m'>Standard licence conditions</h2>
                                {% for standardCondition in formOptions.standardLicenceConditions %}
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input"
                                               id="{% if loop.index == 1 %}licenceConditionsBreached{% else %}standard-{{ loop.index }}{% endif %}"
                                               name="licenceConditionsBreached"
                                               type="checkbox" value="standard|{{ standardCondition.value }}"
                                               {% if inputDisplayValues.standardLicenceConditions and standardCondition.value in inputDisplayValues.standardLicenceConditions %}checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label"
                                               for="{% if loop.index == 1 %}licenceConditionsBreached{% else %}standard-{{ loop.index }}{% endif %}">
                                            {{ standardCondition.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <h2 class='govuk-heading-m govuk-!-margin-top-6'>Additional licence conditions</h2>
                                {% set conditionNumber = 1 %}
                                {% for conviction in caseSummary.convictions.activeCustodial %}
                                    {% if conviction.licenceConditions.length %}
                                        {% for licenceCondition in conviction.licenceConditions %}
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input"
                                                       id="additional-{{ loop.index }}"
                                                       name="licenceConditionsBreached"
                                                       type="checkbox"
                                                       value="additional|{{ licenceCondition.licenceConditionTypeSubCat.code }}"
                                                       aria-describedby="additional-hint-{{ loop.index }}"
                                                        {% if inputDisplayValues.additionalLicenceConditions.length and licenceCondition.licenceConditionTypeSubCat.code in inputDisplayValues.additionalLicenceConditions %} checked{% endif %}>
                                                <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold"
                                                       for="additional-{{ loop.index }}">
                                                    {{ licenceCondition.licenceConditionTypeMainCat.description }}
                                                </label>
                                                <div id="additional-hint-{{ loop.index }}"
                                                     class="govuk-hint govuk-checkboxes__hint">
                                                    <p class='govuk-body govuk-!-margin-bottom-0'>{{ licenceCondition.licenceConditionTypeSubCat.description }}</p>
                                                    {% if licenceCondition.licenceConditionNotes %}
                                                        <h4 class='govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0'>
                                                            Notes</h4>
                                                        <p class='govuk-body'>{{ licenceCondition.licenceConditionNotes }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class='govuk-body'>There are no additional licence conditions in NDelius.
                                            Check the licence document.</p>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </fieldset>
                    </div>
                {% endif %}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

