{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


                <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
                {{ govukInput({
                    label: {
                        text: "Police contact name"
                    },
                    id: "contactName",
                    name: "contactName",
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.contactName,
                    errorMessage: errorMessage(errors.contactName)
                }) }}
                {{ govukInput({
                    label: {
                        text: "Telephone number"
                    },
                    id: "phoneNumber",
                    name: "phoneNumber",
                    type: 'tel',
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.phoneNumber,
                    errorMessage: errorMessage(errors.phoneNumber)
                }) }}
                {{ govukInput({
                    label: {
                        text: "Fax number (optional)"
                    },
                    id: "faxNumber",
                    name: "faxNumber",
                    type: 'tel',
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.faxNumber,
                    errorMessage: errorMessage(errors.faxNumber)
                }) }}
                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "emailAddress",
                    name: "emailAddress",
                    type: 'email',
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.emailAddress,
                    errorMessage: errorMessage(errors.emailAddress)
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

