{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="mode" value="{{ mode }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {{ pageHeadings[page.id] }}
                            </h1>
                        </legend>
                        <div class="govuk-body">Your countersignature will be recorded on the Part A.</div>
                        <div class="govuk-body">I agree that:</div>
                        <ul class='govuk-list govuk-list--bullet'>
                            <li>alternatives to recall have been fully explored, if applicable</li>
                            <li>the correct recall type has been requested</li>
                            <li>I'm satisfied with the quality of the report</li>
                            <li>the person on probation is no longer manageable in the community</li>
                        </ul>
                        <div class="govuk-form-group">
                          <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="telephone">
                              Explain your decision to countersign
                            </label>
                          </h1>
                          {{ govukTextarea({
                              name: "managerCountersignatureExposition",
                              id: "managerCountersignatureExposition",
                              value: inputDisplayValues.value,
                              errorMessage: errorMessage(errors.managerCountersignatureExposition)
                          }) }}
                        </div>
                    </fieldset>
                </div>
                {{ formSubmitButton({
                    label: 'Countersign'
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

