{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageTitles[page.id] }}</h1>
            <div class='govuk-!-margin-bottom-8'>
                <p class='govuk-body'><strong>Manager:</strong> {{ recommendation.managerRecallDecision.createdBy }}</p>
                <p class='govuk-body'>
                    <strong>Date:</strong> {{ formatDateTimeFromIsoString({isoDate: recommendation.managerRecallDecision.createdDate, dateOnly: true }) }}</p>
                <p class='govuk-body'>
                    <strong>Decision:</strong> {{ getDisplayValueForOption({ value: recommendation.managerRecallDecision.selected.value, allOptions: formOptions.recallTypeManager }) }}</p>
                <pre class='govuk-body'><strong>Rationale:</strong> {{ recommendation.managerRecallDecision.selected.details }}</pre>
            </div>
            <p class='govuk-body govuk-!-margin-bottom-8'>This decision has been recorded as a contact in NDelius called 'Management oversight - recall'. It cannot be removed.</p>
            <div class='govuk-body'><a href='/cases/{{ recommendation.crn }}/overview' class='govuk-link'>Return to overview</a></div>
        </div>
    </div>
{% endblock %}

