{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <p class='govuk-body'>You selected this index offence. Now select the nearest match from the list in
                    PPUD.</p>

                <div class="govuk-inset-text">
                    <div class="govuk-text-list">
                        <h2 class='govuk-heading-s' data-qa="offenceDescription">{{ offence.offenceDescription }}A</h2>
                        <div class="govuk-text-list__row">
                            <div class="govuk-text-list__key">Start date</div>
                            <div class="govuk-text-list__value"
                                 data-qa="sentenceStartDate"> {{ formatDateTimeFromIsoString({isoDate: offence.sentenceStartDate, dateOnly: true}) }} </div>
                        </div>
                        {% if offence.sentenceEndDate %}
                            <div class="govuk-text-list__row">
                                <div class="govuk-text-list__key">Sentence expiry date</div>
                                <div class="govuk-text-list__value"
                                     data-qa="sentenceEndDate"> {{ formatDateTimeFromIsoString({isoDate: offence.sentenceEndDate, dateOnly: true}) }} </div>
                            </div>
                        {% else %}
                            <div class="govuk-text-list__row">
                                <div class="govuk-text-list__key">Latest sentence expiry date</div>
                                <div class="govuk-text-list__value"
                                     data-qa="sentenceSequenceExpiryDate"> {{ formatDateTimeFromIsoString({isoDate: offence.sentenceSequenceExpiryDate, dateOnly: true}) }} </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {{ accessibleAutocomplete({
                    id: 'indexOffence',
                    label: {
                        text: 'PPUD list of offences',
                        class: 'govuk-label--m'
                    },
                    class: 'govuk-!-margin-bottom-4 govuk-input--width-30',
                    errorMessage: errorMessage(errors.indexOffence),
                    list: indexOffences,
                    value: recommendation.bookRecallToPpud.indexOffence,
                    placeholder: 'Search for an offence',
                    nonce: cspNonce
                }) }}

                {{ govukTextarea({
                    name: "indexOffenceComment",
                    id: "indexOffenceComment",
                    label: {
                        text: 'Add comments, including any additional offences (optional)',
                        class: 'govuk-label--m'
                    },
                    value: recommendation.bookRecallToPpud.indexOffenceComment
                }) }}

                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}