{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ bodyParagraph('You need to select an offence because the offences listed in PPUD and NOMIS do not match.')}}

                {% call govukInsetText({ classes: "guidance-panel" }) %}
                    {{ bodyParagraph('You selected this offence from NOMIS:') }}
                    {{ textList({
                        heading: nomisIndexOffence.offenceDescription,
                        headingSize: 's',
                        rows: [
                            { key: 'Date of sentence', value: formatDateTimeFromIsoString({isoDate: nomisIndexOffence.sentenceStartDate, dateOnly: true}) },
                            { key: 'Sentence expiry date', value: formatDateTimeFromIsoString({isoDate: nomisIndexOffence.sentenceEndDate, dateOnly: true}) }
                        ]
                    }) }}
                {% endcall %}

                {{ accessibleAutocomplete({
                    id: 'indexOffence',
                    label: {
                        text: 'Now select the nearest matching offence from the list in PPUD'
                    },
                    errorMessage: errorMessage(errors.indexOffence),
                    list: indexOffences,
                    value: recommendation.bookRecallToPpud.indexOffence,
                    placeholder: 'Search for an offence',
                    nonce: cspNonce
                }) }}

                {{ govukTextarea({
                    name: "indexOffenceComment",
                    id: "indexOffenceComment",
                    label: {
                        text: 'Add comments, including any additional offences (optional)'
                    },
                    value: recommendation.bookRecallToPpud.indexOffenceComment
                }) }}

                {{ formSubmitButton({ marginTop: 7 }) }}
            </form>
        </div>
    </div>
{% endblock %}