{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: 'No recall request found' }) %}
{% block beforeContent %}
    {{ backLink() }}
{% endblock %}
{% block content %}

    <h1 class='govuk-heading-l'>No PPUD record found for {{ name }}</h1>

    <p class="govuk-body-m govuk-!-margin-bottom-0">
        You can either <a href="/ppcs-search" class="govuk-body govuk-link">start a new search</a> or use this
        service to:<br><br>
    </p>
    <ol class="govuk-list">
        <li>1. Check the details from NOMIS and the Part A.</li>
        <li>2. Use these details to create a new PPUD record.</li>
        <li>3. Book the recall on to the new PPUD record.</li>
    </ol>
    <span>
        <a href='{{ urlInfo.basePath }}check-booking-details'
           class='govuk-button govuk'>Continue and create PPUD record</a>
    </span>

{% endblock %}
