{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukTextarea({
                    name: "offenceAnalysis",
                    id: "offenceAnalysis",
                    label: {
                        text: 'Write the offence analysis',
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: 'If available, you can use the offence analysis from OASys to get you started.'
                    },
                    value: inputDisplayValues.value,
                    rows: 10,
                    errorMessage: errorMessage(errors.offenceAnalysis)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
            <h2 class='govuk-heading-m govuk-!-margin-bottom-2'>OASys 2.1 Offence analysis</h2>
            {% if not recommendation.offenceDataFromLatestCompleteAssessment and not recommendation.offencesMatch %}
                {% set html %}
                    <p data-qa="not-latest">This is from the latest complete OASys assessment. There&apos;s a more recent assessment that&apos;s not complete.</p>
                    <p data-qa="offence-not-matched">The main offence in OASys does not match the main offence in NDelius. Double-check OASys and NDelius.</p>
                {% endset %}
            {% elseif not recommendation.offenceDataFromLatestCompleteAssessment %}
                {% set html %}
                    <p data-qa="not-latest">This is from the latest complete OASys assessment. There&apos;s a more recent assessment that&apos;s not complete.</p>
                {% endset %}
            {% elseif not recommendation.offencesMatch %}
                {% set html %}
                    <p data-qa="offence-not-matched">The main offence in OASys does not match the main offence in NDelius. Double-check OASys and NDelius.</p>
                {% endset %}
            {% endif %}

            {% if not recommendation.offenceDataFromLatestCompleteAssessment or not recommendation.offencesMatch %}
                {{ mojBanner({
                    type: 'information',
                    html: html,
                    iconFallbackText: 'information'
                }) }}
            {% endif %}
            {% if recommendation.indexOffenceDetails %}
                <div class='mid-grey-panel'>
                    <div class='js-display-block'>
                        <div class='govuk-!-margin-bottom-6'>
                            <button class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-6' data-js='copy-to-clipboard-btn'>Copy this text</button>
                            <div aria-live='polite' data-js='aria-live-region' class='govuk-visually-hidden' data-qa='aria-live-region'></div>
                        </div>
                    </div>
                    <pre class='govuk-body' data-js='copy-to-clipboard-text' data-qa='indexOffenceDetails'>{{ recommendation.indexOffenceDetails }}</pre>
                </div>
            {% else %}
                {{ mojBanner({
                    type: 'information',
                    html: '<span data-qa="no-results">This information cannot be found in OASys. Double-check OAsys for the latest description of the index offence.</span>',
                    iconFallbackText: 'information'
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/copyToClipboard.js" defer></script>
{% endblock %}