{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

                <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
                {{ deliusDetailsMessage() }}
                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='fullName'>
                            {{ recommendation.personOnProbation.fullName | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Gender
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='gender'>
                            {{ recommendation.personOnProbation.gender  | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='dateOfBirth' data-date='{{ recommendation.personOnProbation.dateOfBirth }}'>
                            {{ formatDateTimeFromIsoString({isoDate: recommendation.personOnProbation.dateOfBirth}) | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Ethnic group
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.ethnicity | defaultValue | safe }}
                        </dd>
                    </div>
                </dl>

                <h2 class='govuk-heading-s govuk-!-margin-bottom-1'>Preferred languages</h2>
                {% if recommendation.personOnProbation.primaryLanguage %}
                <p class='govuk-body govuk-!-margin-bottom-0'>This information is from the ‘primary language’ field in NDelius. You can change it in the Part A later if you need to.</p>
                {% endif %}
                <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key">
                            Spoken
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.primaryLanguage | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Written
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.primaryLanguage | defaultValue | safe }}
                        </dd>
                    </div>
                </dl>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            CRO number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.croNumber | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            PNC number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.pncNumber | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Prison number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.mostRecentPrisonerNumber | defaultValue | safe }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            PNOMIS number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.personOnProbation.nomsNumber | defaultValue | safe }}
                        </dd>
                    </div>
                </dl>
            <div class='govuk-!-margin-top-6'>
                <a class='govuk-button' href='{{ urlInfo.basePath }}task-list#heading-person-details'>Continue</a>
            </div>
        </div>
    </div>
{% endblock %}

