{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% if confirmationMessage %}
                {{ mojBanner({
                    type: confirmationMessage.type,
                    html: '<span data-qa="confirmation">' + confirmationMessage.text + '</span>',
                    iconFallbackText: confirmationMessage.type
                }) }}
            {% endif %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
            {{ deliusDetailsMessage() }}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if recommendation.previousReleases.previousReleaseDates.length %}
                    <input type="hidden" name="previousReleaseDates"
                           value="{% for date in recommendation.previousReleases.previousReleaseDates %}{{ date }}|{% endfor %}" />
                {% endif %}
                <dl class="govuk-summary-list" data-qa='release-info-table'>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Releasing prison or custodial establishment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ recommendation.previousReleases.lastReleasingPrisonOrCustodialEstablishment | defaultValue | safe }}
                        </dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last release
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='lastReleaseDate'
                            data-date='{{ recommendation.previousReleases.lastReleaseDate }}'>
                            {{ formatDateTimeFromIsoString({isoDate: recommendation.previousReleases.lastReleaseDate, dateOnly: true}) | defaultValue | safe }}
                        </dd>
                        <dd class=" govuk-summary-list__actions"></dd>
                    </div>
                    {% if recommendation.previousReleases.previousReleaseDates.length %}
                        {% for date in recommendation.previousReleases.previousReleaseDates %}
                            <div class="govuk-summary-list__row" data-qa='previous-release-date-{{ loop.index }}'>
                                <dt class="govuk-summary-list__key">
                                    Previous release
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ formatDateTimeFromIsoString({isoDate: date, dateOnly: true}) }}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <button type="submit" class="reset-button link-button"
                                            name="deletePreviousReleaseDateIndex" value="{{ loop.index0 }}">
                                        Delete<span
                                                class="govuk-visually-hidden"> date {{ formatDateTimeFromIsoString({isoDate: date, dateOnly: true}) }}</span>
                                    </button>
                                </dd>
                            </div>
                        {% endfor %}
                    {% endif %}
                </dl>
            </form>
            <div class='govuk-!-margin-bottom-8 govuk-body'>
                <a href='{{ urlInfo.basePath }}add-previous-release' class="govuk-link">Add a previous release</a>
            </div>
            <div>
                <form novalidate method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <button name='continueButton' value='{{ '1' if recommendation.previousReleases.previousReleaseDates.length else '0' }}' class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
