{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitle, hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: nextPageLinkUrl({ nextPageId: 'is-determinate', urlInfo: urlInfo })
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% set standardDetailHtml %}
                {{ govukTextarea({
                    name: "recallTypeDetailsStandard",
                    id: "recallTypeDetailsStandard",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'STANDARD',
                    errorMessage: errorMessage(errors.recallTypeDetailsStandard)
                }) }}
            {% endset %}
            {% set fixedTermDetailHtml %}
                {{ govukTextarea({
                    name: "recallTypeDetailsFixedTerm",
                    id: "recallTypeDetailsFixedTerm",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'FIXED_TERM',
                    errorMessage: errorMessage(errors.recallTypeDetailsFixedTerm)
                }) }}
            {% endset %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />
                <div class="govuk-caption-l">Circumstances</div>
                {{ govukRadios({
                    idPrefix: "recallType",
                    name: "recallType",
                    fieldset: {
                        legend: {
                            text: pageHeading,
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: radioCheckboxItems({
                        items: formOptions.recallType,
                        currentValues: inputDisplayValues.value,
                        conditionalContent: {
                            STANDARD: standardDetailHtml,
                            FIXED_TERM: fixedTermDetailHtml
                        }
                    }),
                    errorMessage: errorMessage(errors.recallType)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

