{% extends "../../partials/layout.njk" %}
{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}
{% block beforeContent %}
    {{ backLink() }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% set standardDetailHtml %}
            {{ govukTextarea({
                    name: "recallTypeDetailsStandard",
                    id: "recallTypeDetailsStandard",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'STANDARD',
                    errorMessage: errorMessage(errors.recallTypeDetailsStandard)
                }) }}
            {% endset %}
            {% set fixedTermDetailHtml %}
            {{ govukTextarea({
                    name: "recallTypeDetailsFixedTerm",
                    id: "recallTypeDetailsFixedTerm",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'FIXED_TERM',
                    errorMessage: errorMessage(errors.recallTypeDetailsFixedTerm)
                }) }}
            {% endset %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <input type="hidden" name="crn" value="{{ recommendation.crn }}"/>
                <input type="hidden" name="originalRecallType" value="{{ inputDisplayValues.value }}"/>
                {% if flags.flagFTR %}
                    {# new FTR flow #}
                    {% include "../../partials/recommendation/recallTypeFTR.njk" %}
                {% else %}
                    {% include "../../partials/recommendation/recallType.njk" %}
                {% endif %}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}