{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% set standardDetailHtml %}
                {{ govukTextarea({
                    name: "recallTypeDetailsStandard",
                    id: "recallTypeDetailsStandard",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'STANDARD',
                    errorMessage: errorMessage(errors.recallTypeDetailsStandard)
                }) }}
            {% endset %}
            {% set fixedTermDetailHtml %}
                {{ govukTextarea({
                    name: "recallTypeDetailsFixedTerm",
                    id: "recallTypeDetailsFixedTerm",
                    label: {
                        text: "Why do you recommend this recall type?",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.details if inputDisplayValues.value === 'FIXED_TERM',
                    errorMessage: errorMessage(errors.recallTypeDetailsFixedTerm)
                }) }}
            {% endset %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />


                {{ govukRadios({
                    idPrefix: "recallType",
                    name: "recallType",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p class="govuk-body">You’ll complete a Part A or write a decision not to recall letter after you’ve confirmed your recommendation.</p><p class="govuk-body">You can only recommend a fixed term recall if ' + recommendation.personOnProbation.name + ' can be safely managed in the community after the fixed term period.</p>'
                    },
                    items: radioCheckboxItems({
                        items: formOptions.recallType,
                        currentValues: inputDisplayValues.value,
                        conditionalContent: {
                            STANDARD: standardDetailHtml,
                            FIXED_TERM: fixedTermDetailHtml
                        }
                    }),
                    errorMessage: errorMessage(errors.recallType)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

