{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles.recallType, hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />


                {{ govukRadios({
                    idPrefix: "recallType",
                    name: "recallType",
                    fieldset: {
                        legend: {
                            text: pageHeadings.recallType,
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'You’ll complete a Part A or write a decision not to recall letter after you’ve confirmed your recommendation.'
                    },
                    items: radioCheckboxItems({
                        items: formOptions.recallTypeIndeterminate,
                        currentValues: inputDisplayValues.value
                    }),
                    errorMessage: errorMessage(errors.recallType)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

