{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            {% if results.length > 1 %}
                {% set html %}
                    <h1 class="govuk-heading-m" data-qa='multiple-results'>Duplicate PPUD records</h1>
                    <span>There is more than one match found in NOMIS.</span>
                {% endset %}

                {{ mojBanner({
                    type: 'warning',
                    html: html,
                    iconFallbackText: 'information'
                }) }}
            {% endif %}


            <p class="govuk-body govuk-!-margin-bottom-3">
                <a href="/ppcs-search" class="govuk-body govuk-link">Start a new search</a>
            </p>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Persons found</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">NOMIS ID</th>
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Date of birth</th>
                    <th scope="col" class="govuk-table__header">CRO</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for ppud in results %}
                    <tr class="govuk-table__row"  data-qa='row-{{ ppud.nomsId }}' >
                        <td class="govuk-table__cell">{{ ppud.nomsId }}</td>
                        <td class="govuk-table__cell">
                            <a href="check-booking-details" class="govuk-link" >{{ ppud.firstNames }} {{ ppud.familyName }}</a>
                        </td>
                        <td class="govuk-table__cell">{{ formatDateTimeFromIsoString({isoDate: ppud.dateOfBirth}) }}</td>
                        <td class="govuk-table__cell">{{ ppud.croNumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}