{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <div class="govuk-body">These details are from the 'Consider a recall' service. Check them against the licence before you search PPUD.  </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    </dt>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                          {{ recommendation.personOnProbation.fullName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ formatDateTimeFromIsoString({isoDate: recommendation.personOnProbation.dateOfBirth}) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOMIS ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ recommendation.personOnProbation.nomsNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRO
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ recommendation.personOnProbation.croNumber }}
                    </dd>
                </div>
            </dl>
            <div class='govuk-!-margin-top-6'>
                <a class='govuk-button' href='{{ urlInfo.basePath }}search-ppud-results'>Continue</a>
            </div>
        </div>
    </div>
{% endblock %}

