{% extends "../../partials/layout.njk" %}
{% macro hyphenForBlank(value) %}
    {% if value %}
        {{ value }}
    {% else %}
        - <span class="govuk-visually-hidden">no value</span>
    {% endif %}
{% endmacro %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}
{% set croIdentifier = recommendation.personOnProbation.croNumber if recommendation.personOnProbation.croNumber else recommendation.prisonOffender.cro %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <div class="govuk-body">These details are from the 'Consider a recall' service. Check them against the
                licence before you search PPUD.
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    </dt>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ hyphenForBlank(recommendation.personOnProbation.fullName) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ hyphenForBlank(formatDateTimeFromIsoString({isoDate: recommendation.personOnProbation.dateOfBirth})) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOMIS ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ hyphenForBlank(recommendation.personOnProbation.nomsNumber) }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRO
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if croIdentifier %}
                            {{ croIdentifier }}
                        {% else %}
                            - <span class="govuk-visually-hidden">no value</span>
                        {% endif %}
                    </dd>
                </div>
            </dl>
            <div class='govuk-!-margin-top-6'>
                <form novalidate method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <input type="hidden" name="crn" value="{{ recommendation.crn }}" />
                    <input type="hidden" name="croNumber" value="{{ croIdentifier }}" />
                    <input type="hidden" name="nomsNumber" value="{{ recommendation.personOnProbation.nomsNumber }}" />
                    <input type="hidden" name="surname" value="{{ recommendation.personOnProbation.surname }}" />
                    <input type="hidden" name="dateOfBirth"
                           value="{{ recommendation.personOnProbation.dateOfBirth }}" />
                    <input type="hidden" name="fullName" value="{{ recommendation.personOnProbation.fullName }}" />
                    {{ formSubmitButton() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

