{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}

    {% set courtDescription = "" %}
    {% set sentenceDate = "" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

            <p class='govuk-body'>Compare the offence details in NOMIS with the Part A</p>

            {% if errorMessage %}
                {% set html %}
                    <h1 class="govuk-heading-m" data-qa='multiple-results'>NOMIS error</h1>
                    <span> {{errorMessage}}</span>
                {% endset %}

                {{ mojBanner({
                    type: 'warning',
                    html: html,
                    iconFallbackText: 'warning'
                }) }}
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    <h3 class='govuk-heading-m'>NOMIS</h3>

                    <p class='govuk-body govuk-body-underlined'>Includes court cases, sentences and offences</p>

                    <form novalidate method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                        <div class="govuk-radios" data-module="govuk-radios">
                        {% for sentence in sentences %}
                            {% if sentence.courtDescription != courtDescription or sentence.sentenceDate != sentenceDate %}
                                <h3 class='govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-6'>Court case: {{ sentence.courtDescription }}</h3>
                                <p class='govuk-body'>Date of sentence: {{ formatDateTimeFromIsoString({ isoDate: sentence.sentenceDate, dateOnly: true }) }}</p>
                                {% set courtDescription = sentence.courtDescription %}
                                {% set sentenceDate = sentence.sentenceDate %}
                            {% endif %}

                            {% for offence in sentence.offences %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="indexOffence" name="indexOffence" type="radio" value="{{ offence.offenderChargeId }}">
                                    <label class="govuk-label govuk-radios__label" for="indexOffence">
                                        {{ hyphenForBlank(offence.offenceDescription) }}
                                    </label>

                                    <dl class="govuk-summary-list govuk-!-margin-left-3 govuk-!-margin-bottom-4">
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key govuk-body">
                                                Sentence type
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ hyphenForBlank(sentence.sentenceTypeDescription) }}
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Start date
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: sentence.sentenceStartDate }) ) }}
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Sentence end date
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: sentence.sentenceEndDate }) ) }}
                                            </dd>
                                        </div>
                                        {% if sentence.terms.length < 2 %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Sentence length
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                {% for term in sentence.terms %}
                                                    <div>{{ hyphenForBlank(formatTerm(term)) }}</div>
                                                {% endfor %}
                                                {% if not sentence.terms.length %}
                                                    - <span class="govuk-visually-hidden">no value</span>
                                                {% endif %}
                                            </dd>
                                        </div>
                                        {% else %}
                                        {% for term in sentence.terms %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    {% if term.code === "IMP" %}
                                                        Custodial term
                                                    {% endif %}
                                                    {% if term.code === "LIC" %}
                                                        Extended term
                                                    {% endif %}
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    <div>{{ hyphenForBlank(formatTerm(term))}}</div>
                                                </dd>
                                            </div>
                                        {% endfor %}
                                        {% endif %}
                                    </dl>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        {{ formSubmitButton() }}
                    </form>
                </div>

                
                <div class="govuk-grid-column-one-half">
                    <h3 class='govuk-heading-m'>Part A</h3>

                    <p class='govuk-body govuk-body-underlined'>index offence</p>

                    <h3 class='govuk-heading-m'>{{ hyphenForBlank(convictionDetail.indexOffenceDescription) }}</h3>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            </dt>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of sentence
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: convictionDetail.dateOfSentence }) ) }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank(convictionDetail.sentenceDescription) }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence end date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank( formatDateTimeFromIsoString({ isoDate: convictionDetail.sentenceExpiryDate }) ) }}
                            </dd>
                            <dd class="govuk-summary-list__actions">

                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            {% if isExtended %}
                            <dt class="govuk-summary-list__key">
                                Custodial term
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank(convictionDetail.custodialTerm) }}
                            </dd>  
                            </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Extended term
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank(convictionDetail.extendedTerm) }}
                            </dd>
                            </div>
                            {% else %}
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ hyphenForBlank(convictionDetail.lengthOfSentence) }} {{ hyphenForBlank(convictionDetail.lengthOfSentenceUnits) }}
                            </dd>
                            {% endif %}
                        </div>
                    </dl>

                </div>
                
            </div>
        </div>
    </div>
{% endblock %}