{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: nextPageLinkUrl({ nextPageId: backLink, urlInfo: urlInfo })
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}

            {% if recallType === 'NO_RECALL' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />

                {% set hintHtml %}
                <p class="govuk-body">
                    The decision will be recorded as a contact in NDelius called 'Management oversight - no recall' with
                    the outcome 'decision not to recall'. You cannot undo this.
                </p>
                <div class="govuk-inset-text" data-qa="reason">
                {{ spoRecallRationale }}
                </div>
                {% endset %}
                {{ govukCheckboxes({
                    name: "sensitive",
                    fieldset: {
                      legend: {
                        text: "Record the decision in NDelius",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                      html: hintHtml
                    },
                    items: [
                      {
                        value: "sensitive",
                        text: "Contains sensitive information - do not show to the person on probation"
                      }
                    ]
                }) }}
                {{ formSubmitButton({
                        label: 'Send to NDelius'
                    }) }}
            </form>
            {% elseif recallType === 'RECALL' %}

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />

                {% set hintHtml %}
                <p class="govuk-body">
                The decision will be recorded as a contact in NDelius called 'Management oversight - recall' with the
                outcome 'decision to recall'. You cannot undo this.
                </p>
                <div class="govuk-inset-text" data-qa="reason">
                {{ spoRecallRationale }}
                </div>
                {% endset %}
                {{ govukCheckboxes({
                    name: "sensitive",
                    fieldset: {
                      legend: {
                        text: "Record the decision in NDelius",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                      html: hintHtml
                    },
                    items: [
                      {
                        value: "sensitive",
                        text: "Contains sensitive information - do not show to the person on probation"
                      }
                    ]
                }) }}
                  {{ formSubmitButton({
                        label: 'Send to NDelius'
                    }) }}
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

