{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            {% set rationaleRecallHtml %}
                {{ govukTextarea({
                    name: "spoRecallRationale",
                    id: "spoRecallRationale",
                    label: {
                        text: "Explain your decision",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.spoRecallRationale if inputDisplayValues.spoRecallType === 'RECALL',
                    errorMessage: errorMessage(errors.spoRecallRationale)
                }) }}
            {% endset %}
            {% set rationaleNoRecallHtml %}
                {{ govukTextarea({
                    name: "spoNoRecallRationale",
                    id: "spoNoRecallRationale",
                    label: {
                        text: "Explain your decision",
                        classes: "govuk-label--s"
                    },
                    value: inputDisplayValues.spoNoRecallRationale if inputDisplayValues.spoRecallType === 'NO_RECALL',
                    errorMessage: errorMessage(errors.spoNoRecallRationale)
                }) }}
            {% endset %}
            {% set radioHintHtml %}
            <p class="govuk-body">Write down the decision you made with the practitioner. This explanation
            will be recorded in NDelius.</p>
            <p class="govuk-body">Check you have considered:
                <ul class="govuk-list govuk-list--bullet">
                    <li>the immediate risk</li>
                    <li>who is vulnerable</li>
                    <li>the current circumstances of {{ recommendation.personOnProbation.fullName }}</li>
                    <li>alternatives to recall</li>
                    <li>protective factors</li>
                </ul>
            </p>
            {% endset %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />


                {% if recallDecided %}
                    <input type="hidden" name="spoRecallType" value="RECALL" />
                    <h1 class="govuk-heading-l">{{ pageHeadings[page.id] }}</h1>
                    {{ radioHintHtml | safe }}
                    {{ rationaleRecallHtml | safe }}
                {% else %}

                {{ govukRadios({
                    idPrefix: "spoRecallType",
                    name: "spoRecallType",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: radioHintHtml
                    },
                    items: radioCheckboxItems({
                        items: formOptions.spoRecallTypeEnum,
                        currentValues: inputDisplayValues.spoRecallType,
                        conditionalContent: {
                            RECALL: rationaleRecallHtml,
                            NO_RECALL: rationaleNoRecallHtml
                        }
                    }),
                    errorMessage: errorMessage(errors.spoRecallType)
                }) }}
                {% endif %}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

