{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
            <p class='govuk-body'>You need to consider whether or not to recall this person.</p>
            <ol class="moj-task-list govuk-!-margin-top-8">
                <li>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a aria-describedby='task-list-status-reviewPractitionersConcerns'
                                    href="{{ changeLinkUrl({ pageUrlSlug: 'review-practitioners-concerns', urlInfo: urlInfo, fromAnchor: 'heading-recommendation' }) }}">
                                    Review practitioner's concerns
                                </a>
                            </span>
                            <span id='task-list-status-reviewPractitionersConcerns'>{{ taskStatus({ hasData: reviewPractitionersConcernsCompleted }) }}</span>
                        </li>
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a aria-describedby='task-list-status-reviewOffenderProfile'
                                    href="{{ changeLinkUrl({ pageUrlSlug: 'review-case/' + crn + '/overview', urlInfo: urlInfo, fromAnchor: 'heading-recommendation' }) }}">
                                    Review profile of {{ recommendation.personOnProbation.name }}
                                </a>
                            </span>
                            <span id='task-list-status-reviewOffenderProfile'>{{ taskStatus({ hasData: reviewOffenderProfileCompleted }) }}</span>
                        </li>
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                                <a aria-describedby='task-list-status-explainTheDecision'
                                    href="{{ changeLinkUrl({ pageUrlSlug: 'spo-rationale', urlInfo: urlInfo, fromAnchor: 'heading-recommendation' }) }}">
                                    Explain the decision
                                </a>
                            </span>
                            <span id='task-list-status-explainTheDecision'>{{ taskStatus({ hasData: explainTheDecisionCompleted }) }}</span>
                        </li>
                    </ul>
                </li>
            </ol>
            {% if allTasksCompleted %}
                <div>
                    <a href='{{urlInfo.pageBase}}spo-record-decision' class='govuk-button govuk-button--primary'>Record the decision</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

