{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-from-desktop">
        {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l govuk-word-break-all'>
                Remove document {{document.filename}}
            </h1>

            <form novalidate method="post" enctype='multipart/form-data'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ formSubmitButton({ label: 'Remove' }) }}
            </form>

        </div>
    </div>
{% endblock %}
