{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-from-desktop">
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Persons found</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Document title</th>
                    <th scope="col" class="govuk-table__header">Filename</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Part A </td>
                        {% if PPUDPartA.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDPartA.id }}">
                                    {{ PPUDPartA.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDPartA.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/part-a'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Licence </td>
                        {% if PPUDLicenceDocument.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDLicenceDocument.id }}">
                                    {{ PPUDLicenceDocument.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDLicenceDocument.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/licence-document'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Email from probation </td>
                        {% if PPUDProbationEmail.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDProbationEmail.id }}">
                                    {{ PPUDProbationEmail.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDProbationEmail.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/probation-email'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> OASys </td>
                        {% if PPUDOASys.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDOASys.id }}">
                                    {{ PPUDOASys.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDOASys.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/oasys'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Previous convictions (MG16) </td>
                        {% if PPUDPrecons.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDPrecons.id }}">
                                    {{ PPUDPrecons.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDPrecons.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/precons'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Pre-sentence report </td>
                        {% if PPUDPSR.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDPSR.id }}">
                                    {{ PPUDPSR.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDPSR.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/psr'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold"> Police charge sheet (MG4) </td>
                        {% if PPUDChargeSheet.filename %}
                            <td class="govuk-table__cell overflow-wrap-anywhere">
                                <a href="/recommendations/{{ recommendation.id }}/supporting-document-download/{{ PPUDChargeSheet.id }}">
                                    {{ PPUDChargeSheet.filename }}
                                </a>
                            </td>
                        {% else %}
                            <td class="govuk-table__cell overflow-wrap-anywhere"> - </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {% if PPUDChargeSheet.id %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Change
                                </a>
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/xyz'>
                                    Remove
                                </a>
                            {% else %}
                                <a class='govuk-button govuk-button--secondary govuk-!-margin-bottom-0'
                                    href='/recommendations/{{ recommendation.id }}/supporting-document-upload/charge-sheet'>
                                    Upload
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="govuk-grid-row">
                <a class='govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-3'
                   href='/recommendations/{{ recommendation.id }}/check-booking-details'>
                    Add another document
                </a>
                <a class='govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-3'
                   href='/recommendations/{{ recommendation.id }}/check-booking-details'>
                    Add a minute
                </a>
            </div>
            <div class="govuk-grid-row">
                <a class='govuk-button govuk-button--primary govuk-!-margin-top-2 govuk-!-margin-bottom-3'
                   href='/recommendations/{{ recommendation.id }}/check-booking-details'>
                    Save
                </a>
            </div>

        </div>
    </div>
{% endblock %}
