{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "components/multi-file-upload/macro.njk" import carMultiFileUpload -%}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({
  pageHeading: pageTitles[page.id],
  hasErrors: errors
}) %}

{% block beforeContent %}
  {{ backLink() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include '../../partials/error-summary.njk' %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
          <p class="govuk-body">
            Make sure the files are named correctly before you upload them.
          </p>

          <p class="govuk-body">
            Upload the:
            <ul class="govuk-list govuk-list--bullet">
              <li>Part A</li>
              <li>licence</li>
              <li>email from probation</li>
              <li>OASys report</li>
              <li>previous convictions (MG16), if {{ recommendation.personOnProbation.name }} is getting a standard recall</li>
              <li>pre-sentence report (PSR), if {{ recommendation.personOnProbation.name }} has one</li>
              <li>police charge sheet, if {{ recommendation.personOnProbation.name }} is being recalled because of being charged with an offence</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <form action="/recommendations/{{ recommendation.id }}/supporting-documents" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% set uploadHtml %}
              <label class="govuk-!-margin-top-4 govuk-label govuk-label--m" for="documents">
                Upload files
              </label>
              <p class="govuk-body">
                You can upload Word, PDF or plain text (txt) files. The maximum size is 25MB.
              </p>
              {{
                govukFileUpload({
                  id: "documents",
                  name: "documents",
                  classes: "moj-multi-file-upload__input",
                  attributes: { multiple: "" }
                })
              }}

              {{
                govukButton({
                  text: "Upload file",
                  classes: "govuk-button--secondary moj-multi-file-upload__button"
                })
              }}
            {% endset %}

            {{
              carMultiFileUpload({
                uploadHtml: uploadHtml,
                uploadedFiles: {
                  heading: {
                    html: "Files added"
                  },
                  hint: "If you need to change a file, delete it and upload a new one.",
                  items: uploadedFiles
                }
              })
            }}
          </form>

          <div>
            <a href='{{urlInfo.pageBase}}{{ nextPageId }}' class='govuk-button govuk-button--primary'>Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="{{ '/assets/js/fileUpload.js' | assetMap }}" defer></script>
{% endblock %}
