{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
        {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>
                {% if document.type == 'PPUDPartA' %}
                    Remove Part A
                {% elif document.type == 'PPUDLicenceDocument' %}
                    Remove licence
                {% elif document.type == 'PPUDProbationEmail' %}
                    Remove email from probation
                {% elif document.type == 'PPUDOASys' %}
                    Remove OASys
                {% elif document.type == 'PPUDPrecons' %}
                    Remove previous convictions (MG16)
                {% elif document.type == 'PPUDPSR' %}
                    Remove pre-sentence report
                {% elif document.type == 'PPUDChargeSheet' %}
                    Remove police charge sheet (MG4)
                {% endif %}
            </h1>

            <p class="govuk-body-m">
                This will remove the following file from the current recall recommendation.  It will not be
                uploaded to PPUD.
            </p>

            <p class="govuk-body-m govuk-!-margin-bottom-0  govuk-!-font-weight-bold"> {{ document.filename }}</p>

            <form novalidate method="post" enctype='multipart/form-data'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ formSubmitButton({ label: 'Remove' }) }}
            </form>

        </div>
    </div>
{% endblock %}
