{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% if isSpo %}
                <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">CRN: {{ recommendation.crn }}</span>
                  Part A for {{ recommendation.personOnProbation.name }}
                </h1>
            {% else %}
                <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
                <p class='govuk-body'>You’re recommending a recall for {{ recommendation.personOnProbation.name }}.
                        Complete the following sections of the Part A form. You can do this in any order.
                </p>
            {% endif %}
            {% if taskCompleteness.areAllComplete%}
                <p class='govuk-body'>
                    {{ recommendation.personOnProbation.name }} will see the Part A.  Use appropriate and
                    sensitive language in the form.
                </p>
                <div>
                    <a href='{{ urlInfo.basePath }}confirmation-part-a' class='govuk-button govuk-button--primary'>Create Part A</a>
                </div>
            {% endif %}

            <ol class="moj-task-list govuk-!-margin-top-8">
                {% if isSpo %}
                <li>
                    <h2 class="moj-task-list__section" id='countersign-part-a'>
                        Countersign the Part A
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <span class="moj-task-list__task-name">
                            {% if lineManagerCountersignLink %}
                                {% if isSpoRationaleRecorded %}
                                    <a aria-describedby='task-list-status-lineManagerCounterSignature'
                                    href="{{ changeLinkUrl({ pageUrlSlug: 'countersigning-telephone', urlInfo: urlInfo, fromAnchor: 'countersign-part-a' }) }}">
                                    {{ pageHeadings.lineManagerCounterSignature }}</a>
                                {% else %}
                                    <a aria-describedby='task-list-status-lineManagerCounterSignature'
                                    href="{{ changeLinkUrl({ pageUrlSlug: 'rationale-check', urlInfo: urlInfo, fromAnchor: 'countersign-part-a' }) }}">
                                    {{ pageHeadings.lineManagerCounterSignature }}</a>
                                {% endif %}
                            {% else %}
                                {{ pageHeadings.lineManagerCounterSignature }}
                            {% endif %}
                            </span>
                            <span id='task-list-status-lineManagerCounterSignature'>{{ statusBadge({ colour: lineManagerCountersignStyle, label: lineManagerCountersignLabel }) }}</span>
                        </li>
                        <li class="moj-task-list__item">
                            {% if not lineManagerCountersignLink %}

                                <div class="govuk-body">Line manager agrees that:</div>
                                <ul class='govuk-list govuk-list--bullet'>
                                    <li>alternatives to recall have been fully explored, if applicable</li>
                                    <li>the correct recall type has been requested</li>
                                    <li>I'm satisfied with the quality of the report</li>
                                    <li>the person on probation is no longer manageable in the community</li>
                                </ul>
                                <h3 class="govuk-heading-m">Explanation for their decision</h3>
                                <p class='govuk-body preserve-whitespace' data-qa='spo-exposition'>{{ countersignSpoExposition }}</p>
                            {% endif %}
                            <span class="moj-task-list__task-name">
                            {% if seniorManagerCountersignLink %}
                                <a aria-describedby='task-list-status-seniorManagerCounterSignature'
                                href="{{ changeLinkUrl({ pageUrlSlug: 'countersigning-telephone', urlInfo: urlInfo, fromAnchor: 'countersign-part-a' }) }}">
                                {{ pageHeadings.seniorManagerCounterSignature }}</a>
                            {% else %}
                                {{ pageHeadings.seniorManagerCounterSignature }}
                            {% endif %}
                            </span>
                            <span id='task-list-status-seniorManagerCounterSignature'>{{ statusBadge({ colour: seniorManagerCountersignStyle, label: seniorManagerCountersignLabel }) }}</span>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% include '../../partials/taskList/recommendation.njk' %}
                {% include '../../partials/taskList/circumstances.njk' %}
                {% include '../../partials/taskList/personalDetails.njk' %}
                {% include '../../partials/taskList/vulnerabilitiesVictimLiaison.njk' %}
                {% include '../../partials/taskList/custody.njk' %}
                {% include '../../partials/taskList/riskProfile.njk' %}
                {% include '../../partials/taskList/contactInformation.njk' %}
                {% if not isSpo %}
                {% include '../../partials/taskList/countersign.njk' %}
                {% endif %}
            </ol>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
            <span class="govuk-heading-m govuk-!-margin-top-2">Share this Part A</span>

            <div class='govuk-body '>Share this page with the case admin so they can check the details.</div>

            <div class="govuk-visually-hidden" data-js='copy-to-clipboard-text' data-qa='case-link'>{{ shareLink }}</div>
            <button class='govuk-button govuk-button--secondary govuk-!-margin-top-2' data-js='copy-to-clipboard-btn'>Copy link to share</button>
            <span class="govuk-heading-m govuk-!-margin-top-2">Preview this Part A</span>

            <div class='govuk-body '>You cannot send the preview to PPCS.</div>

            <a class='govuk-button govuk-button--secondary govuk-!-margin-top-2' href="{{ changeLinkUrl({ pageUrlSlug: 'preview-part-a', urlInfo: urlInfo }) }}">Preview Part A</a>
        </div>

    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/copyToClipboard.js" defer></script>
{% endblock %}