{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
            <p class='govuk-body'>
                You’re not recommending a recall for {{ recommendation.personOnProbation.name }}. You must now create a decision not to recall letter.
            </p>
            <ol class="moj-task-list govuk-!-margin-top-8">
                {% include '../../partials/taskList/recommendation.njk' %}
                {% include '../../partials/taskList/circumstances.njk' %}
                {% include '../../partials/taskList/createLetter.njk' %}
            </ol>
            {% if taskCompleteness.areAllComplete == true %}
                <div>
                    <a href='{{urlInfo.pageBase}}confirmation-no-recall' class='govuk-button govuk-button--primary'>Create letter</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

