{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
    {{ govukBackLink({
        text: "Back to overview for " + recommendation.personOnProbation.name,
        href:  '/cases/' + recommendation.crn + '/overview'
    }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>
            <p class='govuk-body'>You’re recommending a recall for {{ recommendation.personOnProbation.name }}.
                    Complete the following sections of the Part A form. You can do this in any order.
            </p>
            <ol class="moj-task-list govuk-!-margin-top-8">
                {% include '../../partials/taskList/recommendation.njk' %}
                {% include '../../partials/taskList/circumstances.njk' %}
                {% include '../../partials/taskList/personalDetails.njk' %}
                <li>
                    <h2 class="moj-task-list__section" id='heading-vulnerability'>
                        Confirm any vulnerability and additional needs
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ urlInfo.basePath }}vulnerabilities">Would recall affect vulnerability or additional
                                needs?</a>
                            {{ taskStatus({ hasData: taskCompleteness.statuses.vulnerabilities }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section" id='heading-victim-liaison'>
                        Confirm victim liaison information
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ urlInfo.basePath }}victim-contact-scheme">{{ pageHeadings.victimContactScheme }}</a>
                            {{ taskStatus({ hasData: taskCompleteness.statuses.hasVictimsInContactScheme }) }}
                        </li>
                    </ul>
                </li>
                {% include '../../partials/taskList/custody.njk' %}
                {% include '../../partials/taskList/riskProfile.njk' %}
            </ol>
            {% if taskCompleteness.areAllComplete == true %}
            <div>
                <a href='{{ urlInfo.basePath }}confirmation-part-a' class='govuk-button govuk-button--primary'>Create Part A</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

