{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
  {{ backLink() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% include '../../partials/error-summary.njk' %}
      <form novalidate method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageHeadings[page.id] }}
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint govuk-!-margin-bottom-6">
              Explain how being in prison could affect {{ recommendation.personOnProbation.name }}'s vulnerabilities. Police and prison reception staff will see this information.
            </div>
            {% for item in vulnerabilitiesToDisplay %}
              {{ govukTextarea({ 
                  name: "vulnerabilitiesDetails-" + item.value,
                  id: "vulnerabilitiesDetails-" + item.value,
                  hint: {
                    text: item.detailsLabel | default('Give details')
                  },
                  label: {
                    text: item.text,
                    classes: 'govuk-label--m'
                  },
                  value: findListItemByValue({ items: inputDisplayValues, value: item.value }).details,
                  errorMessage: errorMessage(errors["vulnerabilitiesDetails-" + item.value])
                }) }}
            {% endfor %}
          </fieldset>
        </div>
        {{ formSubmitButton({ label: "Save and continue"}) }}
      </form>
    </div>
  </div>
{% endblock %}
