{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="govuk-form-group{% if errors.vulnerabilities %} govuk-form-group--error{% endif %}">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint{% if errors.vulnerabilities %} vulnerabilities-error{% endif %}">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{ pageHeadings[page.id] }}
                        </h1>
                    </legend>
                  <p id="vulnerabilities-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ errors.vulnerabilities.text }}
                  </p>
                    <div id="contact-hint" class="govuk-hint">
                        Give full details, including dates where relevant.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        {% for item in formOptions.vulnerabilities %}
                            {% if item.behaviour == 'exclusive' %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="{% if loop.index == 1 %}vulnerabilities{% else %}option-{{ loop.index }}{% endif %}" name="vulnerabilities" type="checkbox" value="{{ item.value }}" {% if findListItemByValue({ items: inputDisplayValues, value: item.value }) %}checked{% endif %} data-behaviour="exclusive">
                                    <label class="govuk-label govuk-checkboxes__label" for="{% if loop.index == 1 %}vulnerabilities{% else %}option-{{ loop.index }}{% endif %}">
                                        {{ item.text }}
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__divider">or</div>
                            {% else %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="option-{{ loop.index }}" name="vulnerabilities" type="checkbox" value="{{ item.value }}" data-aria-controls="conditional-{{ item.value }}" {% if findListItemByValue({ items: inputDisplayValues, value: item.value }) %}checked{% endif %}>
                                <label class="govuk-label govuk-checkboxes__label" for="option-{{ loop.index }}">
                                    {{ item.text }}
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ item.value }}">
                                {{ govukTextarea({
                                    name: "vulnerabilitiesDetail-" + item.value,
                                    id: "vulnerabilitiesDetail-" + item.value,
                                    label: {
                                        html: item.detailsLabel + " <span class='govuk-visually-hidden'>on " + item.text + '</span>'
                                    },
                                    value: findListItemByValue({ items: inputDisplayValues, value: item.value }).details,
                                    errorMessage: errorMessage(errors["vulnerabilitiesDetail-" + item.value])
                                }) }}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

