{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitle, hasErrors: errors }) %}

{% block beforeContent %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: '/recommendations/' + recommendation.id + '/task-list#heading-circumstances'
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ recommendation.crn }}" />
                <div class="govuk-caption-l">Circumstances</div>
                {% set hintHtml %}
                    <p class='govuk-body'>Explain why the risk cannot be managed in the community.</p>
                    <p class='govuk-body'>Give details about:</p>
                    <ul class='govuk-list govuk-list--bullet'>
                        <li>further offending</li>
                        <li>police investigations / charges</li>
                        <li>court dates</li>
                        <li>any other relevant information</li>
                    </ul>
                {% endset %}
                {{ govukTextarea({
                    name: "whatLedToRecall",
                    id: "whatLedToRecall",
                    label: {
                        text: pageHeading,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        html: hintHtml
                    },
                    value: inputDisplayValues.value,
                    errorMessage: errorMessage(errors.whatLedToRecall)
                }) }}
                {{ formSubmitButton() }}

                <div class="govuk-caption-m govuk-!-font-weight-bold govuk-!-margin-top-2">A previous related question:</div>
                <h2 class='govuk-heading-l'>How has {{ recommendation.personOnProbation.name }} responded to probation so far?</h2>
                <p class='govuk-body govuk-!-font-weight-bold'>Your response:</p>
                <pre class='govuk-body grey-panel' data-qa='previous-answer'>{{ recommendation.responseToProbation }}</pre>
            </form>
        </div>
    </div>
{% endblock %}

