{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


                {% set hintHtml %}
                    <p class='govuk-body'>Explain why the risk cannot be managed in the community.</p>
                    <p class='govuk-body'>Give details about:</p>
                    <ul class='govuk-list govuk-list--bullet'>
                        <li>further offending</li>
                        <li>police investigations / charges</li>
                        <li>court dates</li>
                        <li>any other relevant information</li>
                    </ul>
                {% endset %}
                {{ govukTextarea({
                    name: "whatLedToRecall",
                    id: "whatLedToRecall",
                    label: {
                        text: pageHeadings[page.id],
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        html: hintHtml
                    },
                    value: inputDisplayValues.value,
                    errorMessage: errorMessage(errors.whatLedToRecall)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
            <div class="govuk-caption-m govuk-!-margin-top-2">A previous related question:
            </div>
            <h2 class='govuk-heading-m'>{{ pageHeadings.responseToProbation }}</h2>
            <div class='govuk-body text-secondary govuk-!-margin-bottom-2'>Your response:</div>
            <pre class='govuk-body grey-panel' data-qa='previous-answer'>{{ recommendation.responseToProbation }}</pre>
        </div>
    </div>
{% endblock %}

