{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


                {{ govukRadios({
                    idPrefix: "whyConsideredRecall",
                    name: "whyConsideredRecall",
                    fieldset: {
                        legend: {
                            text: pageHeadings[page.id],
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p class="govuk-body">The first line of the decision not to recall letter says why you considered recall in the first place.</p><p class="govuk-body">Choose the text for the first line:</p>'
                    },
                    items: radioCheckboxItems({
                        items: formOptions.whyConsideredRecall,
                        currentValues: inputDisplayValues.value
                    }),
                    errorMessage: errorMessage(errors.whyConsideredRecall)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

