
<form method='post'
      action=''>
  <input type="hidden" name="_csrf" value="{{ params.csrfToken }}" />
  <input type='hidden' name='crn' value='{{ params.crn }}' />
  <input type="hidden" name="status" value="DELETED" />
  <button class='reset-button link-button' data-qa='cancel-recommendation'>Cancel</button> {{ params.cancelText }}
</form>