<div class="mappa-widget">
{% if isNotNull(params.mappa) and params.mappa.error == null %}
    <h2 class="govuk-heading-m text-uppercase" data-qa='mappa-heading'>
        <strong>{% if isNotNull(params.mappa.category) %}Cat {{ params.mappa.category }}/{% endif %}{% if isNotNull(params.mappa.level) %}Level {{ params.mappa.level }}{% else %}No{% endif %}</strong> MAPPA</h2>
    <p class="govuk-body-m govuk-!-margin-bottom-2">Multi-agency public protection arrangements</p>
    {% if params.mappa.level and params.lastUpdatedDate %}
        <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0">Last updated: {{ params.lastUpdatedDate }}</p>
    {% endif %}
{% else %}
    <h2 class="govuk-heading-m text-uppercase"><strong>Unknown</strong> MAPPA</h2>
    <p class="govuk-body-m govuk-!-margin-bottom-2">Multi-agency public protection arrangements</p>
    <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0">
        {% if params.mappa.error == 'NOT_FOUND' %}
            This information cannot be retrieved from NDelius. Double-check NDelius as it might be out of date.
        {% else %}
            Something went wrong. Sorry, MAPPA data is not available at the moment. Try again later.
        {% endif %}</p>
{% endif %}
</div>
