<div class="mappa-widget">
{% if isNotNull(params.mappa) and params.mappa.error == null %}
    <h2 class="govuk-heading-m text-uppercase" data-qa='mappa-heading'>
        <strong>{% if isNotNull(params.mappa.category) %}Cat {{ params.mappa.category }}/{% endif %}{% if isNotNull(params.mappa.level) %}Level {{ params.mappa.level }}{% else %}No{% endif %}</strong> MAPPA</h2>
    <p class="govuk-body-m govuk-!-margin-bottom-2">Multi-agency public protection arrangements</p>
    {% if params.mappa.level and params.lastUpdatedDate %}
        <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0">Last updated: {{ params.lastUpdatedDate }}</p>
    {% endif %}
{% else %}
    <h2 class="govuk-heading-m text-uppercase"><strong>Unknown</strong> MAPPA</h2>
    <p class="govuk-body-m govuk-!-margin-bottom-2">Multi-agency public protection arrangements</p>
    <p class="govuk-body-m govuk-!-margin-bottom-0">
            No MAPPA data found in NDelius.<br>
            If you think this is wrong:<br>
            <br>
            1. Check and update NDelius.<br>
            2. Refresh this page to see your update.<br>
            <br>
            You can continue with the Part A<br>
            if you still get this error. Update the<br>
            MAPPA section manually.<br></p>
{% endif %}
</div>
