{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Address details", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/summary'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>Address details</h1>
            <p class='govuk-body'>This is the last known address for {{ personalDetailsOverview.name }} in NDelius.</p>
            {{ address({ address: currentAddress }) }}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% set noHtml %}
                    {{ govukTextarea({
                        name: "addressConfirmedDetail",
                        id: "addressConfirmedDetail",
                        label: {
                            text: "Give the correct location"
                        },
                        value: recommendation.addressConfirmedDetail
                    }) }}
                {% endset %}
                {{ govukRadios({
                    idPrefix: "addressConfirmed",
                    name: "addressConfirmed",
                    fieldset: {
                        legend: {
                            text: "Is this where the police can find " + personalDetailsOverview.name + "?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        { value: 'YES', text: 'Yes', checked: recommendation.addressConfirmed.value == 'YES' },
                        {
                            value: 'NO',
                            text: 'No',
                            checked: recommendation.addressConfirmed.value == 'NO',
                            conditional: {
                            html: noHtml
                        }
                        }
                    ]
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

