{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Clear all rec-prototype data", hasErrors: errors }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>Clear recall recommendation data in prototype</h1>
            <p class='govuk-body'>This will delete data in the prototype for {{ personalDetailsOverview.name }}.</p>
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div>
                    <button class='govuk-button govuk-button--primary'>Confirm</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

