{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Why do you think the person should not be recalled?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/no-recall-letter-start'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <div class="govuk-caption-l">Decision not to Recall</div>
                            <h1 class="govuk-fieldset__heading">
                                Why do you think {{ personalDetailsOverview.name }} should not be recalled?
                            </h1>
                        </legend>
                        <p class='govuk-body'>These answers will go into the Decision not to Recall letter. Make sure you use ‘I’ and ‘you’ in your answers.</p>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="breach">
                                Explain the licence breach and why it's a problem
                            </label>
                            <textarea class="govuk-textarea" id="breach" name="noRecallBreach" rows="5">{{ recommendation.noRecallBreach }}</textarea>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="rationale">
                                Explain your rationale for not recalling {{ personalDetailsOverview.name }}
                            </label>
                            <textarea class="govuk-textarea" id="rationale" name="noRecallRationale" rows="5">{{ recommendation.noRecallRationale }}</textarea>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="progress">
                                What progress has {{ personalDetailsOverview.name }} made so far?
                            </label>
                            <textarea class="govuk-textarea" id="progress" name="noRecallProgress" rows="5">{{ recommendation.noRecallProgress }}</textarea>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="future">
                                What is expected in the future?
                            </label>
                            <textarea class="govuk-textarea" id="future" name="noRecallFuture" rows="5">{{ recommendation.noRecallFuture }}</textarea>
                        </div>
                    </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

