{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Preview the Decision not to Recall letter", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/no-recall-cya'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Decision not to Recall</div>
            <h1 class='govuk-heading-l'>Preview the Decision not to Recall letter</h1>
            <div class='flex flex--align-center'>
                <a href='/rec-prototype/{{ crn }}/no-recall-why-considered' class='govuk-button govuk-button--secondary govuk-!-margin-right-8'>Edit letter</a>
                <form novalidate method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <button class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            <div class='border govuk-body govuk-!-padding-6'>
                <div class='flex flex--space-between'>
                    <div>
                        <div class='govuk-!-margin-bottom-1'>{{ personalDetailsOverview.name }}</div>
                        {{ address({ address: currentAddress }) }}
                    </div>
                    <div class='govuk-!-text-align-right'>
                        Greater Manchester HMPPS<br />
                        12 Main street<br />
                        High road<br />
                        Townsville
                    </div>
                </div>
                <div class='govuk-!-text-align-right'>
                    File ref: B345678
                </div>
                <div>
                    Dear {{ personalDetailsOverview.name }}
                </div>
                <div class='govuk-!-text-align-centre govuk-!-font-weight-bold govuk-!-margin-top-4 govuk-!-margin-bottom-4'>DECISION NOT TO RECALL</div>

                <div>
                    <p class='govuk-body'>I am writing to you because you have breached your licence conditions in such
                        a way that {{ recommendation.noRecallLetterFirstLine.text}}.</p>

                    <p class='govuk-body'>This breach has been discussed with a Probation manager and a decision has
                        been made that you will not be recalled to prison. This letter explains this decision. If you
                        have any questions, please contact me.</p>

                    <p class='govuk-body'>{{ recommendation.noRecallBreach }}</p>
                    <p class='govuk-body'>{{ recommendation.noRecallRationale }}</p>


                    <p class='govuk-body'>{{ recommendation.noRecallProgress }}</p>

                    <p class='govuk-body'>{{ recommendation.noRecallFuture }}</p>

                    <p class='govuk-body'>Your next appointment is by {{ recommendation.noRecallAppointmentTypeLabel.text }} on:
                        {{ formatDateTimeFromIsoString({isoDate: recommendation.appointmentDate }) }}</p>

                    <p class='govuk-body'>You must please contact me immediately if you are not able to keep this
                        appointment. Should you wish to discuss anything before then, please contact me by the telephone
                        number above.

                    <p class='govuk-body'>Yours sincerely,<br />
                        Probation Officer name
                </div>
            </div>
        </div>
    </div>

{% endblock %}

