{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Next appointment for the person", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/alternatives'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Decision not to Recall</div>
            <h1 class='govuk-heading-l'>Next appointment for {{ personalDetailsOverview.name }}</h1>
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                How will the appointment happen?
                            </h2>
                        </legend>
                        <p class='govuk-body'>This appointment will go into the Decision not to Recall letter.</p>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="telephone"
                                       name="noRecallAppointmentType" type="radio" value="TELEPHONE">
                                <label class="govuk-label govuk-radios__label" for="telephone">
                                    Telephone
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="videoCall"
                                       name="noRecallAppointmentType" type="radio" value="VIDEO_CALL">
                                <label class="govuk-label govuk-radios__label" for="videoCall">
                                    Video call
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="officeVisit"
                                       name="noRecallAppointmentType" type="radio" value="OFFICE_VISIT">
                                <label class="govuk-label govuk-radios__label" for="officeVisit">
                                    Office visit
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="homeVisit"
                                       name="noRecallAppointmentType" type="radio" value="HOME_VISIT">
                                <label class="govuk-label govuk-radios__label" for="homeVisit">
                                    Home visit
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <fieldset class="govuk-fieldset" role="group"
                          aria-describedby="appointment-date-hint appointment-time-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Date and time of the appointment
                        </h2>
                    </legend>
                    <div id="appointment-date-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </div>
                    <div class="govuk-form-group">
                        <div class="govuk-date-input" id="appointment-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="appointment-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="appointment-date-day" name="appointmentDateDay" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="appointment-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="appointment-date-month" name="appointmentDateMonth" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="appointment-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                           id="appointment-date-year" name="appointmentDateYear" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="appointment-time-hint" class="govuk-hint">
                        Use the 24 hour clock
                    </div>

                    <div class="govuk-form-group">
                        <div class="govuk-date-input" id="appointment-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="appointment-date-hours">
                                        Hours
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="appointment-date-hours" name="appointmentDateHours" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="appointment-date-minutes">
                                        Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="appointment-date-minutes" name="appointmentDateMinutes" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

