{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Check your answers", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/no-recall-appointment'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Decision not to recall</div>
            <h1 class='govuk-heading-l'>Check your answers</h1>
            <p class='govuk-body'>You'll preview the decision not to recall letter on the next page.</p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How has Duncann Cardours responded to probation so far?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ recommendation.behaviour }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What licence conditions has Duncann Cardours breached?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <h3 class='govuk-heading-s'>Participate or co-op with Programme or Activities</h3>
                        <p class='govuk-body'>To comply with any requirements specified by your supervising officer for
                            the purpose of ensuring that you address your alcohol / drug / sexual / violent / gambling /
                            solvent abuse / anger / debt / prolific / offending behaviour problems at the [NAME OF
                            COURSE / CENTRE].
                            Programme is called COVIAD - for Angry Drinker </p>
                        <h4 class='govuk-heading-s'>Notes</h4>
                        <p class='govuk-body'>Programme is called COVIAD - for Angry Drinker</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Start the decision not to recall letter
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>Your risk is assessed as increased and contact with your probation practitioner has broken down</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Explain the licence breach and why it's a problem
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ recommendation.noRecallBreach }}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Explain your rationale for not recalling Duncann Cardours
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ recommendation.noRecallRationale }}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What progress has Duncann Cardours made so far?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ recommendation.noRecallProgress }}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is expected in the future?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ recommendation.noRecallFuture }}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How will the appointment happen?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ recommendation.noRecallAppointmentTypeLabel.text }}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/rec-prototype/{{ crn }}/no-recall-appointment">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date and time of appointment
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class='govuk-body'>
                            {{ formatDateTimeFromIsoString({isoDate: recommendation.appointmentDate })}}
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/rec-prototype/{{ crn }}/no-recall-appointment">
                            Change
                        </a>
                    </dd>
                </div>
            </dl>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ formSubmitButton({ label: 'Preview'}) }}
            </form>
        </div>
    </div>

{% endblock %}

