{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "What do you recommend?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/alternatives'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What do you recommend?
                            </h1>
                        </legend>
                        <p class='govuk-body'>You’ll complete a Part A or Decision not to Recall letter next.</p>
                        <div class="govuk-radios" data-module="govuk-radios">
                            {% for recallType in refData.recallTypes %}
                                {% if recallType.value == 'NO_RECALL' %}
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="recallType-{{ recallType.value }}"
                                               name="recallType" type="radio" value="{{ recallType.value }}" {% if recommendation.recallType.value === 'NO_RECALL' %}checked{% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="recallType-{{ recallType.value }}">
                                            {{ recallType.text }}
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="recallType-{{ loop.index }}"
                                               name="recallType" type="radio" value="{{ recallType.value }}"
                                               data-aria-controls="conditional-{{ loop.index }}"{% if recallType.value === recommendation.recallType.value %}checked{% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="recallType-{{ loop.index }}">
                                            {{ recallType.text }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                         id="conditional-{{ loop.index }}">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="detail-{{ loop.index }}">
                                                You must explain why you recommend this recall type
                                            </label>
                                            <textarea class="govuk-textarea" id="detail-{{ loop.index }}"
                                                      name="detail-{{ recallType.value }}" rows="5"></textarea>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

