{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Your recommendation", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href:  '/rec-prototype/' + crn + '/custody'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <h1 class='govuk-heading-l'>Your recommendation</h1>
            <p class='govuk-body'>You’re recommending a {{ recommendation.recallType.text }}
                for {{ personalDetailsOverview.name }}.
                {% if recommendation.recallType.value in ['STANDARD', 'FIXED'] %}
                    Complete the following  sections of the Part A form. You can do this in any order.
                {% endif %}
            </p>
            <ol class="moj-task-list govuk-!-margin-top-8">
                <li>
                    <h2 class="moj-task-list__section">
                        Alternatives to recall
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}alternatives">Alternatives
                                tried</a>
                            {{ taskStatus({ hasData: recommendation.alternativesTried }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section">
                        {{ personalDetailsOverview.name }}'s details
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}address">Address</a>
                            {{ taskStatus({ hasData: recommendation.addressConfirmed }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section">
                        Compliance
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}behaviour">How
                                has {{ personalDetailsOverview.name }} behaved on licence so far?</a>
                            {{ taskStatus({ hasData: recommendation.behaviour }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}licence-conditions">Breached licence condition(s)</a>
                            {{ taskStatus({ hasData: recommendation.standardLicenceConditions or recommendation.additionalLicenceConditions or recommendation.additionalLicenceConditionsDetail }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}cause">What has led to this recall?</a>
                            {{ taskStatus({ hasData: recommendation.cause }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}emergency-recall">Is this an emergency recall?</a>
                            {{ taskStatus({ hasData: recommendation.emergencyRecall }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}recall-type">What type of recall do you recommend?</a>
                            {{ taskStatus({ hasData: recommendation.recallType }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section">
                        Vulnerability and additional needs
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}vulnerability">Would recall affect vulnerability or additional
                                needs?</a>
                            {{ taskStatus({ hasData: recommendation.vulnerability }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section">
                        Custody
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}custody">Is {{ personalDetailsOverview.name }} in
                                custody now?</a>
                            {{ taskStatus({ hasData: recommendation.custodyOption }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}police">Local police contact details</a>
                            {{ taskStatus({ hasData: recommendation.policeName }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}iom">Is {{ personalDetailsOverview.name }} under Integrated Offender Management (IOM)?</a>
                            {{ taskStatus({ hasData: recommendation.iom }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}arrest-issues">Is there anything the police should know before they arrest {{ personalDetailsOverview.name }}?</a>
                            {{ taskStatus({ hasData: recommendation.arrestIssues }) }}
                        </li>
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}contraband">Do you think {{ personalDetailsOverview.name }} is using recall to bring contraband into prison?</a>
                            {{ taskStatus({ hasData: recommendation.contraband }) }}
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section">
                        Risk profile
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="{{ pageUrlBase }}risk-profile">OAsys R6.1, R6.2 and RoSH</a>
                            <strong class="govuk-tag govuk-tag--grey moj-task-list__task-completed">
                                to do
                            </strong>
                        </li>
                    </ul>
                </li>
            </ol>
            <div>
                <a href='/rec-prototype/{{ crn }}/confirmation-recall' class='govuk-button govuk-button--primary'>Create Part A</a>
            </div>
        </div>
    </div>

{% endblock %}

