{% extends "../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Next appointment for the person", hasErrors: errors }) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: '/rec-prototype/' + crn + '/alternatives'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../partials/error-summary.njk' %}
            <div class="govuk-caption-l">Victim liaison</div>
            <h1 class='govuk-heading-l'>Victim Liaison Officer</h1>
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukInput({
                    label: {
                        text: "Victim Liaison Officer (VLO) contact name",
                        classes: "govuk-label--m"
                    },
                    id: "vloName",
                    name: "vloName",
                    classes: "govuk-input--width-20",
                    value: recommendation.vloName
                }) }}
                <p class='govuk-body'>You must tell the VLO about the recall request.</p>
                <p class='govuk-body'>You must also tell them that the victim can:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>submit a victim personal statement</li>
                    <li>ask for a copy of the parole board decision summary</li>
                    <li>ask for a copy of the Secretary of State executive release decision summary</li>
                </ul>
                <fieldset class="govuk-fieldset" role="group"
                          aria-describedby="vlo-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            When did you tell the VLO about these things?
                        </h2>
                    </legend>
                    <div id="vlo-date-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </div>
                    <div class="govuk-form-group">
                        <div class="govuk-date-input" id="vlo-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="vlo-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="vlo-date-day" name="vloDateDay" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="vlo-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                           id="vlo-date-month" name="vloDateMonth" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="vlo-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                           id="vlo-date-year" name="vloDateYear" type="text"
                                           inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

