{% if params.predictor %}

{% set timelineItemClass = '' %}
{% set label = params.predictor.level %}

{% switch params.predictor.level %}
    {% case 'VERY_HIGH' %}
        {% set timelineItemClass = 'predictor-timeline-item--very-high'%}
        {% set label = 'VERY HIGH'%}
    {% case 'HIGH' %}
        {% set timelineItemClass = 'predictor-timeline-item--high'%}
    {% case 'MEDIUM' %}
        {% set timelineItemClass = 'predictor-timeline-item--medium' %}
    {% case 'LOW' %}
        {% set timelineItemClass = 'predictor-timeline-item--low' %}
{% endswitch %}

<div class="{{ timelineItemClass }}">
    <span class="predictor-timeline-item__level"><strong>{{ params.predictor.type }}</strong> {{ label }}</span>
    {% if params.showScore and params.predictor.score %}
    <span class="predictor-timeline-item__score">{{ params.predictor.score }}</span>
    {% endif %}
</div>
{% endif %}