---
# Per environment values which override defaults in make-recall-decision-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: consider-a-recall-dev.hmpps.service.justice.gov.uk
    contextColour: green

  env:
    INGRESS_URL: "https://consider-a-recall-dev.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    MAKE_RECALL_DECISION_API_URL: "http://make-recall-decision-api.make-recall-decision-dev.svc.cluster.local"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
    MAKE_RECALL_DECISIONS_AND_DELIUS_API_URL: "https://make-recall-decisions-and-delius-dev.hmpps.service.justice.gov.uk"
    SENTRY_ENVIRONMENT: "DEV"
    ENVIRONMENT: "dev"
    FEATURE_FLAG_QUERY_PARAMETERS_ENABLED: true
    FEATURE_FLAGRISKTOSELFENABLED: "2026-01-28T08:00Z" # same time in GMT

  scheduledDowntime:
    enabled: true

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: make-recall-decision-nonprod

