{# The default filter uses the default value only if the input value is undefined #}
{% set doBrowserBack = params.doBrowserBack | default(true) %}

<nav>
    <a href={{ params.href | default("/") }} {% if doBrowserBack %} data-js='backlink-btn' {% endif %}
       class="govuk-back-link">{{ params.text | default("Back") }}</a>
</nav>