{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: 'Test admin page', hasErrors: errors }) %}

{% block beforeContent %}
  {{ backLink() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class='govuk-heading-l'>{{ pageHeadings[page.id] }}</h1>

    <form novalidate method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-form-group">
          <div class="govuk-form-group">
            {{ summaryList({
              id: "userMappingSummaryList",
              rows: [
                {
                  key: "Username",
                  value: userMapping.userName
                },
                {
                  key: "PPUD user full name",
                  value: userMapping.ppudUserFullName
                },
                {
                  key: "PPUD team name",
                  value: userMapping.ppudTeamName
                },
                {
                  key: "PPUD username",
                  value: userMapping.ppudUserName
                }
              ]
            }) }}
          </div>
      {{ formSubmitButton( {
        label: "Delete"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
