{% extends "../../../../partials/layout.njk" %}
{% from "components/summary-list/macro.njk" import summaryList %}

{% set pageTitle = makePageTitle({ pageHeading: pageTitles[page.id], hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}

    {% set nomisSentence = selectIndeterminatePpudSentencePageData.nomisSentence %}
    {% set ppudSentences = selectIndeterminatePpudSentencePageData.ppudSentences %}
    {% set determinateSentencesCount = selectIndeterminatePpudSentencePageData.determinateSentencesCount %}
    {% set selectedSentenceId = selectIndeterminatePpudSentencePageData.selectedSentenceId %}

    {% set ppudSentenceRadioButtonList = [] %}
    {% for sentence in ppudSentences %}
        {% set _ =
            ppudSentenceRadioButtonList.push({
                value: sentence.id,
                label: {
                    classes: 'govuk-label car-radio-label-with-summary-list govuk-!-font-weight-bold'
                },
                html: summaryList({
                    id: sentence.id,
                    rows: [
                        { key: 'Offence', value: hyphenForBlank(sentence.offence.indexOffence) },
                        { key: 'Custody type', value: hyphenForBlank(sentence.custodyType) },
                        { key: 'Date of sentence', value: hyphenForBlank(formatDateTimeFromIsoString({ isoDate: sentence.dateOfSentence })) },
                        { key: 'Tariff expiry date', value: hyphenForBlank(formatDateTimeFromIsoString({ isoDate: sentence.tariffExpiryDate })) }
                    ]
                })
            })
        %}
    {% endfor %}

    <h1 class='govuk-heading-l'>{{ pageTitles[page.id] }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../../../../partials/error-summary.njk' %}

            <p class='govuk-body govuk-!-margin-bottom-8'>Check the details of your booking then add it to the correct sentence in PPUD.</p>

            <h2 class='govuk-heading-m'>Booking details from Part A</h2>

            {{ summaryList({
                id: 'nomis-sentence-details',
                rows: [
                    { key: 'Offence', value: hyphenForBlank(nomisSentence.offenceDescription) },
                    { key: 'Date of sentence', value: hyphenForBlank(formatDateTimeFromIsoString({ isoDate: nomisSentence.dateOfSentence })) },
                    { key: 'Sentence type', value: hyphenForBlank(nomisSentence.custodyGroup) },
                    { key: 'Sentence expiry date', value: hyphenForBlank(formatDateTimeFromIsoString({ isoDate: nomisSentence.sentenceExpiryDate })) }
                ]
            }) }}

            <hr class="govuk-section-break govuk-section-break--l">

            <h2 class='govuk-heading-m'>Add your booking to PPUD</h2>

            {# Increase the bottom margin, as otherwise it's too crowded and close to the radio button legend #}
            <p class='govuk-body govuk-!-margin-bottom-7'>Select an existing PPUD sentence for this booking. If something is not right, you can
                edit it in the next step. If the correct sentence is not listed, select add a sentence to create
                one. </p>

            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {# Increase the bottom margin for the legend, as with table items it otherwise looks too close #}
                {{ govukRadios({
                    name: "ppudSentenceId",
                    fieldset: {
                        legend: {
                            text: "Indeterminate sentences in PPUD",
                            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-6"
                        }
                    },
                    value: selectedSentenceId,
                    items: ppudSentenceRadioButtonList
                }) }}

                {% if determinateSentencesCount | int > 0 %}
                    {% set summaryText = determinateSentencesCount + " determinate sentence" + ("s" if determinateSentencesCount > 1 else "") %}
                    {% set html %}
                        You can <a id="determinate-sentences-link" class="govuk-link" href="/recommendations/{{ recommendation.id }}/determinate-ppud-sentences">view the {{ "determinate sentence" + ("s" if determinateSentencesCount > 1 else "") }}</a> for {{ selectIndeterminatePpudSentencePageData.fullName }}
                    {% endset %}
                    {{ govukDetails({
                            id: 'determinateSentencesDetails',
                            summaryText: summaryText,
                            html: html
                           })
                    }}
                {% endif %}

                {{ formSubmitButton() }}
            </form>

        </div>
    </div>
{% endblock %}