{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: section.label + " - Case summary", hasErrors: errors }) %}

{% block headEnd %}
    <link rel="prefetch" href="{{ pageUrlBase }}contact-history">
    <link rel="prefetch" href="{{ pageUrlBase }}overview">
    <link rel="prefetch" href="{{ pageUrlBase }}risk">
    <link rel="prefetch" href="{{ pageUrlBase }}personal-details">
    <link rel="prefetch" href="{{ pageUrlBase }}licence-conditions">
{% endblock %}

{% block beforeContent %}
    <nav aria-label='Back to person search'>
    {{ govukBackLink({
        html: "Back<span class='govuk-visually-hidden'> to person search</span>",
        href: '/search'
    }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            <ul class="govuk-list govuk-caption-l inline-list-from-tablet">
                <li>CRN: <span data-qa='personalDetailsOverview-crn'>{{ caseSummary.personalDetailsOverview.crn }}</span><span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span></li>
                <li>Date of birth: <span data-qa='personalDetailsOverview-dateOfBirth'>{{ formatDateTimeFromIsoString({isoDate: caseSummary.personalDetailsOverview.dateOfBirth}) }}</span> (age <span data-qa='personalDetailsOverview-age'>{{ caseSummary.personalDetailsOverview.age }}</span>)<span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span></li>
                <li>Gender: <span data-qa='personalDetailsOverview-gender'>{{ caseSummary.personalDetailsOverview.gender }}</span></li>
            </ul>
            <div class="govuk-heading-xl" data-qa='sectionHeading'>{{ caseSummary.personalDetailsOverview.name }}</div>
            {{ mojSubNavigation({
                label: 'Case summary sections',
                items: [
                    {
                        text: 'Overview',
                        href: pageUrlBase + 'overview',
                        active: section.id == 'overview'
                    },
                    {
                        text: 'Risk',
                        href: pageUrlBase + 'risk',
                        active: section.id == 'risk'
                    },
                    {
                        text: 'Personal details',
                        href: pageUrlBase + 'personal-details',
                        active: section.id == 'personal-details'
                    },
                    {
                        text: 'Licence conditions',
                        href: pageUrlBase + 'licence-conditions',
                        active: section.id == 'licence-conditions'
                    },
                    {
                        text: 'Contact history',
                        href: pageUrlBase + 'contact-history',
                        active: section.id == 'contact-history'
                    }
                ]
            }) }}
            {% if section.id =='overview' %}
                {% include '../partials/caseOverview.njk' %}
            {% elseif section.id =='risk' %}
                {% include '../partials/caseRisk.njk' %}
            {% elseif section.id =='personal-details' %}
                {% include '../partials/casePersonalDetails.njk' %}
            {% elseif section.id =='licence-conditions' %}
                {% include '../partials/caseLicenceConditions.njk' %}
            {% elseif section.id =='contact-history' %}
                {% include '../partials/caseContactHistory.njk' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
