{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "What has made you think about recalling the person?", hasErrors: errors }) %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../partials/error-summary.njk' %}
            <form novalidate method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="crn" value="{{ caseSummary.personalDetailsOverview.crn }}" />
                <input type="hidden" name="recommendationId" value="{{ caseSummary.activeRecommendation.recommendationId }}" />
                {{ govukTextarea({
                    name: "recallConsideredDetail",
                    id: "recallConsideredDetail",
                    label: {
                        text: "What has made you think about recalling " + caseSummary.personalDetailsOverview.name + "?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        html: "Explain what has made you consider whether " + caseSummary.personalDetailsOverview.name + " should be recalled or not."
                    },
                    value: inputDisplayValue,
                    errorMessage: errorMessage(errors.recallConsideredDetail)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}

