{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Sorry, there is a problem with the service" }) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            {% if not isProduction %}
                <hr />
                <p class='govuk-body'>{{ message }}</p>
                <p class='govuk-body'>Status: {{ status }}</p>
                <pre class='govuk-body'>{{ stack }}</pre>
            {% endif %}
        </div>
    </div>

{% endblock %}
