{% extends "../partials/layout.njk" %}

{% set title = "Excluded case" if caseSummary.userAccessResponse.userExcluded else ("Restricted case" if caseSummary.userAccessResponse.userRestricted else "User not found") %}
{% set pageTitle = makePageTitle({ pageHeading: title }) %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class='govuk-body'>
                {% if caseSummary.userAccessResponse.userNotFound %}
                    There is a problem with your NDelius account. Contact support on the HMPPS Technology Portal for help.
                {% else %}
                {{ caseSummary.userAccessResponse.exclusionMessage if caseSummary.userAccessResponse.userExcluded else caseSummary.userAccessResponse.restrictionMessage }}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
