{% extends "../partials/layout.njk" %}


{% set pageTitle = makePageTitle({ pageHeading: "Search for a person on probation" }) %}

{% block content %}
    {% include '../partials/error-summary.njk' %}
    <h1 class="govuk-heading-xl">Search for a person on probation</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <nav class="moj-sub-navigation" aria-label="Case summary sections">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="/search-by-name">Search by name</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="/search-by-crn">Search by case reference number (CRN)</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">

            <form action="/search-results-by-name" method="get" novalidate>
                 {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    id: "lastName",
                    name: "lastName",
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.lastName,
                    errorMessage: errorMessage(errors.lastName)
                 }) }}
                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "firstName",
                    name: "firstName",
                    classes: "govuk-input--width-20",
                    value: inputDisplayValues.firstName,
                    errorMessage: errorMessage(errors.firstName)
                 }) }}
                <input type="hidden" name="page" value="1" />
                <button class="govuk-button" data-module="govuk-button">
                    Search
                </button>

            </form>

        </div>
    </div>
{% endblock %}
