{% extends "../partials/layout.njk" %}


{% set pageTitle = makePageTitle({ pageHeading: "Search for a person on probation" }) %}

{% block content %}
    {% include '../partials/error-summary.njk' %}
    <h1 class="govuk-heading-xl">Search for a person on probation</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            <div class="moj-search">
                <form action="/search-results-by-crn" method="get" novalidate>
                    {{ govukInput({
                        label: {
                            text: "Search by Case Reference Number (CRN)",
                            classes: "govuk-label--m"
                        },
                        id: "crn",
                        name: "crn",
                        hint: {
                            text: 'For example, X123456'
                        },
                        errorMessage: errorMessage(errors.crn)
                    }) }}

                    <button class="govuk-button moj-search__button " data-module="govuk-button">
                        Search
                    </button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
