{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Search results"}) %}

{% set continuationPath = '/book-to-ppud' if bookingOnStarted else '/search-ppud' %}

{% block beforeContent %}
    {{ backLink() }}
{% endblock %}

{% block content %}
    {{ heading('Search results') }}

    <p class="govuk-body-l">
        <span class='govuk-!-font-weight-bold'>Case reference number (CRN):</span>
        <span>{{ crn }}</span>
    </p>

    {{ govukTable(        {
        classes: 'govuk-!-margin-bottom-7',
        caption: 'Persons found',
        captionClasses: 'govuk-visually-hidden',
        head: [
            { text: 'Name' },
            { text: 'CRN' },
            { text: 'Date of birth' }
        ],
        rows: [
            [
                { text: result.name },
                { text: result.crn },
                { text: formatDateTimeFromIsoString({isoDate: result.dateOfBirth}) }
            ]
        ]
    }
    ) }}

    {{ govukButton({
        text: 'Continue',
        classes: 'govuk-body-l govuk-!-margin-right-6',
        href: '/recommendations/' + result.recommendationId + continuationPath
    }) }}

    {{ govukButton({
        text: 'Search for another CRN',
        classes: 'govuk-button--secondary',
        href: '/ppcs-search'
    }) }}

{% endblock %}
