{% extends "../../partials/layout.njk" %}
{% from "components/heading/macro.njk" import heading %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

        {{ heading('You cannot book on a recall', 1, "l") }}

        {{ bodyParagraph( "Your NDelius and PPUD accounts need to be connected before you can book on a recall." ) }}
        {{ bodyParagraph( "Go to the user admin page to update your accounts." ) }}

        <p class="govuk-body govuk-!-margin-bottom-1"> You will need your: </p>
            <ul class='govuk-list govuk-list--bullet' data-qa="required-details">
                <li> NDelius username </li>
                <li> PPUD username </li>
                <li> full name as it appears in PPUD </li>
                <li> team name as it appears in PPUD </li>
            </ul>

        <a class="govuk-link" href="/sign-out">
            Back to sign in
        </a>

    </div>

{% endblock %}
