{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Start page" }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">{{ applicationName }}</h1>
            <p>Use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>view information about a person on probation</li>
                <li>record a decision to recall someone</li>
                <li>record a decision not to recall someone</li>
                <li>review a decision made by someone else</li>
            </ul>

            <p>The information in this service comes from OASys and NDelius. You can check someone’s:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>case history and contact log</li>
                <li>risk factors</li>
                <li>licence history</li>
            </ul>

            <a href="/search" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
            <h2 class='govuk-heading-m'>Before you start</h2>
            <p>You must be an employee of Her Majesty’s Prison and Probation Service (HMPPS) to use this service.</p>
        </div>
    </div>
{% endblock %}
