{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Start page" }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">{{ applicationName }}</h1>

            <p>Use this service to view information about a person on probation. This will help you make a recommendation about recall.</p>

            <p>You can recommend to either:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>recall someone and fill in a Part A</li>
                <li>not recall someone and write a decision not to recall letter</li>
            </ul>

            <p>This service cannot:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>help you write a licence compliance letter</li>
                <li>make a decision for you</li>
            </ul>

            <p>The information in this service comes from OASys and NDelius.</p>

            <a href="{{searchEndpoint}}" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}
