{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Start page for PPCS" }) %}
{% block beforeContent %}
  {% if notification.isVisible %}
    {% set html %}
      {% if notification.header %}
        <p class="govuk-notification-banner__heading">
          {{ notification.header }}
        </p>
      {% endif %}
      <span class="govuk-body">{{ notification.body }}</span>
    {% endset %}
    {{ govukNotificationBanner({html: html}) }}
  {% endif %}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">Check and book a recall</h1>

            <p>Use this service to check recall requests from probation and book recalls onto PPUD.</p>

            <p>To check and book a recall:</p>
            <ul class="govuk-list govuk-list--number">
                <li>Find a person in NOMIS.</li>
                <li>Check the Part A, licence and previous convictions (MG16) against NOMIS.</li>
                <li>Confirm the details are correct.</li>
                <li>Book the recall onto PPUD.</li>
            </ul>

            <a href="{{searchEndpoint}}" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}
